.blueAnglePanel {
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:after {
    width: 200px;
    height: 100px;
    background: #8cceef;
    content: "";
    position: absolute;
    transform: rotate(45deg);
    bottom: -82px;
    left: -100px;
  }
}
