{{> ../../layout/Hat endpoint=true withBorder=true}}

<div class="page">
    <div class="container">
        {{> ../../common/breadcrumbs/Breadcrumbs}}

        <h1 class="header1">Поиск возможных конкурентов на торгах</h1>

        <div class="page__block containerFrame-xxl">
            {{> FormSearchLot }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="d-flex justify-content-center mt-4">
            {{> ../../common/pagination/Pagination }}
        </div>
    </div>
</div>

{{> ../../layout/footer/Footer withBorder=true}}