<div class="d-flex flex-column justify-content-between">
    <div class="color_8cceef fs-16px fs-md-18px fw-semibold mb-2">Союз арбитражный управляющих</div>

    <div class="d-md-flex align-items-center mb-2">
        <div class="mb-2 mb-md-0 me-md-4">{{> ../../../common/link-phone/LinkPhone }}</div>
        <div class="mb-2 mb-md-0 me-md-4">{{> ../../../common/link-email/LinkEmail }}</div>
        <div class="">{{> ../../../common/link-website/LinkWebsite }}</div>
    </div>

    {{> ../../../common/location/Location }}
</div>