<div class="personalDataPanelSroRegistry">
    <div class="mb-2 mb-xxl-0">{{> NamePanel}}</div>

    <div>
        <div class="nameValuePair mb-2">
            <div class="name">ИНН:</div>
            <div class="value fw-normal">000000000000</div>
        </div>

        <div class="nameValuePair mb-2">
            <div class="name">ОГРН:</div>
            <div class="value fw-normal">112545878554452</div>
        </div>

        <div class="nameValuePair mb-2">
            <div class="name">Регистрационный номер:</div>
            <div class="value fw-normal">009</div>
        </div>

        <div class="nameValuePair mb-2 mb-xxl-0">
            <div class="name">Дата регистрации:</div>
            <div class="value fw-normal">02.07.2013</div>
        </div>
    </div>

    <div class="nameValuePair align-items-start mb-2 mb-xxl-0">
        <div class="name">Адрес:</div>
        <div class="value fw-normal">119019, г. Москва, Нащокинский переулок, д.12, строение 1, каб.4</div>
    </div>

    <div>
        <div class="nameValuePair mb-2">
            <div class="name">Компенсационный фонд:</div>
            <div class="value value_strong">52 млн ₽</div>
        </div>

        <div class="nameValuePair mb-2">
            <div class="name">Проверки:</div>
            <div class="value value_strong">7</div>
        </div>

        <div class="nameValuePair mb-2">
            <div class="name">Нарушений:</div>
            <div class="value value_strong">6</div>
        </div>

        <div class="nameValuePair">
            <div class="name">Кол-во управляющих:</div>
            <div class="value value_strong">200</div>
        </div>
    </div>
</div>
