<div class="personalDataPanelSroRegistry">
    {{> NamePanel}}

    <div>
        <div class="nameValuePair">
            <div class="name">ИНН:</div>
            <div class="value fw-normal">000000000000</div>
        </div>

        <div class="nameValuePair">
            <div class="name">ОГРН:</div>
            <div class="value fw-normal">112545878554452</div>
        </div>

        <div class="nameValuePair">
            <div class="name">Регистрационный номер:</div>
            <div class="value fw-normal">009</div>
        </div>

        <div class="nameValuePair">
            <div class="name">Дата регистрации:</div>
            <div class="value fw-normal">02.07.2013</div>
        </div>
    </div>

    <div class="nameValuePair align-items-start">
        <div class="name">Адрес:</div>
        <div class="value fw-normal">119019, г. Москва, Нащокинский переулок, д.12, строение 1, каб.4</div>
    </div>

    <div>
        <div class="nameValuePair">
            <div class="name">Компенсационный фонд:</div>
            <div class="value fs-20px">52 млн ₽</div>
        </div>

        <div class="nameValuePair">
            <div class="name">Проверки:</div>
            <div class="value fs-20px">7</div>
        </div>

        <div class="nameValuePair">
            <div class="name">Нарушений:</div>
            <div class="value fs-20px">6</div>
        </div>

        <div class="nameValuePair">
            <div class="name">Кол-во управляющих:</div>
            <div class="value fs-20px">200</div>
        </div>
    </div>
</div>
