<div class="input-group searchInput">
    <span class="input-group-text" id="basic-addon1">
        {{> ../icons/search/Search class="icon"}}
    </span>

    <input
        type="text"
        class="form-control"
        placeholder="{{placeholder}}"
        aria-label="Username"
        aria-describedby="basic-addon1"
        id="tags_input_test-selectized"
    />
</div>