{{> ../../layout/Hat}}

<div class="searchResults">
    <div class="settings">
        <div class="container">
            <div class="row">
                <div class="col d-flex">
                    <h1 class="header2">Результаты поиска</h1>

                    <ul class="tags list-unstyled m-0">
                        <li class="item">Регион: Москва</li>
                        <li class="item">Направление: Банкротство</li>
                        <li class="item">Категория: Жилая недвижимость</li>
                        <li class="item">Форирование цены: Аукцион</li>
                        <li class="item">Сортировать по: Популярности</li>
                        <li class="item">Форирование цены: Аукцион</li>
                        <li class="item">Сортировать по: Популярности</li>
                    </ul>

                    {{> ../../common/catalog-toggle-view/CatalogToggleView lines=true}}
                </div>
            </div>
        </div>
    </div>

    <div class="offers">
        <div class="container">
            {{> ../search-results/Catalog isLineMode=true}}
        </div>
    </div>

    <div class="d-flex justify-content-center mt-4">
        {{> ../../common/pagination/Pagination}}
    </div>
</div>

{{> ../../layout/footer/Footer}}