
.breadcrumbs {
  height: pxToRem(82);
  border-bottom: 1px solid #d4d4d4;
  white-space: nowrap;
  overflow-x: scroll;

  @include breakpoint(md) {
    border-bottom: none;
    overflow-x: visible;
  }

  .item {
    font-size: pxToRem(16);
    font-weight: 600;

    &:last-child {
      color: #161616;
    }

    &:not(:last-child) {
      .link {
        text-decoration: none;
        color: #9b9b9b;
      }

      &:after {
        content: "/";
        color: #9b9b9b;
        margin: 0 pxToRem(20);
      }
    }
  }
}
