<div class="item">
    <div class="hat mb-1">Правила работы</div>

    <div class="text">
        HEVEYA.RU - информационный сервис для покупателей. На одной витрине собрана информация о
        всех
        видах имущественных торгов и реализации непрофильных активов банков, лизинговых
        компаний.
        Все
        объявления
        представлены в удобном и привычном виде. Расширенный поиск позволяет находить
        предложения с
        макси
    </div>

    <div class="d-flex justify-content-between mt-1">
        <span class="icons">
            {{> ../../common/icons/vk-circle/VKCircle}}
            {{> ../../common/icons/telegram-circle/TelegramCircle}}
        </span>

        <a href="#" class="readMore baseLink">Перейти</a>
    </div>
</div>