<div class="offers">
    <div class="container-lg">
        <div class="row">
            <div class="col">
                <h1 class="header1 offersHeader">Гевея - информационная система имущественных торгов</h1>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex justify-content-between">
                {{#each offers}}
                    {{> offer offer=this}}
                {{/each}}
            </div>

            <div class="d-flex justify-content-center show-all-offers">
                <span class="button">Все предложения</span>
            </div>
        </div>
    </div>
</div>

<div class="winners">
    <div class="container-lg">
        <h2 class="header2">Победители и сделки</h2>

        <div class="d-flex justify-content-between">
            <div class="winnersItem winnersItem_theme_1">
                <span class="winnersItemText">Поздравляем победителей</span>
            </div>
            <div class="winnersItem winnersItem_theme_2">
                <span class="winnersItemText">Топ 20 победителей месяца</span>
            </div>
            <div class="winnersItem winnersItem_theme_3">
                <span class="winnersItemText">Топ 100 сделок месяца</span>
            </div>
        </div>
    </div>
</div>

<div class="interests">
    <div class="container-lg">
        <h2 class="header2">Это интересно</h2>

        <div class="grid">
            <div class="item item_1">
                <span class="title d-flex flex-column align-items-center">
                    <span>Можно успеть!</span>
                    <span class="subtitle">До завершения торгов 2 дня</span>
                </span>
            </div>

            <div class="item item_2">
                <span class="title">Цена 1 рубль</span>
            </div>

            <div class="item item_3">
                <span class="title">Автомобили со скидкой <br> более 50%</span>
            </div>

            <div class="item item_4">
                <span class="title">Проверь конкурента на торгах</span>
            </div>

            <div class="item item_5">
                <span class="title">Недвижимость со скидкой <br> более 50%</span>
            </div>

            <div class="item item_6">
                <span class="title">Аукционные брокеры</span>
            </div>

            <div class="item item_7">
                <span class="title">Возможные конкуренты</span>
            </div>
        </div>
    </div>
</div>

<div class="top100">
    <div class="container-lg">
        <h2 class="header2">Выбор пользователей: ТОП 100 лотов</h2>

        <div class="row">
            <div class="col-12">
                <div class="grid">
                    {{> ../../common/LotCard}}
                    {{> ../../common/LotCard}}
                    {{> ../../common/LotCard}}
                    {{> ../../common/LotCard}}
                    {{> ../../common/LotCard}}
                    {{> ../../common/LotCard}}
                    {{> ../../common/LotCard}}
                    {{> ../../common/LotCard}}
                    {{> ../../common/LotCard}}
                    {{> ../../common/LotCard}}
                </div>

                <div class="d-flex justify-content-center show-all-button">
                    <span class="button">Все предложения</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ratings">
    <div class="container-lg">
        <h2 class="header2 mb-4">Рейтинги</h2>

        <div class="row">
            {{setVarArray "lists"  '[{"theme": "blue", "header": "Рейтинг участников\nторгов"}, {"theme": "orange", "header": "Рейтинг организаторов\nторгов"}, {"theme": "gray", "header": "Рейтинг арбитражных\nуправляющих"}, {"theme": "green", "header": "Рейтинг электронных\nплощадок"}]'}}
            {{#each lists}}
                <div class="col-3">
                    <div class="listHeader d-flex mb-3">
                        <span class="iconWrapper iconWrapper_theme_{{this.theme}}">{{> ../../common/icons/rating/Rating class="icon"}}</span>
                        <span class="ms-3 text">{{this.header}}</span>
                    </div>

                    {{> RatingList theme=this.theme}}
                </div>
            {{/each}}
        </div>
    </div>
</div>
