{{> ../../layout/Hat}}

<div class="home">
    <div class="slider">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/layout/hat/slider-dummy.jpg" class="d-block w-100" alt="image dummy">
                </div>
                <div class="carousel-item">
                    <img src="/images/layout/hat/slider-dummy.jpg" class="d-block w-100" alt="image dummy">
                </div>
                <div class="carousel-item">
                    <img src="/images/layout/hat/slider-dummy.jpg" class="d-block w-100" alt="image dummy">
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="sliderButton">{{> ../../common/icons/arrow-left/ArrowLeft class="icon"}}</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="sliderButton">{{> ../../common/icons/arrow-right/ArrowRight class="icon"}}</span>
            </button>
        </div>
    </div>

    <div class="offers">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="header1 offersHeader">Гевея - информационная система имущественных торгов</h1>
                </div>
            </div>

            <div class="grid">
                <a href="#" class="item1 itemWrapper text-decoration-none">
                    <div class="item blueAnglePanel">
                        <img src="/images/home/offers/1.svg" alt="" class="icon">

                        <div class="fs-18px fw-bold d-none d-xl-block">
                            <div class="title">Легковые <br> автомобили</div>
                            {{> offer/Location }}
                        </div>
                    </div>

                    <div class="fs-14px d-xl-none">
                        <div class="title">Легковые автомобили</div>
                        {{> offer/Location }}
                    </div>
                </a>

                <a href="#" class="item2 itemWrapper text-decoration-none">
                    <div class="item blueAnglePanel">
                        <img src="/images/home/offers/2.svg" alt="" class="icon">

                        <div class="fs-18px fw-bold d-none d-xl-block">
                            <div class="title">Коммерческий транспорт</div>
                            {{> offer/Location }}
                        </div>
                    </div>

                    <div class="fs-14px d-xl-none">
                        <div class="title">Коммерческий транспорт</div>
                        {{> offer/Location }}
                    </div>
                </a>

                <a href="#" class="item3 itemWrapper text-decoration-none">
                    <div class="item blueAnglePanel">
                        <img src="/images/home/offers/3.svg" alt="" class="icon d-xl-none">

                        <div class="fs-18px fw-bold d-none d-xl-block">
                            <div class="title">Спецтехника</div>
                            {{> offer/Location }}
                        </div>
                    </div>

                    <div class="fs-14px d-xl-none">
                        <div class="title">Спецтехника</div>
                        {{> offer/Location }}
                    </div>
                </a>

                <a href="#" class="item4 itemWrapper text-decoration-none">
                    <div class="item blueAnglePanel">
                        <img src="/images/home/offers/4.svg" alt="" class="icon d-xl-none">

                        <div class="fs-18px fw-bold d-none d-xl-block">
                            <div class="title">Станки и <br> оборудование</div>
                            {{> offer/Location }}
                        </div>
                    </div>

                    <div class="fs-14px d-xl-none">
                        <div class="title">Станки и <br> оборудование</div>
                        {{> offer/Location }}
                    </div>
                </a>

                <a href="#" class="item5 itemWrapper text-decoration-none">
                    <div class="item blueAnglePanel">
                        <img src="/images/home/offers/5.svg" alt="" class="icon">

                        <div class="fs-18px fw-bold d-none d-xl-block">
                            <div class="title">Жилая <br> недвижимость</div>
                            {{> offer/Location }}
                        </div>
                    </div>

                    <div class="fs-14px d-xl-none">
                        <div class="title">Жилая <br> недвижимость</div>
                        {{> offer/Location }}
                    </div>
                </a>

                <a href="#" class="item6 itemWrapper text-decoration-none">
                    <div class="item blueAnglePanel">
                        <img src="/images/home/offers/6.svg" alt="" class="icon d-xl-none">

                        <div class="fs-18px fw-bold d-none d-xl-block">
                            <div class="title">Коммерческая <br> недвижимость</div>
                            {{> offer/Location }}
                        </div>
                    </div>

                    <div class="fs-14px d-xl-none">
                        <div class="title">Коммерческая <br> недвижимость</div>
                        {{> offer/Location }}
                    </div>
                </a>

                <a href="#" class="item7 itemWrapper text-decoration-none">
                    <div class="item blueAnglePanel">
                        <img src="/images/home/offers/7.svg" alt="" class="icon d-xl-none">

                        <div class="fs-18px fw-bold d-none d-xl-block">
                            <div class="title">Имущественный <br> комплекс</div>
                            {{> offer/Location }}
                        </div>
                    </div>

                    <div class="fs-14px d-xl-none">
                        <div class="title">Имущественный <br> комплекс</div>
                        {{> offer/Location }}
                    </div>
                </a>

                <a href="#" class="item8 itemWrapper text-decoration-none">
                    <div class="item blueAnglePanel">
                        <img src="/images/home/offers/8.svg" alt="" class="icon d-xl-none">

                        <div class="fs-18px fw-bold d-none d-xl-block">
                            <div class="title">Сельское <br> хозяйство</div>
                            {{> offer/Location }}
                        </div>
                    </div>

                    <div class="fs-14px d-xl-none">
                        <div class="title">Сельское <br> хозяйство</div>
                        {{> offer/Location }}
                    </div>
                </a>

                <a href="#" class="item9 itemWrapper text-decoration-none">
                    <div class="item blueAnglePanel">
                        <img src="/images/home/offers/9.svg" alt="" class="icon d-xl-none">

                        <div class="fs-18px fw-bold d-none d-xl-block">
                            <div class="title">Материальные <br> ценности</div>
                            {{> offer/Location }}
                        </div>
                    </div>

                    <div class="fs-14px d-xl-none">
                        <div class="title">Материальные <br> ценности</div>
                        {{> offer/Location }}
                    </div>
                </a>

                <a href="#" class="item10 itemWrapper text-decoration-none">
                    <div class="item blueAnglePanel">
                        <img src="/images/home/offers/10.svg" alt="" class="icon">

                        <div class="fs-18px fw-bold d-none d-xl-block">
                            <div class="title">Права требования</div>
                            {{> offer/Location }}
                        </div>
                    </div>

                    <div class="fs-14px d-xl-none">
                        <div class="title">Права требования</div>
                        {{> offer/Location }}
                    </div>
                </a>

                <a href="#" class="item11 d-block d-xl-none text-decoration-none color_161616">
                    <div class="item baseButton">
                        <img src="/images/home/offers/11.svg" alt="" class="icon">
                    </div>

                    <div class="fs-14px d-xl-none">
                        <div class="title">Все предложения</div>
                    </div>
                </a>
            </div>

            <div class="row d-none d-lg-flex">
                <div class="d-flex justify-content-center show-all-offers">
                    <div class="baseButton w-auto">Все предложения</div>
                </div>
            </div>
        </div>
    </div>

    <div class="winners">
        <div class="container">
            <h2 class="header2 mb-4">Победители и сделки</h2>

            <div class="grid">
                <a href="#" class="gridArea1 winnersItem winnersItem_theme_1 text-decoration-none">
                    <span class="winnersItemText">Поздравляем <br> победителей</span>
                </a>

                <a href="#" class="gridArea2 winnersItem winnersItem_theme_2 text-decoration-none">
                    <span class="winnersItemText">Топ 20 победителей месяца</span>
                </a>

                <a href="#" class="gridArea3 winnersItem winnersItem_theme_3 text-decoration-none">
                    <span class="winnersItemText">Топ 100 сделок месяца</span>
                </a>
            </div>
        </div>
    </div>

    <div class="interests">
        <div class="container">
            <h2 class="interests__header header2 mb-4">Это интересно</h2>

            <div class="grid">
                <a href="#" class="item item_1 text-decoration-none">
                    <span class="title d-flex flex-column align-items-center">
                        <span>Можно успеть!</span>
                        <span class="subtitle">До завершения торгов 2 дня</span>
                    </span>
                </a>

                <a href="#" class="item item_2 text-decoration-none">
                    <span class="title">Цена 1 рубль</span>
                </a>

                <a href="#" class="item item_3 text-decoration-none">
                    <span class="title">Автомобили со скидкой <br> более 50%</span>
                </a>

                <a href="#" class="item item_4 text-decoration-none">
                    <span class="title">Проверь конкурента на торгах</span>
                </a>

                <a href="#" class="item item_5 text-decoration-none">
                    <span class="title">Недвижимость со скидкой <br> более 50%</span>
                </a>

                <a href="#" class="item item_6 text-decoration-none">
                    <span class="title">Аукционные брокеры</span>
                </a>

                <a href="#" class="item item_7 text-decoration-none">
                    <span class="title">Возможные конкуренты</span>
                </a>
            </div>
        </div>
    </div>

    <div class="top100">
        <div class="container">
            <h2 class="top100__header header2">Выбор пользователей: ТОП 100 лотов</h2>

            <div class="row">
                <div class="col-12">
                    <div class="grid">
                        {{> ../../common/lot-card/tile/Open}}
                        {{> ../../common/lot-card/tile/Open}}
                        {{> ../../common/lot-card/tile/Open}}
                        {{> ../../common/lot-card/tile/Open}}
                        {{> ../../common/lot-card/tile/Open}}
                        {{> ../../common/lot-card/tile/Open}}
                        {{> ../../common/lot-card/tile/Open}}
                        {{> ../../common/lot-card/tile/Open}}
                        {{> ../../common/lot-card/tile/Open}}
                        {{> ../../common/lot-card/tile/Open}}
                    </div>

                    <div class="d-flex justify-content-center show-all-button">
                        <span class="baseButton w-auto">Все предложения</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ratings">
        <div class="container">
            <h2 class="header2 mb-4">Рейтинги</h2>

            <div class="listsWrapper">
                <div class="grid">
                <div class="gridArea1 listContainer">
                    <div class="listHeader d-flex mb-md-3">
                        <span
                            class="iconWrapper iconWrapper_theme_blue">{{> ../../common/icons/rating/Rating class="icon"}}</span>
                        <span class="text listHeader__text">Рейтинг участников <br> торгов</span>
                    </div>

                    {{> RatingList theme="blue"}}
                </div>

                <div class="gridArea2 listContainer">
                    <div class="listHeader d-flex mb-md-3">
                        <span
                            class="iconWrapper iconWrapper_theme_orange">{{> ../../common/icons/rating/Rating class="icon"}}</span>
                        <span class="text listHeader__text">Рейтинг организаторов <br> торгов</span>
                    </div>

                    {{> RatingList theme="orange"}}
                </div>

                <div class="gridArea3 listContainer">
                    <div class="listHeader d-flex mb-md-3">
                        <span
                            class="iconWrapper iconWrapper_theme_gray">{{> ../../common/icons/rating/Rating class="icon"}}</span>
                        <span class="text listHeader__text">Рейтинг арбитражных <br> управляющих</span>
                    </div>

                    {{> RatingList theme="gray"}}
                </div>

                <div class="gridArea4 listContainer">
                    <div class="listHeader d-flex mb-md-3">
                        <span
                            class="iconWrapper iconWrapper_theme_green">{{> ../../common/icons/rating/Rating class="icon"}}</span>
                        <span class="text listHeader__text">Рейтинг электронных <br> площадок</span>
                    </div>

                    {{> RatingList theme="green"}}
                </div>
            </div>
            </div>
        </div>
    </div>

    {{> market/Market }}

    {{> registries/Registries }}

    {{> articles/Articles }}
</div>

{{> ../../layout/footer/Footer}}