<div class="listHeader d-flex mb-3">
    <span class="iconWrapper iconWrapper_theme_{{theme}}">
        {{> ../../common/icons/rating/Rating class="icon"}}
    </span>

    <span class="ms-3 text">{{name}}</span>
</div>

{{> RatingList theme=this.theme}}