<ul class="ratingList ratingList_theme_{{theme}} list-unstyled mb-0">
    <li class="item d-flex">
        <div class="number">1.</div>
        <div class="name flex-grow-1">Иванов Иван Иванович</div>
        <div class="percent">98%</div>
    </li>

    <li class="item d-flex">
        <div class="number">2.</div>
        <div class="name flex-grow-1">Иванов Иван Иванович</div>
        <div class="percent">98%</div>
    </li>

    <li class="item d-flex">
        <div class="number">3.</div>
        <div class="name flex-grow-1">Иванов Иван Иванович</div>
        <div class="percent">98%</div>
    </li>

    <li class="item d-flex">
        <div class="number">4.</div>
        <div class="name flex-grow-1">Иванов Иван Иванович</div>
        <div class="percent">98%</div>
    </li>

    <li class="item d-flex">
        <div class="number">5.</div>
        <div class="name flex-grow-1">Иванов Иван Иванович</div>
        <div class="percent">98%</div>
    </li>

    <li class="item d-flex">
        <div class="number">6.</div>
        <div class="name flex-grow-1">Иванов Иван Иванович</div>
        <div class="percent">98%</div>
    </li>

    <li class="item d-flex">
        <div class="number">7.</div>
        <div class="name flex-grow-1">Иванов Иван Иванович</div>
        <div class="percent">98%</div>
    </li>

    <li class="item d-flex">
        <div class="number">8.</div>
        <div class="name flex-grow-1">Иванов Иван Иванович</div>
        <div class="percent">98%</div>
    </li>

    <li class="item d-flex">
        <div class="number">9.</div>
        <div class="name flex-grow-1">Иванов Иван Иванович</div>
        <div class="percent">98%</div>
    </li>

    <li class="item d-flex">
        <div class="number">10.</div>
        <div class="name flex-grow-1">Иванов Иван Иванович</div>
        <div class="percent">98%</div>
    </li>
</ul>
