.footer {
  color: #0f0f0f;
  padding: pxToRem(52) 0 pxToRem(32);
  margin: pxToRem(65) 0 0 0;

  &_withBorder {
    border-top: 1px solid #d4d4d4;
  }

  @include breakpoint(lg) {
    border-top: 1px solid #d4d4d4;
  }

  .divider {
    border-bottom: 1px solid #d5d5d5;
    margin: pxToRem(46) 0 pxToRem(32);
  }

  .appLink {
    &:not(:last-child) {
      margin: 0 0 pxToRem(10);
    }
  }

  .navigationLink {
    font-size: pxToRem(20);
    font-weight: 600;
    text-align: center;
    margin: 0 0 pxToRem(20);

    .link {
      text-decoration: none;
      color: #0f0f0f;
    }

    @include breakpoint(md) {
      text-align: left;
      margin: 0;

      &:not(:last-child) {
        margin: 0 0 pxToRem(20);
      }
    }

    @include breakpoint(xl) {
      font-size: pxToRem(16);
    }

    @include breakpoint(xxl) {
      font-size: pxToRem(20);
    }
  }

  .socialIcon {
    width: pxToRem(42);
    height: pxToRem(42);
  }

  .contactLink {
    font-size: pxToRem(20);
    text-decoration: none;
    color: #0f0f0f;
    font-weight: 600;

    .icon {
      color: #8cceef;
    }

    .link {
      color: #0F0F0F;
      text-decoration: none;
    }
  }

  .graphic {
    color: #434343;
    font-size: pxToRem(13);
  }

  .contactsMobile {
    &__icon {
      margin: 0 pxToRem(20) 0 0;
    }

    &__phoneLink {
      margin: 0 0 pxToRem(24);
    }

    &__emailLink {
      margin: 0 0 pxToRem(42);
    }

    .phoneIcon {
      width: pxToRem(22);
      height: pxToRem(22);
    }

    .socialsWrapper {
      width: pxToRem(210);
    }
  }

  .contactsTablet {
    &__socials {
      margin: pxToRem(54) 0 0;
    }

    &__icon {
      margin: 0 pxToRem(12) 0 0;
    }

    &__graphic {
      position: absolute;
      bottom: -16px;
      display: block;
      left: 0;
    }

    .socialsWrapper {
      width: pxToRem(180);
    }
  }

  .contactsDesktop {
    .socialsWrapper {
      width: pxToRem(160);
    }
  }
}
