.hat {
  .contacts {
    height: pxToRem(51);
    background-color: #f3f3f3;

    .divider {
      margin: 0 pxToRem(24);
      height: pxToRem(36);
      border-right: 1px solid #d4d4d4;
    }

    .menu {
      .item {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: pxToRem(16);
        text-decoration: none;
        color: #434343;
        cursor: pointer;

        &_menu {
          display: flex;
          align-items: center;
          justify-content: center;
          height: pxToRem(51);
          padding: 0 pxToRem(26);
          background-color: #ffe7d3;
          color: #ef7f1a;
          margin: 0 0 0 pxToRem(24);
        }

        &_color_orange {
          color: #ef7f1a;
        }

        .icon {
          width: pxToRem(16);
          margin: 0 pxToRem(8) 0 0;
        }
      }
    }

    .notifications {
      font-weight: bold;
      font-size: pxToRem(16);

      .icon {
        height: pxToRem(18);

        &_bell {
          height: pxToRem(22);
        }
      }

      .badge {
        top: -4px;
        right: -4px;
      }
    }
  }

  .navigation {
    padding: pxToRem(16) 0;
    height: pxToRem(82);
    background-color: #f5f5f5;
    border-bottom: 1px solid #d4d4d4;

    .searchButton {
      .button {
        height: pxToRem(50);
        margin: 0 0 0 pxToRem(20);


        &_search {
          .icon {
            width: pxToRem(16);
          }
        }
      }
    }

    .selects {
      color: #434343;

      .item:not(:last-child) {
        margin: 0 pxToRem(24) 0 0;
      }

      .icon {
        color: #9b9b9b;
      }
    }
  }
}

$hatHeight: 133px;

.background {
  display: none;
  position: absolute;
  z-index: 100;
}

.searchMenuBackground {
  background-color: rgba(0, 0, 0, 0);
  inset: pxToRem($hatHeight) 0 0 0;
  height: 4000px;

  &_active {
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.sidebarMenuBackground {
  background-color: rgba(0, 0, 0, 0);
  inset: 0 0 0 0;
  height: 4000px;

  &_active {
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.hatSearchForm {
  display: none;
  position: absolute;
  top: pxToRem($hatHeight + 16px);
  width: 1200px;
  left: 50%;
  transform: translate(-50%);
  z-index: 101;
  border-radius: 5px;
  background-color: #ffffff;
  padding: pxToRem(20);
}

.sidebarMenu {
  background-color: #ffffff;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: pxToRem(280);
  height: 100%;
  z-index: 101;
  padding: pxToRem(20) 0 ;

  .item {
    display: flex;
    align-items: center;
    color: #EF7F1A;
    padding: pxToRem(8) pxToRem(20);

    .icon {
      display: block;
      width: pxToRem(20);
      margin: 0 pxToRem(8) 0 0;
    }
  }

  .dividerContainer {
    padding: pxToRem(10) pxToRem(20);
  }

  .closeButton {
    color: #ffffff;
    position: absolute;
    top: pxToRem(0);
    right: pxToRem(-55);
    padding: pxToRem(14);

    .icon {
      width: pxToRem(26);
      height: pxToRem(26);
    }
  }

  @include breakpoint(md) {
    width: pxToRem(700);
  }
}