<div class="baseInputCheckbox">
    <label class="d-flex align-items-center" for="{{id}}">
        <span class="checkContainer">
            <input type="checkbox" value="" id="{{id}}" {{#if checked}}checked{{/if}}>
            {{> ../../common/icons/check-mark-2/CheckMark2 class="icon"}}
        </span>

        <span class="label">{{label}}</span>
    </label>
</div>