<form action="/" method="GET" class="searchForm form d-flex align-items-center">
    {{> ../ui/InputSearch placeholder="Поиск"}}

    <div class="w-auto baseButton baseButton_theme_blue baseButton_size_medium px-5 ms-3">Найти</div>

    <div class="ms-3 filterContainer d-none d-md-block">{{> ../ui/InputFilter placeholder="Сортировать по"}}</div>
</form>