<form action="/" method="GET" class="searchForm form d-flex align-items-center">
    {{> ../../common/search-input/SearchInput placeholder="Поиск"}}
    <div class="baseButton baseButton_theme_blue baseButton_size_medium px-5 ms-3">Найти</div>
</form>