.myServicesPage {
  &__listHeader {
    margin: 0 0 pxToRem(16);

    @include breakpoint(md) {
      margin: 0 0 pxToRem(24);
    }

    @include breakpoint(lg) {
      margin: 0 0 pxToRem(20);
    }
  }

  &__settingsBlock:not(:last-child) {
    margin: 0 0 pxToRem(40);
  }


  .checkboxWrapper {
    width: pxToRem(45);
  }

  .itemParticipationCost {
    &__header {
      margin: 0 0 pxToRem(16);

      @include breakpoint(md) {
        margin: 0 0 pxToRem(20);
      }

      @include breakpoint(xxl) {
        margin: 0 0 pxToRem(24);
      }
    }

    &__input {
      margin: 0 pxToRem(12) 0 0;
    }

    input {
      text-align: center;
    }

    .orderCostWrapper {
      width: pxToRem(75);
    }

    .awardForWinWrapper {
      width: pxToRem(130);
    }

    .winTermWrapper {
      width: pxToRem(50);
    }

    .options {
      padding: 0 0 0 pxToRem(45);
    }
  }

  .itemAdvancedServices {
    &__header {
      margin: 0 0 pxToRem(8);
    }

    .costWrapper {
      width: pxToRem(75);

      input {
        text-align: center;
      }
    }

    .options {
      padding: 0 0 0 pxToRem(45);
    }
  }

  .participationCostGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: pxToRem(35);
  }

  .advancedServicesGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: pxToRem(35) pxToRem(25);
  }
}