<div class="charts containerFrame analyzeCompanyCharts">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="chartRevenue"></div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="chartProfit"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="chartTaxes"></div>
        </div>

        <div class="col-12 col-lg-6 d-flex flex-column justify-content-between">
            <div class="employeesNumber"></div>
            <div class="averageSalary"></div>
        </div>
    </div>
</div>
