<div class="charts containerFrame analyzeCompanyCharts">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="chartRevenue chartContainer"></div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="chartProfit chartContainer"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="chartTaxes chartContainer"></div>
        </div>

        <div class="col-12 col-lg-6 d-flex flex-column justify-content-between">
            <div class="employeesNumber chartContainer_halfHeight"></div>
            <div class="averageSalary chartContainer_halfHeight"></div>
        </div>
    </div>
</div>
