<div class="regionsSummary">
    <h3 class="header3 header mb-4">{{header}}</h3>

    <table class="table m-0">
        <thead>
        <tr>
            <th scope="col">Регион</th>
            <th scope="col">Предложений</th>
            <th scope="col">Участников</th>
            <th scope="col">Объявлено, ₽</th>
            <th scope="col">Завершено, ₽</th>
            <th scope="col">Средняя сумма договора, ₽</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>Москва
            </th>
            <td>2680</td>
            <td>2680</td>
            <td>37 (25 млрд)</td>
            <td>22 (11 млрд)</td>
            <td>980 000</td>
        </tr>

        <tr>
            <td>Санкт-Петербург
            </th>
            <td>1258</td>
            <td>1258</td>
            <td>37 (25 млрд)</td>
            <td>22 (11 млрд)</td>
            <td>12 000 000</td>
        </tr>

        <tr>
            <td>Удмуртия
            </th>
            <td>1458</td>
            <td>1458</td>
            <td>37 (25 млрд)</td>
            <td>22 (11 млрд)</td>
            <td>980 000 000</td>
        </tr>

        <tr>
            <td>Челябинская область
            </th>
            <td>3658</td>
            <td>3658</td>
            <td>37 (25 млрд)</td>
            <td>22 (11 млрд)</td>
            <td>12 000 000</td>
        </tr>

        <tr>
            <td>Краснодарский край
            </th>
            <td>2587</td>
            <td>2587</td>
            <td>37 (25 млрд)</td>
            <td>22 (11 млрд)</td>
            <td>980 000</td>
        </tr>

        <tr>
            <td>Татарстан
            </th>
            <td>1205</td>
            <td>1205</td>
            <td>37 (25 млрд)</td>
            <td>22 (11 млрд)</td>
            <td>12 000 000</td>
        </tr>

        <tr>
            <td>Московская область
            </th>
            <td>1254</td>
            <td>1254</td>
            <td>37 (25 млрд)</td>
            <td>22 (11 млрд)</td>
            <td>980 000 000</td>
        </tr>

        <tr>
            <td>Алтайский край
            </th>
            <td>125</td>
            <td>125</td>
            <td>37 (25 млрд)</td>
            <td>22 (11 млрд)</td>
            <td>12 000 000</td>
        </tr>

        <tr>
            <td>Нижегородская область
            </th>
            <td>1258</td>
            <td>1258</td>
            <td>37 (25 млрд)</td>
            <td>22 (11 млрд)</td>
            <td>980 000</td>
        </tr>

        <tr>
            <td>Краснодарский край
            </th>
            <td>325</td>
            <td>325</td>
            <td>37 (25 млрд)</td>
            <td>22 (11 млрд)</td>
            <td>12 000 000</td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center mt-4">
        {{> ../../pagination/Pagination }}
    </div>
</div>