<div class="taskDescription lotContainer lotContainer_theme_gray fs-14px">
    <div class="taskDescription__item">
        <span>Задание:</span>
        <span class="fw-semibold">Банкротство. Подача заявки без аккредитации</span>
    </div>

    <div class="taskDescription__item">
        <div class="d-flex justify-content-between">
            <div>
                <span>Дополнительные услуги:</span>
                <span class="fw-semibold">(4)</span>
            </div>

            <div class="buttonText c-pointer fs-14px showServicesDescription">Показать</div>
        </div>

        <div class="mt-2 servicesDescription" style="display: none">hidden content here</div>
    </div>

    <div class="taskDescription__item">
        <span>Заказчик:</span>
        <span class="fw-semibold">Физическое лицо Антон Сергеевич С.</span>
    </div>
</div>