<div class="d-flex flex-column justify-content-between">
    <div class="color_8cceef fs-18px fw-semibold mb-2">ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "УПРАВЛЕНИЕ
        АКТИВАМИ"</div>

    <div class="d-md-flex align-items-center mb-2">
        <div class="me-md-4 mb-2 mb-md-0">{{> ../../../common/link-phone/LinkPhone }}</div>
        <div>{{> ../../../common/link-email/LinkEmail }}</div>
    </div>

    <div class="mb-2">{{> ../../../common/location/Location }}</div>
</div>