<div class="d-flex flex-column justify-content-between">
    <div class="color_8cceef fs18px fw-semibold">ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "УПРАВЛЕНИЕ
        АКТИВАМИ"</div>

    <div class="d-flex align-items-center my-1">
        <div class="me-4">{{> ../../../common/link-phone/LinkPhone }}</div>
        <div>{{> ../../../common/link-email/LinkEmail }}</div>
    </div>

    {{> ../../../common/location/Location }}
</div>