{{> ../../../layout/Hat withBorder=true endpoint=true}}

<div class="page sidebarPage">
    <div class="container">
        {{> ../../../common/breadcrumbs/Breadcrumbs}}

        <div class="sidebarPage__sidebar">
            {{> ../../../layout/account/sidebar/Sidebar }}
        </div>
    </div>
</div>

{{> ../../../layout/footer/Footer withBorder=true}}