.mapPage {
  overflow: hidden;

  .layoutGrid {
    display: grid;
    grid-template-columns: pxToRem(600) pxToRem(2000);
    grid-template-rows: pxToRem(800);
  }

  .objects {
    overflow-y: scroll;
    height: 100%;
    padding: pxToRem(16) pxToRem(20) pxToRem(16) 0;
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-gap: pxToRem(12);

    > .item {
      border-radius: 5px;
      border: 1px solid #d4d4d4;
      height: pxToRem(160);
      overflow: hidden;

      > .image {
        width: pxToRem(130);
        height: 100%;
        overflow: hidden;
        flex-shrink: 0;
        position: relative;
      }

      .info {
        padding: pxToRem(8) pxToRem(16) pxToRem(16);
      }
    }
  }
}
