@import "member/member";
@import "select-services/select-services";
@import "my-services/my-services";
@import "my-offers/my-offers";
@import "services/services";
@import "sidebar/sidebar";

.accountPageLayoutGrid {
  padding: pxToRem(35) 0 0;

  @include breakpoint(md) {
    display: grid;
    grid-gap: pxToRem(25);
    grid-template-columns: pxToRem(300) 1fr;
  }

  @include breakpoint(xl) {
    padding: 0;
  }

  @include breakpoint(xxl) {
    grid-template-columns: pxToRem(340) 1fr;
  }
}

.accountLotsGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto-fill, auto);
  grid-gap: pxToRem(20);

  @include breakpoint(xl) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(xxl) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.taskDescription {
  &__item:not(:last-child) {
    margin: 0 0 pxToRem(12);
  }
}