@import "member/member";
@import "select-services/select-services";
@import "my-services/my-services";

.accountPageLayoutGrid {
  display: grid;
  grid-template-columns: pxToRem(340) 1fr;
  grid-gap: pxToRem(25);
}
