<div>
    <div class="row">
        <div class="col-4">
            <div class="d-flex align-items-center">
                <span class="me-1 fw-semibold color_9b9b9b">Организация:</span>
                <span class="ms-2">ООО «ЮВС-ВОЛГА»</span>
            </div>

            <div class="d-flex align-items-center">
                <span class="me-1 fw-semibold color_9b9b9b">Директор:</span>
                <span class="ms-2">Косынкин Александр Александрович</span>
            </div>

            <div class="d-flex my-2">
                {{> ../../../common/link-phone/LinkPhone class="me-4"}}
                {{> ../../../common/link-email/LinkEmail}}
            </div>

            <div class="d-flex align-items-center">
                <span class="me-1 fw-semibold color_9b9b9b">Основной вид деятельности:</span>
                <span class="ms-2">Торговля оптовая напитками (46.34)</span>
            </div>
        </div>

        <div class="col-2">
            <div class="d-flex align-items-center">
                <span class="me-1 fw-semibold color_9b9b9b">ИНН:</span>
                <span class="ms-2">1659120485</span>
            </div>

            <div class="d-flex align-items-center">
                <span class="me-1 fw-semibold color_9b9b9b">КПП:</span>
                <span class="ms-2">165901001</span>
            </div>

            <div class="d-flex align-items-center">
                <span class="me-1 fw-semibold color_9b9b9b">ОГРН:</span>
                <span class="ms-2">1121690037040</span>
            </div>
        </div>

        <div class="col-6">
            <div class="d-flex">
                <div class="me-1 fw-semibold color_9b9b9b me-1">Адрес:</div>
                <div class="ms-2">
                    <div>420110, республика Татарстан, г. Казань,</div>
                    <div>ул. Братьев касимовых, д.38</div>
                </div>
            </div>
        </div>
    </div>
</div>