<div class="status d-flex align-items-center fw-semibold fs-16px fs-md-18px">
    {{> ../../../common/icons/exclamation-mark/ExclamationMark class="icon color_fc2c2c me-2" }}
    <div class="d-flex flex-column flex-md-row ms-1">
        <span class="ws-nowrap">
            <span class="color_9b9b9b">Статус:</span>
            <span class="color_fc2c2c ms-2">Банкрот</span>
        </span>

        <span class="ms-md-4 ws-nowrap">
            <span class="color_9b9b9b">Надежность:</span>
            <span class="color_fc2c2c ms-2">Низкая надёжность</span>
        </span>
    </div>
</div>
