<div class="status d-flex align-items-center fw-semibold fs-16px fs-md-18px">
    {{> ../../../common/icons/check-mark/CheckMark class="icon color_2fad03 me-2" }}
    <div class="d-flex flex-column flex-md-row ms-1">
        <span class="ws-nowrap">
            <span class="color_9b9b9b">Статус:</span>
            <span class="color_2fad03 ms-2">Действующая</span>
        </span>

        <span class="ms-md-4 ws-nowrap">
            <span class="color_9b9b9b">Надежность:</span>
            <span class="color_2fad03 ms-2">Надежная</span>
        </span>
    </div>
</div>