<div class="status d-flex align-items-center fw-semibold fs18px">
    {{> ../../../common/icons/check-mark/CheckMark class="icon color_2fad03 me-2" }}
    <span class="ms-1"><span class="color_9b9b9b">Статус:</span><span class="color_2fad03 ms-2">Действующая</span></span>
    <span class="ms-4"><span class="color_9b9b9b">Надежность:</span><span class="color_2fad03 ms-2">Надежная</span></span>
</div>