@import "@styles/utils/utils";

.memberPage {
  &__block {
    margin: 0 0 pxToRem(20);
  }

  &__lotItem:not(:last-child) {
    margin: 0 0 pxToRem(20);
  }

  .participantStats {
    height: 210px;

    .segment {
      flex-grow: 0;
      &1 {
        width: 300px;
      }
      &2 {
        width: 70px;
      }
      &3 {
        width: 240px;
      }
      &4 {
        width: 160px;

        .stackedChart {
          max-width: pxToRem(135);
          white-space: nowrap;
        }
      }
      &5, &6 {
        width: 215px;
      }
      &7 {
        width: 210px;
      }
    }
  }

  .charts {
    padding-bottom: pxToRem(60);
  }

  .tableHeader {
    margin: 0 0 pxToRem(46);
  }

  .lotsList {
    .header {
      margin: pxToRem(40) 0 pxToRem(32);
    }
    .searchForm {
      margin: 0 0 pxToRem(25);
    }
  }
}
