<div class="description">
    <h3 class="header3 mb-3 description__header">Описание</h3>

    <p class="paragraph fs-14px fs-md-18px">Транспортное средство НИССАН TERRANO, VIN Z8NHSNDJA51188917 Год производства - 2014
        Категория ТС - B
        Расположение руля - левый руль Тип двигателя - Бензиновый Мощность двигателя - 135 л. с. Объем двигателя -
        1998 куб. см</p>
</div>