{{> ../../layout/Hat}}

<div class="offerPage">
    <div class="container-lg">
        <div class="crumbsWrapper d-flex justify-content-between align-items-center">
            {{> ../../common/breadcrumbs/Breadcrumbs}}

            <div class="infoLinks">
                <a href="#" class="item">
                    {{> ../../common/icons/analytics/Analytics class="icon"}}
                    <span class="ms-2 text">Анализировать лот</span>
                </a>

                <a href="#" class="item">
                    {{> ../../common/icons/link/Link class="icon"}}
                    <span class="ms-2 text">Ссылка ЕФРСБ</span>
                </a>

                <a href="#" class="item">
                    {{> ../../common/icons/headphones/headphones class="icon"}}
                    <span class="ms-2 text">Техническая поддержка</span>
                </a>

                <a href="#" class="item">
                    {{> ../../common/icons/exclamation-mark/ExclamationMark class="icon"}}
                    <span class="ms-2 text">Пожаловаться</span>
                </a>
            </div>
        </div>
    </div>

    <div class="container-lg">
        <div class="d-flex">
            <div class="imageWrapper">
                <img src="/images/offer/dummy.jpg" alt="dummy"/>
            </div>

            <div class="flex-grow-1 ms-4 infoColumn">
                <div class="lotMainInfo">{{> ../../common/lot/MainInfo }}</div>

                <div class="d-flex mt-3">
                    <div>
                        <div class="requisites mb-3">
                            <div class="mb-2">
                                <span class="color_9b9b9b fw-bold">Должник:</span><br>
                                <span class="color_0f0f0f fw-bold companyName">ООО «Ромашка»</span>
                            </div>

                            <div class="mb-2 d-flex">
                                <span class="me-3">
                                    <span class="color_9b9b9b fw-bold me-2">ИНН:</span>
                                    <span class="color_0f0f0f">456151225467</span>
                                </span>

                                <span>
                                    <span class="color_9b9b9b fw-bold me-2">Дело о банкротстве:</span>
                                    <span class="color_0f0f0f">А42-8731/2021</span>
                                </span>
                            </div>

                            <div class="d-flex">
                                <div class="me-4">
                                    <span class="color_9b9b9b fw-bold me-2">Адрес:</span>
                                    <span class="color_0f0f0f">Мурманская область, 172390, Тверская область, г. Ржев, ул. Ленина, д. 18, кв. 13</span>
                                </div>

                                <div>
                                    <a href="#" class="allLots color_9b9b9b fw-bold ws-nowrap">
                                        {{> ../../common/icons/documents/Documents class="icon"}}
                                        <span class="ms-2">Все лоты должника</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="contacts">
                            <div class="item">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <div>
                                        <div class="color_9b9b9b fw-bold me-2">Арбитражный управляющий:</div>
                                        <div class="color_0f0f0f fw-bold companyName">Ибрагимов Ильнур Ильсурович</div>
                                    </div>

                                    <div>
                                        <font color="red">GRAPHIC</font>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between align-items-center">
                                <span>
                                    <span class="color_9b9b9b fw-bold me-2">ИНН:</span>
                                    <span class="color_0f0f0f">456151225467</span>
                                </span>

                                <a class="link link_phone" href="#">
                                    {{> ../../common/icons/phone/Phone class="icon"}}
                                    <span class="color_0f0f0f ms-2">7 (927) 4006456</span>
                                </a>

                                <a class="link link_email" href="#">
                                    {{> ../../common/icons/email2/Email2 class="icon"}}
                                    <span class="color_0f0f0f ms-2">ilnur_i82@mail.ru</span>
                                </a>

                                <a class="link link_request" href="#">
                                    {{> ../../common/icons/search-document/SearchDocument class="icon"}}
                                    <span class="color_9b9b9b fw-bold ms-2">Отправить запрос</span>
                                </a>

                                <a href="#" class="link color_9b9b9b fw-bold">Оценить</a>
                            </div>
                            </div>

                            <div class="item">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <div>
                                        <div class="color_9b9b9b fw-bold me-2">Арбитражный управляющий:</div>
                                        <div class="color_0f0f0f fw-bold companyName">Ибрагимов Ильнур Ильсурович</div>
                                    </div>

                                    <div>
                                        <font color="red">GRAPHIC</font>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between align-items-center">
                                <span>
                                    <span class="color_9b9b9b fw-bold me-2">ИНН:</span>
                                    <span class="color_0f0f0f">456151225467</span>
                                </span>

                                    <a class="link link_phone" href="#">
                                        {{> ../../common/icons/phone/Phone class="icon"}}
                                        <span class="color_0f0f0f ms-2">7 (927) 4006456</span>
                                    </a>

                                    <a class="link link_email" href="#">
                                        {{> ../../common/icons/email2/Email2 class="icon"}}
                                        <span class="color_0f0f0f ms-2">ilnur_i82@mail.ru</span>
                                    </a>

                                    <a class="link link_request" href="#">
                                        {{> ../../common/icons/search-document/SearchDocument class="icon"}}
                                        <span class="color_9b9b9b fw-bold ms-2">Отправить запрос</span>
                                    </a>

                                    <a href="#" class="link color_9b9b9b fw-bold">Оценить</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pricesWrapper">
                        <div class="panel panel_blue">
                            <div class="mb-2 d-flex justify-content-between">
                                <span class="color_9b9b9b">Начальная цена:</span>
                                <span class="fw-bold rouble">10 278 000</span>
                            </div>
                            <div class="mb-2 d-flex justify-content-between">
                                <span class="color_9b9b9b">Текущая цена:</span>
                                <span class="fw-bold rouble">208 278 000</span>
                            </div>
                            <div class="mb-2 d-flex justify-content-between">
                                <span class="color_9b9b9b">Минимальная цена:</span>
                                <span class="fw-bold rouble">179 840</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span class="color_9b9b9b">Шаг понижения:</span>
                                <span class="fw-bold"><span class="rouble">12 000</span> / 7 дн</span>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="mb-2 d-flex justify-content-between">
                                <span class="color_9b9b9b">Вероятность победы:</span>
                                <span class="fw-bold">52%</span>
                            </div>

                            <div class="mb-2 d-flex justify-content-between">
                                <span class="color_9b9b9b">Прогноз цены:</span>
                                <span class="fw-bold rouble">230</span>
                            </div>

                            <div class="mb-2 d-flex justify-content-between align-items-end">
                                <span class="color_9b9b9b">Заинтересованных <br> пользователей:</span>
                                <span class="fw-bold">2</span>
                            </div>
                        </div>

                        <div class="panel panel_grey">
                            <div class="mb-2 d-flex justify-content-between">
                                <span class="color_9b9b9b">Подать заявку:</span>
                                <span class="fw-bold rouble">2 799</span>
                            </div>

                            <div class="mb-2 d-flex justify-content-between align-items-end">
                                <span
                                    class="color_9b9b9b">Вознаграждение <br> за победу в торгах: {{> ../../common/icons/question/Question}}</span>
                                <span class="fw-bold rouble">10 799</span>
                            </div>
                        </div>

                        <div class="baseButton baseButton_theme_blue baseButton_size_medium mt-2">Участвовать за <span class="ms-2 rouble">2 799</span></div>
                        <div class="baseButton baseButton_theme_gray baseButton_size_medium mt-2">Выбрать брокера</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-lg">
        <h2>Описание</h2>
    </div>
</div>

{{> ../../layout/Footer}}