<div class="pricesColumn d-flex flex-column">
    <div class="panel panel_blue">
        <div class="mb-2 mb-xl-1 mb-xxl-2 d-flex justify-content-between">
            <span class="color_9b9b9b">Начальная цена:</span>
            <span class="fw-bold rouble">10 278 000</span>
        </div>

        <div class="mb-2 mb-xl-1 mb-xxl-2 d-flex justify-content-between">
            <span class="color_9b9b9b">Текущая цена:</span>
            <span class="fw-bold rouble">208 278 000</span>
        </div>

        <div class="mb-2 mb-xl-1 mb-xxl-2 d-flex justify-content-between">
            <span class="color_9b9b9b">Минимальная цена:</span>
            <span class="fw-bold rouble">179 840</span>
        </div>

        <div class="d-flex justify-content-between">
            <span class="color_9b9b9b">Шаг понижения:</span>
            <span class="fw-bold"><span class="rouble">12 000</span> / 7 дн</span>
        </div>
    </div>

    <div class="panel">
        <div class="mb-2 mb-xl-1 mb-xxl-2 d-flex justify-content-between">
            <span class="color_9b9b9b">Вероятность победы:</span>
            <span class="fw-bold">52%</span>
        </div>

        <div class="mb-2 mb-xl-1 mb-xxl-2 d-flex justify-content-between">
            <span class="color_9b9b9b">Прогноз цены:</span>
            <span class="fw-bold rouble">230</span>
        </div>

        <div class="mb-2 mb-xl-1 mb-xxl-2 d-flex justify-content-between align-items-end">
            <span class="color_9b9b9b d-xxl-none">Заинтересованных пользователей:</span>
            <span class="color_9b9b9b d-none d-xxl-block">Заинтересованных <br> пользователей:</span>
            <span class="fw-bold">2</span>
        </div>
    </div>

    <div class="panel panel_grey">
        <div class="mb-2 d-flex justify-content-between">
            <span class="color_9b9b9b">Подать заявку:</span>
            <span class="fw-bold rouble">2 799</span>
        </div>

        <div class="d-flex justify-content-between align-items-end">
            <span class="color_9b9b9b">
                Вознаграждение <br> за победу в торгах:
                <span class="openAwardInfoModal c-pointer">{{> ../../common/icons/question/Question class="awardIcon"}}</span>
            </span>
            <span class="fw-bold rouble">10 799</span>
        </div>
    </div>

    <div class="baseButton baseButton_theme_blue baseButton_size_medium mt-2">
        <span>Участвовать за</span>
        <span class="ms-2 rouble">2 799</span>
    </div>

    <div class="baseButton baseButton_theme_gray baseButton_size_medium mt-2">Выбрать брокера</div>

    <div class="pricesColumn__icons">
        {{> ../../common/lot-card/Icons }}
    </div>
</div>
