<div class="flex-grow-1">
    <div class="panel panel_blue">
        <div class="mb-2 d-flex justify-content-between">
            <span class="color_9b9b9b">Начальная цена:</span>
            <span class="fw-bold rouble">10 278 000</span>
        </div>
        <div class="mb-2 d-flex justify-content-between">
            <span class="color_9b9b9b">Итоговая цена:</span>
            <span class="fw-bold rouble">208 278 000</span>
        </div>
    </div>

    <div class="panel">
        <div class="mb-2 d-flex justify-content-between">
            <span class="color_9b9b9b">Статус:</span>
            <span class="fw-bold">Состоялись</span>
        </div>

        <div class="mb-2 d-flex justify-content-between">
            <span class="color_9b9b9b">Участников:</span>
            <span class="fw-bold rouble">7</span>
        </div>

        <div class="mb-2 d-flex justify-content-between align-items-end">
            <span class="color_9b9b9b">Победитель:</span>
            <a class="winner" href="#">Сидоров В.Н.</a>
        </div>
    </div>
</div>

<div class="baseButton baseButton_theme_red baseButton_size_medium mt-2">
    Торги завершены
</div>

<div class="baseButton baseButton_theme_green baseButton_size_medium mt-2">
    Проверить повтор
</div>

<div class="d-flex justify-content-end mt-3">

    <a href="#" class="community">
        {{> ../../common/icons/community/Community class="icon"}}
    </a>
</div>