.accountMemberPage {
  .restrictedWrapper {
    display: none;
    grid-gap: pxToRem(25);
    grid-template-columns: pxToRem(340) 1fr;
    align-items: center;

    @include breakpoint(xxl) {
      display: grid;
    }

    .restricted {
      color: #f6002c;
      font-size: pxToRem(14);
      font-weight: 600;

      @include breakpoint(xxl) {
        font-size: pxToRem(16);
      }
    }
  }
}
