.accountMemberPage {
  .restrictedWrapper {
    display: grid;
    grid-gap: pxToRem(25);
    grid-template-columns: pxToRem(340) 1fr;
    align-items: center;

    .restricted {
      color: #f6002c;
      font-size: pxToRem(14);
      font-weight: 600;

      @include breakpoint(xxl) {
        font-size: pxToRem(16);
      }
    }
  }

  .lots {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, auto);
    grid-gap: pxToRem(20);

    @include breakpoint(md) {
      grid-gap: pxToRem(25);
    }
  }
}
