{{> ../../layout/Hat withBorder=true}}

<div class="mapPage">
    <div class="container">
        <div class="layoutGrid">
            <div>
                <div id="main" class="d-none"></div>
                <div id="car" class="d-none"></div>
                <div id="oborud" class="d-none"></div>
                <div id="dvizh" class="d-none"></div>
                <div id="komerch" class="d-none"></div>
                <div id="visible" class="d-none"></div>

                <div class="objects">
                    {{> ObjectItem labelSize="small"}}
                    {{> ObjectItem labelSize="small"}}
                    {{> ObjectItem labelSize="small"}}
                    {{> ObjectItem labelSize="small"}}
                    {{> ObjectItem labelSize="small"}}
                    {{> ObjectItem labelSize="small"}}
                    {{> ObjectItem labelSize="small"}}
                    {{> ObjectItem labelSize="small"}}
                </div>
            </div>

            <div id="ymapRoot" style="width: auto; height: 800px"></div>
        </div>
    </div>
</div>

{{> ../../layout/footer/Footer withBorder=true}}
