{{> ../../layout/Hat}}

<div class="mapPage">
    <div id="map" style="width: 800px; height: 500px"></div>
    <div id="main" class="d-none"></div>
    <div id="car" class="d-none"></div>
    <div id="oborud" class="d-none"></div>
    <div id="dvizh" class="d-none"></div>
    <div id="komerch" class="d-none"></div>
    <div id="visible" class="d-none"></div>
</div>

{{> ../../layout/Footer}}