<div class="item d-flex">
    <div class="image">
        {{> ../../common/lot-card/InteractiveImageSingle }}
    </div>

    <div class="info">
        <div class="d-flex align-items-center justify-content-between fs13px">
            <span class="fw-bold">Лот: 18-24-5186972</span>
            <span class="fs-14px">Имущество должников (банкротство)</span>
        </div>

        <div class="baseHorizontalDivider my-1"></div>

        <p class="textEllipsis textEllipsis_rows_4 fs-14px mb-0">Сведения по лоту №1: Жилое помещение в общей долевой
            собственности, земельный участок в
            общедолевой собственности под жилым помещением Жилое помещение в общей долевой Жилое помещение в
            общей долевой собственности, земельный участок в общедолевой собственности под жилым помещением
            Жилое помещение в общей долевой </p>

        <div class="d-flex align-items-center justify-content-between">
            <span class="color_ef7f1a fs13px fw-bold">Завершение интервала: 1 д. 12 ч.</span>
            <span class="fs-14px fw-semibold rouble">208 278 000</span>
        </div>
    </div>
</div>
