<div class="d-flex flex-column justify-content-between">
    <div class="color_8cceef fs18px fw-semibold">Константинов Константин Константинович</div>

    <div class="nameValuePair my-1">
        <div class="name">ИНН:</div>
        <div class="value fw-normal">000000000000</div>
    </div>

    <div class="d-flex align-items-center my-1">
        <div class="me-4">{{> ../../../common/link-phone/LinkPhone }}</div>
        <div>{{> ../../../common/link-email/LinkEmail }}</div>
    </div>

    {{> ../../../common/location/Location }}
</div>