<div class="d-flex flex-column justify-content-between mb-2 mb-xxl-0">
    <div class="color_8cceef fs-16px fs-md-18px fw-semibold">Константинов Константин Константинович</div>

    <div class="nameValuePair my-1 fs-14px fs-md-16px mb-2 mb-xxl-0">
        <div class="name">ИНН:</div>
        <div class="value fw-normal">000000000000</div>
    </div>

    <div class="d-flex align-items-center my-1 fs-14px fs-md-16px mb-2 mb-xxl-0">
        <div class="me-4">{{> ../../../common/link-phone/LinkPhone }}</div>
        <div>{{> ../../../common/link-email/LinkEmail }}</div>
    </div>

    {{> ../../../common/location/Location }}
</div>