<div class="personalDataPanelSro">
    <div class="gridArea1">{{> NamePanel}}</div>

    <div class="gridArea2">
        <div class="nameValuePair fs-14px fs-md-16px mb-2 mb-xxl-0">
            <div class="name">Регистрационный номер:</div>
            <div class="value fw-normal">2034</div>
        </div>

        <div class="nameValuePair fs-14px fs-md-16px mb-2 mb-xxl-0">
            <div class="name">Дата регистрации:</div>
            <div class="value fw-normal">02.07.2013</div>
        </div>
    </div>

    <div class="gridArea3 nameValuePair align-items-start fs-14px fs-md-16px mb-2 mb-xxl-0">
        <div class="name">СРО:</div>

        {{#if inSRO}}
            <div class="value color_8cceef">Союз арбитражных управляющих "Созидание"</div>
        {{else}}
            <div class="value color_fc2c2c">Не состоит в СРО</div>
        {{/if}}
    </div>

    <div class="gridArea4">
        <div class="nameValuePair fs-14px fs-md-16px mb-2 mb-xxl-0">
            <div class="name">Количество нарушений:</div>
            <div class="value fs-16px fs-md-20px">7</div>
        </div>

        <div class="nameValuePair fs-14px fs-md-16px mb-2 mb-xxl-0">
            <div class="name">Объявлено торгов:</div>
            <div class="value fs-16px fs-md-20px">123 (25 млн ₽)</div>
        </div>

        <div class="nameValuePair fs-14px fs-md-16px mb-2 mb-xxl-0">
            <div class="name">Завершено торгов:</div>
            <div class="value fs-16px fs-md-20px">97 (14 млн ₽)</div>
        </div>

        <div class="nameValuePair fs-14px fs-md-16px mb-2 mb-md-0">
            <div class="name">Активные торги:</div>
            <div class="value color_8cceef fs-16px fs-md-20px">3 (12 млн ₽)</div>
        </div>
    </div>

    <div class="gridArea5 d-flex flex-column justify-content-md-end align-items-center justify-content-xxl-center">
        <div class="pieSroRate" style="width: 50px; height: 50px"></div>
        <a href="#" class="text-decoration-none fw-bold color_9b9b9b">Оценить</a>
    </div>
</div>
