<div class="priceDowngrade">
    <div class="hat">
        <div class="gridRow">
            <div>Дата начала:</div>
            <div>Дата окончания:</div>
            <div>Цена:</div>
            <div>
                <span class="d-none d-md-inline">Вероятность победы:</span>
            </div>
        </div>
    </div>

    <div class="body">
        {{> row percent="90" indicatorTheme="green"}}
        {{> row percent="80" indicatorTheme="green"}}
        {{> row percent="70" indicatorTheme="green"}}
        {{> row percent="65" indicatorTheme="yellow"}}
        {{> row percent="60" indicatorTheme="yellow"}}
        {{> row percent="50" indicatorTheme="yellow"}}
        {{> row percent="40" indicatorTheme="yellow"}}
        {{> row percent="34" indicatorTheme="red"}}
        {{> row percent="22" indicatorTheme="red"}}
        {{> row percent="12" indicatorTheme="red"}}
        {{> row percent="1" indicatorTheme="red"}}
    </div>
</div>