<div class="gridRow">
    <div>21.06.2021 00:00</div>
    <div>21.06.2021 00:00</div>
    <div>1 440 000.00</div>
    <div class="d-flex align-items-center">
        <span class="gridRow__indicator indicator indicator_theme_{{indicatorTheme}}">
            {{> ../../../common/icons/circle/Circle class="icon"}}
        </span>

        <span class="ws-nowrap d-none d-md-inline">{{percent}} %</span>
    </div>
</div>