<div class="fw-semibold fs-15px item">
    <div class="d-flex justify-content-between">
        <span>{{title}}</span>
        <span class="color_8cceef">+ Загрузить</span>
    </div>
    <div class="color_8cceef">
        {{> ../../../../icons/download/Download class="color_8cceef" class="icon"}}
        Скачать
    </div>
</div>