<div class="d-xl-flex align-items-stretch justify-content-between">
    {{> NamePanel}}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> ../common/Experience}}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> Statistics}}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> ../common/ChartRelizedObjects }}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> ../common/ChartAuction }}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> ../common/ChartPublicOffers }}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> ../common/ChartUserRate }}
</div>
