<div class="d-xxl-flex align-items-stretch justify-content-between">
    {{> NamePanel}}

    <div class="baseVerticalDivider d-none d-xxl-block"></div>
    <div class="baseHorizontalDivider d-xxl-none my-3"></div>

    {{> ../common/Experience}}

    <div class="baseVerticalDivider d-none d-xxl-block"></div>
    <div class="baseHorizontalDivider d-xxl-none my-3"></div>

    {{> Statistics}}

    <div class="baseVerticalDivider d-none d-xxl-block"></div>
    <div class="baseHorizontalDivider d-xxl-none my-3"></div>

    {{> ../common/ChartRelizedObjects }}

    <div class="baseVerticalDivider d-none d-xxl-block"></div>
    <div class="baseHorizontalDivider d-xxl-none my-3"></div>

    {{> ../common/ChartAuction }}

    <div class="baseVerticalDivider d-none d-xxl-block"></div>
    <div class="baseHorizontalDivider d-xxl-none my-3"></div>

    {{> ../common/ChartPublicOffers }}

    <div class="baseVerticalDivider d-none d-xxl-block"></div>
    <div class="baseHorizontalDivider d-xxl-none my-3"></div>

    {{> ../common/ChartUserRate }}
</div>
