<div class="contactsDesktop d-none d-lg-block">
    <div class="row">
        <div class="col-4">
            <a href="/">{{> ../../../common/icons/logo/Logo}}</a>
        </div>

        <div class="col-3">
            <div class="contactLink d-flex align-items-center">
                <div class="contactsTablet__icon">
                    {{> ../../../common/icons/phone-circle/PhoneCircle class="icon phoneIcon"}}
                </div>

                <div class="d-flex flex-column">
                    <div class="position-relative">
                        <a class="link" href="#">8 (800) 511-97-30</a>
                        <div class="graphic contactsTablet__graphic">9:00-18:00 МСК</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="contactLink d-flex align-items-center">
                <div class="contactsTablet__icon">
                    {{> ../../../common/icons/email-circle/EmailCircle class="icon"}}
                </div>

                <a class="link" href="#">info@heveya.ru</a>
            </div>
        </div>

        <div class="col-3 d-flex justify-content-end">
            <div class="socialsWrapper">
                {{> Socials }}
            </div>
        </div>
    </div>
</div>