<div class="contactsMobile d-md-none">
    <div class="contactLink contactsMobile__phoneLink d-flex align-items-center justify-content-center">
        <div class="contactsMobile__icon">{{> ../../../common/icons/phone/Phone class="icon phoneIcon"}}</div>

        <div class="d-flex flex-column">
            <div><a class="link" href="#">8 (800) 511-97-30</a></div>
            <div class="graphic">9:00-18:00 МСК</div>
        </div>
    </div>

    <div class="contactLink contactsMobile__emailLink d-flex align-items-center justify-content-center">
        <div class="contactsMobile__icon">{{> ../../../common/icons/email2/Email2 class="icon"}}</div>

        <a class="link" href="#">info@heveya.ru</a>
    </div>

    <div class="d-flex justify-content-center">
        <div class="socialsWrapper">
            {{> Socials }}
        </div>
    </div>
</div>