<div class="d-flex justify-content-between">
    <a class="color_8cceef" href="#">{{> ../../../common/icons/vk-circle/VKCircle class="socialIcon"}}</a>
    <a class="color_8cceef" href="#">{{> ../../../common/icons/yt-circle/YTCircle class="socialIcon"}}</a>
    <a class="color_8cceef" href="#">{{> ../../../common/icons/telegram-circle/TelegramCircle class="socialIcon"}}</a>
</div>