<table class="tableTop10 table m-0">
    <thead>
    <tr>
        <th scope="col">№</th>
        <th scope="col">Регион</th>
        <th scope="col">Должников</th>
        <th scope="col">Лотов</th>
        <th scope="col">Объявлено ₽</th>
        <th scope="col">Завершено ₽</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <th>1</th>
        <td>Москва</td>
        <td>194</td>
        <td>194</td>
        <td>20 000 000 000</td>
        <td>20 000 000 000</td>
    </tr>

    <tr>
        <th>2</th>
        <td>Санкт-Петербург</td>
        <td>33</td>
        <td>33</td>
        <td>20 000 000 000</td>
        <td>20 000 000 000</td>
    </tr>

    <tr>
        <th>3</th>
        <td>Удмуртия</td>
        <td>43</td>
        <td>43</td>
        <td>20 000 000 000</td>
        <td>20 000 000 000</td>
    </tr>

    <tr>
        <th>4</th>
        <td>Челябинская область</td>
        <td>23</td>
        <td>23</td>
        <td>20 000 000 000</td>
        <td>20 000 000 000</td>
    </tr>

    <tr>
        <th>5</th>
        <td>Краснодарский край</td>
        <td>23</td>
        <td>23</td>
        <td>20 000 000 000</td>
        <td>20 000 000 000</td>
    </tr>

    <tr>
        <th>6</th>
        <td>Татарстан</td>
        <td>16</td>
        <td>16</td>
        <td>20 000 000 000</td>
        <td>20 000 000 000</td>
    </tr>

    <tr>
        <th>7</th>
        <td>Московская область</td>
        <td>7</td>
        <td>7</td>
        <td>20 000 000 000</td>
        <td>20 000 000 000</td>
    </tr>

    <tr>
        <th>8</th>
        <td>Алтайский край</td>
        <td>6</td>
        <td>6</td>
        <td>20 000 000 000</td>
        <td>20 000 000 000</td>
    </tr>

    <tr>
        <th>9</th>
        <td>Нижегородская область</td>
        <td>4</td>
        <td>4</td>
        <td>20 000 000 000</td>
        <td>20 000 000 000</td>
    </tr>

    <tr>
        <th>10</th>
        <td>Краснодарский край</td>
        <td>3</td>
        <td>3</td>
        <td>20 000 000 000</td>
        <td>20 000 000 000</td>
    </tr>
    </tbody>
</table>
