<div class="lotIcons d-flex justify-content-between align-items-center">
    {{> ../icons/heart/Heart class="icon icon_heart"}}
    {{> ../icons/double-heart/DoubleHeart class="icon icon_doubleHeart"}}

    <div class="iconContainer position-relative">
        <div class="badge position-absolute">1</div>
        {{> ../icons/handshake/Handshake class="icon icon_handshake"}}
    </div>

    {{> ../icons/community/Community class="icon icon_community"}}
</div>
