<div class="interactiveImage" data-active="0">
    <div class="imageWrapper" data-item-id="1">
        <img class="image" src="/images/lot/dummy1.jpg" alt="lot dummy"/>
    </div>

    <div class="imageWrapper" data-item-id="2">
        <img class="image" src="/images/lot/dummy2.jpg" alt="lot dummy"/>
    </div>

    <div class="imageWrapper" data-item-id="3">
        <img class="image" src="/images/lot/dummy3.jpg" alt="lot dummy"/>
    </div>

    <div class="imageWrapper" data-item-id="4">
        <img class="image" src="/images/lot/dummy4.jpg" alt="lot dummy"/>
    </div>

    <div class="interactiveImage__label">
        {{> ../image-label/Auction }}
    </div>

    <div class="pagination">
        <div class="leftBorder h-100"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="rightBorder h-100"></div>
    </div>
</div>
