<div class="interactiveImage" data-active="0">
    <div class="imageWrapper" data-item-id="1">
        <img class="image" src="/images/lot/dummy1.jpg" alt="lot dummy"/>
    </div>

    <div class="interactiveImage__label">
        {{> ../image-label/Auction }}
    </div>
</div>
