{{#if offerCost}}
    <div class="nameValuePair justify-content-between fs-14px">
        <div class="name fw-normal">Стоимость подачи заявки:</div>
        <div class="value rouble">{{offerCost}}</div>
    </div>
{{/if}}

{{#if reward}}
    <div class="nameValuePair justify-content-between fs-14px">
        <div class="name fw-normal">Вознаграждение за победу:</div>
        <div class="value rouble">{{reward}}</div>
    </div>
{{/if}}

{{#if operatorComission}}
    <div class="nameValuePair justify-content-between fs-14px">
        <div class="name fw-normal">Комиссия оператора:</div>
        <div class="value">{{operatorComission}}</div>
    </div>
{{/if}}

{{#if advancedFeatures}}
    <div class="nameValuePair justify-content-between fs-14px">
        <div class="name fw-normal">Дополнительные услуги:</div>
        <div class="value">{{advancedFeatures}}</div>
    </div>
{{/if}}