<div class="d-flex align-items-center priceOffer fw-semibold justify-content-between">
    <div class="fs-15px">Предложение цены:</div>

    <div class="d-flex">
        <div class="priceWrapper flex-grow-1 text-center">
            <span class="rouble price">{{price}}</span>
        </div>
    </div>
</div>