{{#if offerCost}}
    <div class="nameValuePair justify-content-between fs-14px">
        <div class="name fw-normal">Стоимость подачи заявки:</div>
        <div class="value rouble">{{offerCost}}</div>
    </div>
{{/if}}

{{#if reward}}
    <div class="nameValuePair justify-content-between fs-14px">
        <div class="name fw-normal">Вознаграждение за победу:</div>
        <div class="value rouble">{{reward}}</div>
    </div>
{{/if}}