<div class="d-flex align-items-center priceOffer fw-semibold">
    <div class="fs-16px me-2">Предложение цены:</div>

    <div class="priceWrapper flex-grow-1 text-center">
        <span class="rouble price">{{price}}</span>
    </div>
</div>