<div class="stats">
    <div class="item mb-1">
        <span class="name">Начальная цена</span>

        <span class="value">
                    <span class="rouble">208 278 000</span>
                </span>
    </div>

    <div class="item mb-1">
        <span class="name">Текущая цена</span>

        <span class="value">
                    <span class="rouble">208 278 000</span>
                </span>
    </div>

    <div class="item mb-1">
        <span class="name">Минимальная цена</span>

        <span class="value">
                    <span class="rouble">208 278 000</span>
                </span>
    </div>

    <div class="item mb-1">
        <span class="name">Шаг понижения</span>

        <span class="value">
                    <span class="rouble">12 000</span>
                    <span>(7 дн)</span>
                </span>
    </div>
</div>
