<div class="stats">
    <div class="nameValuePair justify-content-between fs-14px fs-xl-12px fs-xxl-14px">
        <div class="name fw-normal">Начальная цена:</div>

        <div class="value rouble">208 278 000</div>
    </div>

    <div class="nameValuePair justify-content-between fs-14px fs-xl-12px fs-xxl-14px">
        <div class="name fw-normal">Текущая цена:</div>

        <div class="value rouble">208 278 000</div>
    </div>

    <div class="nameValuePair justify-content-between fs-14px fs-xl-12px fs-xxl-14px">
        <div class="name fw-normal">Минимальная цена:</div>

        <div class="value rouble">208 278 000</div>
    </div>

    <div class="nameValuePair justify-content-between fs-14px fs-xl-12px fs-xxl-14px">
        <div class="name fw-normal">Шаг понижения:</div>

        <div class="value">
            <span class="rouble">12 000</span>
            <span class="ms-1">(7 дн)</span>
        </div>
    </div>
</div>
