<div class="personalDataPanelBroker2">
    <div class="d-flex flex-column flex-xxl-row justify-content-xxl-between">
        {{> NamePanel }}

        <div class="baseVerticalDivider d-none d-xxl-block"></div>
        <div class="baseHorizontalDivider d-xxl-none my-3"></div>

        {{> ../common/Experience }}

        <div class="baseVerticalDivider d-none d-xxl-block"></div>
        <div class="baseHorizontalDivider d-xxl-none my-3"></div>

        <div>
            <div class="color_9b9b9b mb-2 mb-lg-3 fw-semibold">
                Сумма
            </div>

            {{> ../../charts/stacked/Stacked }}
        </div>

        <div class="baseVerticalDivider d-none d-xxl-block"></div>
        <div class="baseHorizontalDivider d-xxl-none my-3"></div>

        {{> ../common/ChartParticipation}}

        <div class="baseVerticalDivider d-none d-xxl-block"></div>
        <div class="baseHorizontalDivider d-xxl-none my-3"></div>

        {{> ../common/ChartUserRate}}

        <div class="baseVerticalDivider d-none d-xxl-block"></div>
        <div class="baseHorizontalDivider d-xxl-none my-3"></div>

        <div class="offers d-flex flex-column align-items-center justify-content-center">
            <div class="counter fw-semibold color_8cceef">345</div>
            <div class="fs-15px fw-semibold color_9b9b9b">заказов</div>
        </div>
    </div>
</div>
