<div class="baseGridCircleChart">
    <div class="gridArea1 headerArea">Публичные предложения</div>

    <div class="gridArea2 chartArea">
        <div class="pieChartDown"></div>
    </div>

    <div class="gridArea3 legendArea">
        <div>
            {{> ../common/ChartLegendColumn icon="color_8cceef" name="Участий:" value="100"}}
            {{> ../common/ChartLegendColumn icon="color_ef7f1a" name="Побед:" value="20 (30%)"}}
        </div>
    </div>
</div>