<div class="baseGridCircleChart">
    <div class="gridArea1 headerArea">Аукцион</div>

    <div class="gridArea2 chartArea">
        <div class="pieChartUp"></div>
    </div>

    <div class="gridArea3 legendArea">
        <div>
            {{> ../common/ChartLegendColumn icon="color_8cceef" name="Участий:" value="120"}}
            {{> ../common/ChartLegendColumn icon="color_ef7f1a" name="Побед:" value="80 (62%)"}}
        </div>
    </div>
</div>
