.personalDataPanelBroker {
  .servicesTable {
    font-size: pxToRem(12);

    @include breakpoint(lg) {
      font-size: pxToRem(16);
    }

    @include breakpoint(xxl) {
      width: pxToRem(380);
    }
  }

  .priceTable {
    font-size: pxToRem(12);
    grid-gap: pxToRem(16) pxToRem(20);

    @include breakpoint(lg) {
      font-size: pxToRem(16);
    }

    @include breakpoint(xxl) {
      width: pxToRem(480);
    }
  }
}

.personalDataPanelBroker2 {
  .namePanel {
    @include breakpoint(xxl) {
      width: pxToRem(460);
    }
  }

  .offers {
    .counter {
      font-size: pxToRem(24);
      line-height: 1;
    }
  }
}