@import "sro";
@import "sro-registry";
@import "debtor";
@import "bidding-initiator-registry";
@import "registry-members";
@import "broker";
@import "etp";

.namePanel {
  @include breakpoint(xxl) {
    width: pxToRem(260);
  }
}

.baseGridCircleChart {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto pxToRem(110) auto;
  grid-template-areas: "area1" "area2" "area3";
  grid-gap: pxToRem(8);

  @include breakpoint(xl) {
    grid-template-rows: pxToRem(48) pxToRem(110) auto;
  }

  @include breakpoint(xxl) {
    grid-template-columns: pxToRem(110) 1fr;
    grid-template-rows: pxToRem(22) auto;
    grid-template-areas: "area1 area1" "area2 area3";
    grid-gap: pxToRem(16) pxToRem(20);
  }

  &_singleColumn {
    grid-template-columns: 1fr;
    grid-template-areas: "area1" "area2";
    grid-template-rows: auto auto;

    @include breakpoint(xl) {
      grid-template-rows: pxToRem(48) auto;
    }

    @include breakpoint(xxl) {
      grid-template-rows: pxToRem(22) auto;
    }
  }

  &_stickChart {
    grid-template-columns: 1fr;
    grid-template-areas: "area1" "area2" "area3";
    grid-template-rows: auto auto;

    @include breakpoint(xl) {
      grid-template-rows: pxToRem(48) pxToRem(20) auto;
    }

    @include breakpoint(xxl) {
      grid-template-rows: pxToRem(22) pxToRem(20) auto;
    }
  }

  &_age, &_experience {
    grid-template-columns: 1fr;
    grid-template-areas: "area1" "area2" "area3";
    grid-template-rows: auto auto;

    @include breakpoint(xl) {
      grid-template-rows: pxToRem(48) pxToRem(110) auto;
    }

    @include breakpoint(xxl) {
      grid-template-rows: pxToRem(22) pxToRem(110) auto;
    }
  }

  .headerArea {
    color: #9b9b9b;
    font-weight: 600;
    text-align: center;

    @include breakpoint(xl) {
      text-align: start;
    }

    @include breakpoint(xxl) {
      white-space: nowrap;
    }
  }

  .chartArea {
    display: flex;
    justify-content: center;

    @include breakpoint(xxl) {
      justify-content: flex-start;
    }
  }

  .legendArea {
    display: flex;
    justify-content: center;

    @include breakpoint(xl) {
      align-items: flex-end;
      justify-content: flex-start;
    }

    @include breakpoint(xxl) {
      align-items: flex-start;
    }
  }
}
