<div class="d-flex flex-column justify-content-between">
    <div class="color_8cceef fs-16px fs-18px mb-2 fw-semibold">Константинов Константин Константинович</div>

    {{> ../../../common/location/Location }}
</div>