<div class="d-flex flex-column justify-content-between">
    <div class="color_8cceef fs18px fw-semibold">Константинов Константин Константинович</div>

    {{> ../../../common/location/Location }}
</div>