<div class="personalDataPanelRegistryMembers">
    {{> NamePanel}}

    <div>
        <div class="nameValuePair">
            <div class="name">ИНН:</div>
            <div class="value fw-normal">000000000000</div>
        </div>

        <div class="nameValuePair">
            <div class="name">ОГРН:</div>
            <div class="value fw-normal">5855444785452</div>
        </div>
    </div>

    <div class="nameValuePair align-items-start">
        <div class="name">Стаж:</div>
        <div class="value fw-normal">2 года 1 мес.</div>
    </div>

    <div>
        <div class="nameValuePair">
            <div class="name">Участвовал на сумму:</div>
            <div class="value fs-20px">25 млн ₽</div>
        </div>

        <div class="nameValuePair">
            <div class="name">Победил на сумму:</div>
            <div class="value fs-20px">14 млн ₽</div>
        </div>
    </div>
</div>
