.imageLabel {
  color: #ffffff;
  padding: 0 pxToRem(11);
  display: flex;
  align-items: center;
  font-size: pxToRem(14);
  font-weight: 600;
  height: pxToRem(30);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

  &_type {
    &_auction {
      background-color: #00d422;

      .icon {
        margin: 0 pxToRem(6) 0 0;
      }
    }

    &_discount {
      background-color: #f6002c;
    }
  }

  &_size {
    &_small {
      height: pxToRem(24);
      font-size: pxToRem(12);
    }
  }
}
