.hat {
  .contacts {
    height: pxToRem(51);
    background-color: #f3f3f3;

    .divider {
      margin: 0 pxToRem(24);
      height: pxToRem(36);
      border-right: 1px solid #d4d4d4;
    }

    .menu {
      .item {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: pxToRem(16);
        text-decoration: none;
        color: #434343;
        cursor: pointer;

        &_menu {
          display: flex;
          align-items: center;
          justify-content: center;
          height: pxToRem(51);
          padding: 0 pxToRem(26);
          background-color: #ffe7d3;
          color: #ef7f1a;
          margin: 0 0 0 pxToRem(24);
        }

        &_color_orange {
          color: #ef7f1a;
        }

        .icon {
          width: pxToRem(16);
          margin: 0 pxToRem(8) 0 0;
        }
      }
    }

    .notifications {
      font-weight: bold;
      font-size: pxToRem(16);

      .icon {
        height: pxToRem(18);

        &_bell {
          height: pxToRem(22);
        }
      }

      .badge {
        top: -4px;
        right: -4px;
      }
    }
  }

  .navigation {
    padding: pxToRem(16) 0;
    background-color: #ffffff;
    border-bottom: 1px solid #d4d4d4;

    .searchButton {
      .button {
        height: pxToRem(50);
        margin: 0 0 0 pxToRem(20);


        &_search {
          .icon {
            width: pxToRem(16);
          }
        }
      }
    }

    .selects {
      color: #434343;

      .item:not(:last-child) {
        margin: 0 pxToRem(24) 0 0;
      }

      .icon {
        color: #9b9b9b;
      }
    }
  }
}
