.hatMobile {
  border-bottom: 1px solid #D4D4D4;

  .contacts {
    height: pxToRem(40);

    .link {
      text-decoration: none;
      color: #434343;

      &:hover {
        color: #434343;
      }

      .icon {
        width: pxToRem(20);
      }
    }
  }

  .navigation {
    height: pxToRem(60);
    background-color: #ffffff;
    border: none;
    display: grid;
    padding: 0;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: pxToRem(12);
    align-items: center;

    .logo {
      width: pxToRem(120);
    }
  }

  .openMenuButton {
    height: pxToRem(40);
    cursor: pointer;

    .icon {
      color: #161616;
      width: pxToRem(20);
      height: pxToRem(20);
    }
  }

  .searchInputContainer {
    position: relative;

    .searchInput {
      height: pxToRem(35);
      border: 1px solid #d4d4d4;
      padding-right: 32px;
    }

    .icon {
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
    }
  }
}
