.searchMenu {
  display: none;
  position: absolute;
  top: pxToRem(100);
  padding: pxToRem(16);
  width: 100%;
  z-index: 101;
  overflow: hidden;

  @include breakpoint(md) {
    top: pxToRem(131);
  }

  @include breakpoint(lg) {
    top: pxToRem(134);
  }

  .hatSearchForm {
    margin: 0 auto;
    max-width: 1200px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: pxToRem(20);
    //max-height: 100%;
    //overflow: scroll;

    .buttonsGrid {
      display: grid;
      grid-gap: pxToRem(15);
      grid-template-areas: "area2 area2"
                           "area3 area4"
                           "area5 area5"
                           "area6 area6";
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);

      @include breakpoint(lg) {
        grid-template-areas: "area1 area2 area3 area4 area5 area6";
        grid-template-columns: 1fr repeat(5, auto);
        grid-template-rows: 1fr;
      }
    }

    .rangeSlider .display, .baseSelect .selectize-input, .baseInputText {
      @include breakpoint(xl) {
        height: pxToRem(40);
      }

      @include breakpoint(xxl) {
        height: pxToRem(50);
      }
    }

    @include breakpoint(xl) {
      overflow: visible;
    }

    &__slider {
      margin-bottom: pxToRem(24);

      @include breakpoint(xxl) {
        margin-bottom: pxToRem(40);
      }
    }
  }
}

.searchMenuBackground {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0);
  inset: pxToRem(100) 0 0 0;
  height: 4000px;

  @include breakpoint(md) {
    inset: pxToRem(131) 0 0 0;
  }

  @include breakpoint(xl) {
    inset: 126px 0 0 0;
  }

  @include breakpoint(xxl) {
    inset: 134px 0 0 0;
  }

  &_active {
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.checksBlock {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-gap: pxToRem(12);
  grid-template-areas: "area1" "area3" "area5" "area2" "area4" "area6";

  @include breakpoint(md) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "area1 area2" "area3 area4" "area5 area6";
  }

  @include breakpoint(xl) {
    font-size: pxToRem(14);
    line-height: 1.1;
  }

  @include breakpoint(xxl) {
    font-size: pxToRem(16);
  }
}