.sidebarMenu {
  background-color: #ffffff;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: pxToRem(280);
  height: 100%;
  z-index: 101;
  padding: pxToRem(20) 0 ;

  .item {
    display: flex;
    align-items: center;
    color: #EF7F1A;
    padding: pxToRem(8) pxToRem(20);

    .icon {
      display: block;
      width: pxToRem(20);
      margin: 0 pxToRem(8) 0 0;
    }
  }

  .dividerContainer {
    padding: pxToRem(10) pxToRem(20);
  }

  .closeButton {
    color: #ffffff;
    position: absolute;
    top: pxToRem(0);
    right: pxToRem(-55);
    padding: pxToRem(14);

    .icon {
      width: pxToRem(26);
      height: pxToRem(26);
    }
  }
}
