{{> ../../../layout/Hat withBorder=true}}

<div class="page accountMemberPage">
    <div class="container">
        <div class="restrictedWrapper">
            <div class="overflow-hidden">{{> ../../../common/breadcrumbs/Breadcrumbs}}</div>
            <div class="restricted">Подача заявок не возможна. Заполните «Мой профиль»</div>
        </div>

        <div class="accountPageLayoutGrid">
            {{> ../../../layout/account/sidebar/Sidebar }}

            <div class="accountLotsGrid">
                <div class="containerFrame p-0 pb-3">
                    {{> ../../../common/lot-card/tile/account/OpenOffer
                        currentPrice="208 278 000"
                        minimalPrice="208 278 000"
                        yourPrice="139 579 840"
                        chancesToWin="17%"
                        probablityPrice="23 000"
                        interestedUsers="12"
                        offerCost="2 700"
                        reward="12 000"
                        priceOffer="270 000 000"
                    }}
                </div>

                <div class="containerFrame p-0 pb-3">
                    {{> ../../../common/lot-card/tile/account/PreparingDocuments
                        currentPrice="208 278 000"
                        minimalPrice="208 278 000"
                        yourPrice="139 579 840"
                        chancesToWin="17%"
                        probablityPrice="23 000"
                        interestedUsers="12"
                        offerCost="2 700"
                        reward="12 000"
                        priceOffer="270 000 000"
                        executor="HEVEYA.RU"
                    }}
                </div>

                <div class="containerFrame p-0 pb-3">
                    {{> ../../../common/lot-card/tile/account/make-offer/MakeOffer
                        currentPrice="208 278 000"
                        minimalPrice="208 278 000"
                        yourPrice="139 579 840"
                        chancesToWin="17%"
                        probablityPrice="23 000"
                        interestedUsers="12"
                        offerCost="2 700"
                        reward="12 000"
                        priceOffer="270 000 000"
                        executor="HEVEYA.RU"
                    }}
                </div>

                <div class="containerFrame p-0 pb-3">
                    {{> ../../../common/lot-card/tile/account/OfferRegistered
                        currentPrice="208 278 000"
                        minimalPrice="208 278 000"
                        yourPrice="139 579 840"
                        chancesToWin="17%"
                        probablityPrice="23 000"
                        interestedUsers="12"
                        offerCost="2 700"
                        reward="12 000"
                        priceOffer="270 000 000"
                        executor="HEVEYA.RU"
                    }}
                </div>

                <div class="containerFrame p-0 pb-3">
                    {{> ../../../common/lot-card/tile/account/BiddingEnds
                        currentPrice="208 278 000"
                        minimalPrice="208 278 000"
                        yourPrice="139 579 840"
                        chancesToWin="17%"
                        probablityPrice="23 000"
                        interestedUsers="12"
                        offerCost="2 700"
                        reward="12 000"
                        priceOffer="270 000 000"
                        isWin=true
                        executor="HEVEYA.RU"
                    }}
                </div>

                <div class="containerFrame p-0 pb-3">
                    {{> ../../../common/lot-card/tile/account/BiddingEnds
                        currentPrice="208 278 000"
                        minimalPrice="208 278 000"
                        yourPrice="139 579 840"
                        chancesToWin="17%"
                        probablityPrice="23 000"
                        interestedUsers="12"
                        offerCost="2 700"
                        reward="12 000"
                        priceOffer="270 000 000"
                        executor="HEVEYA.RU"
                    }}
                </div>

                <div class="containerFrame p-0 pb-3">
                    {{> ../../../common/lot-card/tile/account/RequestSent
                        currentPrice="208 278 000"
                        minimalPrice="208 278 000"
                        yourPrice="139 579 840"
                        chancesToWin="17%"
                        probablityPrice="23 000"
                        interestedUsers="12"
                        offerCost="2 700"
                        reward="12 000"
                        priceOffer="270 000 000"
                        isRequestSent=true
                        executor="Сидоров А.А."
                        advancedFeatures=4
                    }}
                </div>

                <div class="containerFrame p-0 pb-3">
                    {{> ../../../common/lot-card/tile/account/BrokerDismissedOrder
                        currentPrice="208 278 000"
                        minimalPrice="208 278 000"
                        yourPrice="139 579 840"
                        chancesToWin="17%"
                        probablityPrice="23 000"
                        interestedUsers="12"
                        offerCost="2 700"
                        reward="12 000"
                        priceOffer="270 000 000"
                    }}
                </div>

                <div class="containerFrame p-0 pb-3">
                    {{> ../../../common/lot-card/tile/account/BrokerAcceptedOrder
                        currentPrice="208 278 000"
                        minimalPrice="208 278 000"
                        yourPrice="139 579 840"
                        chancesToWin="17%"
                        probablityPrice="23 000"
                        interestedUsers="12"
                        offerCost="2 700"
                        reward="12 000"
                        priceOffer="270 000 000"
                        offerCost="2 700"
                        reward="12 000"
                        priceOffer="270 000 000"
                        advancedFeatures=4
                        executor="Сидоров А.А."
                    }}
                </div>

                <div class="containerFrame p-0 pb-3">
                    {{> ../../../common/lot-card/tile/account/ConfirmExecution
                        currentPrice="208 278 000"
                        minimalPrice="208 278 000"
                        yourPrice="139 579 840"
                        chancesToWin="17%"
                        probablityPrice="23 000"
                        interestedUsers="12"
                        offerCost="2 700"
                        reward="12 000"
                        priceOffer="270 000 000"
                        offerCost="2 700"
                        reward="12 000"
                        priceOffer="270 000 000"
                        advancedFeatures=4
                        executor="Сидоров А.А."
                    }}
                </div>
            </div>
        </div>
    </div>
</div>

{{> ../../../layout/footer/Footer withBorder=true}}