{{> ../../../layout/Hat withBorder=true}}

<div class="page">
    <div class="container">
        {{> ../../../common/breadcrumbs/Breadcrumbs}}

        <div class="d-flex">
            {{> ../../../layout/account/sidebar/Sidebar }}
        </div>
    </div>
</div>

{{> ../../../layout/footer/Footer withBorder=true}}