{{> ../../../layout/Hat withBorder=true}}

<div class="page accountMemberPage">
    <div class="container">
        <div class="restrictedWrapper">
            <div class="overflow-hidden">{{> ../../../common/breadcrumbs/Breadcrumbs}}</div>
            <div class="restricted">Подача заявок не возможна. Заполните «Мой профиль»</div>
        </div>

        <div class="d-flex">
            <div class="sidebarWrapper accountMemberPage__sidebar">
                {{> ../../../layout/account/sidebar/Sidebar }}
            </div>

            <div class="lots">
                <div class="containerFrame p-0 pb-3">
                    {{> ../../../common/lot-card/tile/favorite/Favorite
                        currentPrice="208 278 000"
                        minimalPrice="208 278 000"
                        yourPrice="139 579 840"
                        chancesToWin="17%"
                        probablityPrice="23 000"
                        interestedUsers="12"
                        offerCost="2 700"
                        reward="12 000"
                        priceOffer="270 000 000"
                        isMakeOfferType=true
                    }}
                </div>

                <div class="containerFrame p-0 pb-3">
                    {{> ../../../common/lot-card/tile/favorite/Favorite
                        currentPrice="208 278 000"
                        minimalPrice="208 278 000"
                        yourPrice="139 579 840"
                        chancesToWin="17%"
                        probablityPrice="23 000"
                        interestedUsers="12"
                        offerCost="2 700"
                        reward="12 000"
                        priceOffer="270 000 000"
                        isDocumentsPreparing=true
                    }}
                </div>

                <div class="containerFrame p-0 pb-3">
                    {{> ../../../common/lot-card/tile/favorite/Favorite
                        currentPrice="208 278 000"
                        minimalPrice="208 278 000"
                        yourPrice="139 579 840"
                        chancesToWin="17%"
                        probablityPrice="23 000"
                        interestedUsers="12"
                        offerCost="2 700"
                        reward="12 000"
                        priceOffer="270 000 000"
                        isMakeOffer=true
                    }}
                </div>

                <div class="containerFrame p-0 pb-3">
                    {{> ../../../common/lot-card/tile/favorite/Favorite
                        currentPrice="208 278 000"
                        minimalPrice="208 278 000"
                        yourPrice="139 579 840"
                        chancesToWin="17%"
                        probablityPrice="23 000"
                        interestedUsers="12"
                        offerCost="2 700"
                        reward="12 000"
                        priceOffer="270 000 000"
                        isOfferRegistered=true
                    }}
                </div>
            </div>
        </div>
    </div>
</div>

{{> ../../../layout/footer/Footer withBorder=true}}