<div class="lot lot_tile h-100 d-flex flex-column">
    <div>
        {{> ../../Hat}}

        <div class="imageWrapper">
            {{> ../../../InteractiveImage }}
        </div>

        <div class="lotContainer">
            <p class="textEllipsis textEllipsis_rows_2 m-0">
                Сведения по лоту №1: Жилое помещение в общей долевой собственности, земельный участок в общедолевой
                собственности под жилым помещением Жилое помещение в общей долевой
            </p>

            {{> ../common/BiddingEndTime }}
        </div>

        <div class="lotContainer py-0">
            <div class="baseHorizontalDivider m-0"></div>
        </div>

        <div class="lotContainer">
            {{> ../../../Prices
                startPrice=startPrice
                currentPrice=currentPrice
                minimalPrice=minimalPrice
                yourPrice=yourPrice
            }}
        </div>

        {{> common/TaskDescription }}
    </div>

    <div class="flex-grow-1 d-flex flex-column justify-content-between">
        <div class="lotContainer pb-0">
            {{> ../../../PriceOffer price="270 000 000"}}
        </div>

        <div class="lotContainer pb-0">
            {{> ../../../PricesService
                offerCost=offerCost
                winAward=winAward
                operatorComission=operatorComission
            }}
        </div>

        <div class="lotContainer">
            {{> ../common/Alert isPrimaryTheme=true isMicro=true
                title="Ваше согласие направлено заказчику"
                text="После оплаты услуги, денежные средства будут заблокированыдо подтверждения выполнения задания"
            }}

            <div class="mt-4">
                <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center">
                    <span class="me-3">{{> ../../../../icons/arrow/Arrow class="color_8cceef"}}</span>
                    <span class="color_9b9b9b fw-bold">Перейти на электронную площадку</span>
                </a>
            </div>
        </div>
    </div>
</div>
