<div class="nameValuePair align-items-start">
    <div class="name">Должник:</div>
    <div class="value">{{debtor}}</div>
</div>

<div class="nameValuePair align-items-start">
    <div class="name">Дата:</div>
    <div class="value">{{date}}</div>
</div>

<div class="nameValuePair align-items-start">
    <div class="name">№ дела:</div>
    <div class="value">{{number}}</div>
</div>

<div class="nameValuePair align-items-start">
    <div class="name">Решение:</div>
    <div class="value">{{decision}}</div>
</div>