<div class="violations">
    <h2 class="header2 mb-4 text-center">Нарушения</h2>

    <div class="grid">
        {{> Item debtor="ООО Ромашка" date="17.05.22" number="А27-365" decision="Штраф" }}
        {{> Item debtor="ООО Lorem ipsum dolor." date="17.05.22" number="А27-365" decision="Lorem ipsum." }}
        {{> Item debtor="ООО Lorem ipsum dolor sit amet." date="17.05.22" number="А27-365" decision="Lorem ipsum dolor." }}
        {{> Item debtor="ООО Lorem ipsum dolor sit amet." date="17.05.22" number="А27-365" decision="Lorem" }}
        {{> Item debtor="ООО Lorem ipsum dolor sit amet." date="17.05.22" number="А27-365" decision="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, impedit?" }}
        {{> Item debtor="ООО Lorem ipsum dolor sit amet.  Lorem ipsum dolor sit amet.  Lorem ipsum dolor sit amet." date="17.05.22" number="А27-365" decision="Lorem" }}
        {{> Item debtor="ООО Lorem ipsum dolor sit amet." date="17.05.22" number="А27-365" decision="Lorem ipsum dolor." }}
    </div>
</div>