<div class="lotLine lot lot_bordered">
    <div class="row m-0">
        <div class="col-3 p-0">
            <div class="lotImage position-relative">
                <div class="lotImage__label label label_theme_discount">
                    -20%
                </div>

                <img class="image" src="/images/home/top100/dummy.png"/>
            </div>
        </div>

        <div class="col-9 px-0 py-2 d-flex flex-column">
            <div class="d-flex justify-content-between">
                <span class="number fw-bold">Лот: 18-24-5186972</span>
                <span>Имущество должников (банкротство)</span>
                <span>Опубликовано: 21.03.2022</span>
                <span class="color_f6002c fw-semibold">Завершено: 25.06.2023</span>
                <span class="fw-semibold">{{> ../../location/Location }}</span>
            </div>

            <div class="divider my-2"></div>

            <div class="row pt-1 flex-grow-1">
                <div class="col-9">
                    <p class="description">
                        Сведения по лоту №1: Жилое помещение в общей долевой собственности, земельный участок в
                        общедолевой собственности под жилым помещением Жилое помещение в общей долевой Жилое помещение в
                        общей долевой собственности, земельный участок в общедолевой собственности под жилым помещением
                        Жилое помещение в общей долевой
                    </p>
                </div>

                <div class="col-3">
                    <div class="nameValuePair nameValuePair_stretch">
                        <div class="name fw-normal">Начальная цена:</div>
                        <div class="value">208 278 000 ₽</div>
                    </div>
                    <div class="nameValuePair nameValuePair_stretch">
                        <div class="name fw-normal">Итоговая цена:</div>
                        <div class="value">208 278 000 ₽</div>
                    </div>
                </div>
            </div>

            <div class="baseHorizontalDivider my-2"></div>

            <div class="row">
                <div class="col-9">
                    <div class="nameValuePair">
                        <div class="name">Должник:</div>
                        <div class="value fs-18px">ООО Ромашка</div>
                    </div>

                    <div class="nameValuePair">
                        <div class="name">Арбитражный управляющий:</div>
                        <div class="value fs-18px">Сидоров Олег Иванович</div>
                    </div>

                    <div class="my-1 d-flex">
                        {{> ../../link-phone/LinkPhone class="me-4"}}
                        {{> ../../link-email/LinkEmail}}
                    </div>

                    <div class="nameValuePair">
                        <div class="name">Оргвнизвтор торгов:</div>
                        <div class="value fs-18px">ООО Инвест</div>
                    </div>

                    <div class="my-1 d-flex">
                        {{> ../../link-phone/LinkPhone class="me-4"}}
                        {{> ../../link-email/LinkEmail}}
                    </div>
                </div>

                <div class="col-3">
                    <div class="nameValuePair">
                        <div class="name fw-normal">Статус:</div>
                        <div class="value fs-18px">Состоялись</div>
                    </div>

                    <div class="nameValuePair">
                        <div class="name fw-normal">Площадка:</div>
                        <div class="value fs-18px">ООО МЭТС</div>
                    </div>

                    <div class="nameValuePair">
                        <div class="name fw-normal">№ торгов:</div>
                        <div class="value fs-18px">1572-ОТПП</div>
                    </div>

                    <div class="nameValuePair">
                        <div class="name fw-normal">Участников:</div>
                        <div class="value fs-18px">7</div>
                    </div>

                    <div class="nameValuePair">
                        <div class="name fw-normal">Победитель:</div>
                        <div class="value fs-18px">Иванов И. И.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
