<div class="lotLine lot lot_bordered">
    <div class="row m-0">
        <div class="col-3 p-0">
            <div class="lotImage position-relative">
                <div class="lotImage__label label label_theme_auction">
                    {{> ../../icons/hammer/Hammer class="icon me-1"}}
                    Аукцион
                </div>

                <img class="image" src="/images/home/top100/dummy.png"/>
            </div>
        </div>

        <div class="col-9 px-0 py-2 d-flex flex-column">
            {{> ../MainInfo class="icon"}}

            <div class="divider my-2"></div>

            <div class="row pt-1 flex-grow-1">
                <div class="col-9">
                    <p class="description">
                        Сведения по лоту №1: Жилое помещение в общей долевой собственности, земельный участок в
                        общедолевой собственности под жилым помещением Жилое помещение в общей долевой Жилое помещение в
                        общей долевой собственности, земельный участок в общедолевой собственности под жилым помещением
                        Жилое помещение в общей долевой
                    </p>
                </div>

                <div class="col-3">
                    {{> ../Stats }}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-9"></div>
                <div class="col-3 d-flex justify-content-end">
                    <div class="iconsWrapper">
                        {{> ../Icons }}
                    </div>
                </div>
            </div>

            <div class="divider my-2"></div>

            <div class="d-flex justify-content-between align-items-center">
                <div class="deadline">
                    <span>Завершение интервала: 1 д. 12 ч.</span>
                </div>

                <span class="footerInfo">
                    <span class="name">Должник</span>
                    <span class="value">ООО “2”</span>
                </span>

                <span class="footerInfo">
                    <span class="name">АУ</span>
                    <span class="value">Курзин Д.А.</span>
                </span>

                <span class="footerInfo">
                    <span class="name">ЭТП</span>
                    <span class="value">Сфера</span>
                </span>

                <div class="button baseButton baseButton_theme_blue">Участвовать</div>
            </div>
        </div>
    </div>
</div>
