<div class="lotLine lot lot_bordered">
    <div class="gridLayout">
        <div class="imageWrapper">
            {{> ../InteractiveImage }}
        </div>

        <div class="contentWrapper">
            <div class="hatStats">
                <span class="number fw-bold ws-nowrap">Лот: 18-24-5186972</span>
                <span>Имущество должников (банкротство)</span>
                <span>Опубликовано: 21.03.2022</span>
                <span>Завершение до: 25.12.2023</span>
                {{> ../../location/Location }}
            </div>

            <div class="divider my-2"></div>

            <div class="row pt-1 flex-grow-1">
                <div class="col-7 col-xxl-9">
                    <p class="description m-0">
                        Сведения по лоту №1: Жилое помещение в общей долевой собственности, земельный участок в
                        общедолевой собственности под жилым помещением Жилое помещение в общей долевой Жилое помещение в
                        общей долевой собственности, земельный участок в общедолевой собственности под жилым помещением
                        Жилое помещение в общей долевой
                    </p>
                </div>

                <div class="col-5 col-xxl-3">
                    {{> ../Stats }}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-9"></div>
                <div class="col-3 d-flex justify-content-end">
                    <div class="iconsWrapper">
                        {{> ../Icons }}
                    </div>
                </div>
            </div>

            <div class="divider my-2"></div>

            <div class="d-flex justify-content-between align-items-center">
                <div class="endTime">
                    <span class="d-none d-xxl-block">Завершение интервала: 1 д. 12 ч.</span>
                    <span class="d-xxl-none">Завершение: 1 д. 12 ч.</span>
                </div>

                <span class="footerInfo">
                    <span class="name">Должник</span>
                    <span class="value">ООО “2”</span>
                </span>

                <span class="footerInfo">
                    <span class="name">АУ</span>
                    <span class="value">Курзин Д.А.</span>
                </span>

                <span class="footerInfo">
                    <span class="name">ЭТП</span>
                    <span class="value">Сфера</span>
                </span>

                <div class="button baseButton baseButton_theme_blue w-auto">Участвовать</div>
            </div>
        </div>
    </div>
</div>
