<div class="pagination">
    <span class="button button_arrow button_arrow_prev">
        {{> ../icons/chevron-left/ChevronLeft class="icon"}}
    </span>

    <span class="button button_active">1</span>
    <span class="button">2</span>
    <span class="button">3</span>
    <span class="button">4</span>
    <span class="button">5</span>
    <span class="button button_ellipsis">...</span>

    <span class="button button_arrow button_arrow_next">
        {{> ../icons/chevron-right/ChevronRight class="icon"}}
    </span>
</div>
