<div class="base-dropdown item">
    <div id="{{id}}" data-bs-toggle="dropdown" class="c-pointer">
        <span>{{title}}</span>
        {{> ../common/icons/chevron-down/ChevronDown class="icon"}}
    </div>

    <ul class="dropdown-menu" aria-labelledby="{{id}}">
        <li><a class="dropdown-item" href="#">1</a></li>
        <li><a class="dropdown-item" href="#">2</a></li>
        <li><a class="dropdown-item" href="#">3</a></li>
    </ul>
</div>