{{> HatMobile }}
{{> HatTablet }}
{{> HatDesktop }}

<div class="background sidebarMenuBackground"></div>
<div class="background searchMenuBackground"></div>

<div class="hatSearchForm">
    <div class="row mb-4">
        <div class="col-6">
            <div class="mb-3">
                {{> ../common/ui/Select default="Категория"}}
            </div>
            <div class="mb-3">
                {{> ../common/ui/Select default="Регион"}}
            </div>
            <div class="mb-3">
                {{> ../common/ui/Select default="Направление"}}
            </div>
            <div class="mb-3">
                {{> ../common/ui/Select default="Формирование цены"}}
            </div>
            <div class="mb-3">
                {{> ../common/ui/Select default="Электронная площадка"}}
            </div>
            <div class="mb-3">
                {{> ../common/ui/InputText id="debtor" placeholder="ИНН Должника / Продавца"}}
            </div>
            <div class="mb-3">
                {{> ../common/ui/Select default="Сортировать по"}}
            </div>
            <div class="mb-3">
                {{> ../common/ui/InputDateInterval placeholder1="Дата публикации, от" placeholder2="Дата публикации, до" }}
            </div>
            <div class="mb-3">
                {{> ../common/ui/InputDateInterval placeholder1="Дата окончания, от" placeholder2="Дата окончания, до" }}
            </div>
        </div>

        <div class="col-6">
            <div class="mb-5">
                {{> ../common/ui/RangeSliderTwoValue displayPostfix=" ₽" start=200000 end=300000 min=100000 max=1000000 labelStart="Цена начальная, от:" labelEnd="Цена начальная, до:" }}
            </div>

            <div class="mb-5">
                {{> ../common/ui/RangeSliderTwoValue displayPostfix=" ₽" start=200000 end=300000 min=100000 max=1000000 labelStart="Цена текущая, от:" labelEnd="Цена текущая, до:" }}
            </div>

            <div class="row mb-5">
                <div class="col-6">
                    {{> ../common/ui/RangeSliderOneValue displayPostfix="%" start=49 min=0 max=100 labelStart="Текущая скидка:" }}
                </div>

                <div class="col-6">
                    {{> ../common/ui/RangeSliderOneValue displayPostfix="%" start=49 min=0 max=100 labelStart="Возможная скидка:" }}
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    {{> ../common/ui/InputCheckbox id="check1" label="Активные"}}
                </div>
                <div class="col-6">
                    {{> ../common/ui/InputCheckbox id="check4" label="Есть фотографии лотов в объявлении"}}
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    {{> ../common/ui/InputCheckbox id="check2" label="Завершенные" checked=true}}
                </div>
                <div class="col-6">
                    {{> ../common/ui/InputCheckbox id="check5" label="Есть отчёт независимого оценщика" checked=true}}
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    {{> ../common/ui/InputCheckbox id="check3" label="Анонс продажи"}}
                </div>
                <div class="col-6">
                    {{> ../common/ui/InputCheckbox id="check6" label="Скрывать ранее просмотренные объявления"}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-end">
                {{> ../common/catalog-toggle-view/CatalogToggleView tiles=true}}

                <span class="me-2"></span>

                <button class="baseButton baseButton_theme_darkGray baseButton_size_medium">
                    {{> ../common/icons/excel/Excel class="icon" }}
                    <span>Выгрузить результаты</span>
                </button>

                <span class="me-2"></span>

                <button class="baseButton baseButton_theme_darkGray baseButton_size_medium">
                    {{> ../common/icons/trash/Trash class="icon" }}
                    <span>Очистить</span>
                </button>

                <span class="me-2"></span>

                <button class="baseButton baseButton_theme_darkGray baseButton_size_medium">
                    {{> ../common/icons/download/Download class="icon" }}
                    <span>Сохранить</span>
                </button>

                <span class="me-2"></span>

                <button class="baseButton baseButton_size_medium baseButton_theme_blue">
                    <span>Найти</span>
                </button>

                <span class="me-2"></span>

                <button class="baseButton baseButton_size_medium">
                    {{> ../common/icons/map-marker/MapMarker class="icon" }}
                    <span>На карте</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="sidebarMenu">
    <ul class="list-unstyled m-0 fw-semibold">
        <li>
            <a href="#" class="text-decoration-none">
                <div class="item">
                    <span class="icon">{{> ../common/icons/map-marker/MapMarker}}</span>
                    <span>Киров</span>
                </div>
            </a>
        </li>

        <li>
            <a href="#" class="text-decoration-none">
                <div class="item">
                    <span class="icon">{{> ../common/icons/user/User}}</span>
                    <span>Партнерам</span>
                </div>
            </a>
        </li>

        <li>
            <a href="#" class="text-decoration-none">
                <div class="item">
                    <span class="icon">{{> ../common/icons/smartphone/Smartphone}}</span>
                    <span class="fw-bold">Скачать приложение</span>
                </div>
            </a>
        </li>

        <li>
            <a href="#" class="text-decoration-none">
                <div class="item">
                    <span class="icon">{{> ../common/icons/menu/Menu}}</span>
                    <span class="fw-bold text-uppercase">Каталог</span>
                </div>
            </a>
        </li>
    </ul>

    <div class="dividerContainer">
        <div class="baseHorizontalDivider"></div>
    </div>

    <div class="closeButton">
        {{> ../common/icons/times/Times class="icon" }}
    </div>
</div>

{{> modals/Login }}