<div class="hat {{#if withBorder}}hat_withBorder{{/if}}">
    {{> HatMobile endpoint=endpoint }}
    {{> HatTablet }}
    {{> HatDesktop }}
</div>

{{> SearchMenu }}
{{> SidebarMenu }}
{{> modals/Login }}
{{> modals/AwardInfo }}
