<div class="hat hatDesktop d-none d-lg-block">
    <div class="contacts">
        <div class="container-lg">
            <div class="d-flex justify-content-between">
                <div class="menu d-flex align-items-center">
                    <a class="item item_color_orange" href="#">
                        <span class="d-flex">{{> ../common/icons/map-marker/MapMarker class="icon"}}</span>
                        <span class="text">Киров</span>
                    </a>

                    <div class="divider"></div>

                    <a class="item" href="#">
                        <span class="d-flex">{{> ../common/icons/user/User class="icon"}}</span>
                        <span class="text">Партнерам</span>
                    </a>

                    <div class="divider"></div>

                    <a class="item item_color_orange" href="#">
                        <span class="d-flex">{{> ../common/icons/smartphone/Smartphone class="icon"}}</span>
                        <span class="text">Скачать приложение</span>
                    </a>

                    <div class="item item_menu">
                        <span class="d-flex">{{> ../common/icons/menu/Menu class="icon"}}</span>
                        <span class="text">Каталог</span>
                    </div>
                </div>

                <div class="d-flex notifications align-items-center">
                    {{> ../common/icons/email/Email class="icon"}}

                    <div class="divider"></div>

                    <span class="position-relative">
                        {{> ../common/icons/heart/Heart class="icon"}}
                        <span class="badge position-absolute">1</span>
                    </span>

                    <div class="divider"></div>

                    <span class="position-relative">
                        {{> ../common/icons/bell/Bell class="icon icon_bell"}}
                        <span class="badge position-absolute">1</span>
                    </span>

                    <div class="divider"></div>

                    <span class="ms-2 d-flex align-items-center">
                        <span href="#"
                              class="text-decoration-none color_0f0f0f d-flex align-items-center openLoginModal c-pointer">
                            {{> ../common/icons/logout/Logout class="icon me-1"}} Войти
                        </span>
                        <span class="color_9b9b9b mx-2">или</span>
                        <a href="#" class="text-decoration-none color_0f0f0f">зарегистрироваться</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="navigation">
        <div class="container-lg">
            <div class="grid">
                <a href="/">{{> ../common/icons/logo/Logo class="icon"}}</a>

                <div class="flex-grow-1">
                    {{> ../common/ui/InputSearch placeholder="Что вы ищете?" }}
                </div>

                <div class="selects d-flex">
                    <div class="item">
                        <span class="me-3">Регион</span>
                        {{> ../common/icons/chevron-down/ChevronDown class="icon"}}
                    </div>

                    <div class="item">
                        <span class="me-3">Категория</span>
                        {{> ../common/icons/chevron-down/ChevronDown class="icon"}}
                    </div>

                    <div class="item">
                        <span class="me-3">Формирование цены</span>
                        {{> ../common/icons/chevron-down/ChevronDown class="icon"}}
                    </div>

                    <div class="item">
                        <span class="me-3">Сортировать по</span>
                        {{> ../common/icons/chevron-down/ChevronDown class="icon"}}
                    </div>
                </div>


                <div>{{> ../common/icons/adjust/Adjust class="icon"}}</div>

                <div class="button baseButton baseButton_theme_blue">Найти</div>

                <div class="button baseButton baseButton_search d-flex">
                    <div>{{> ../common/icons/map-marker/MapMarker}}</div>
                    <span class="ms-2">На карте</span>
                </div>
            </div>
        </div>
    </div>
</div>