<div class="searchMenu">
    <div class="hatSearchForm">
        <div class="row mb-4">
            <div class="col-12 col-lg-6">
                <div class="mb-3">
                    {{> ../common/ui/Select default="Категория" multiple=true}}
                </div>
                <div class="mb-3">
                    {{> ../common/ui/Select default="Регион" multiple=true}}
                </div>
                <div class="mb-3">
                    {{> ../common/ui/Select default="Направление" multiple=true}}
                </div>
                <div class="mb-3">
                    {{> ../common/ui/Select default="Формирование цены" multiple=true}}
                </div>
                <div class="mb-3">
                    {{> ../common/ui/Select default="Электронная площадка"}}
                </div>
                <div class="mb-3">
                    {{> ../common/ui/InputText id="debtor" placeholder="ИНН Должника / Продавца"}}
                </div>
                <div class="mb-3">
                    {{> ../common/ui/Select default="Сортировать по"}}
                </div>
                <div class="mb-3">
                    {{> ../common/ui/InputDateInterval placeholder1="Дата публикации, от" placeholder2="Дата публикации, до" placeholderMobile1="От" placeholderMobile2="До" }}
                </div>
                <div class="mb-3">
                    {{> ../common/ui/InputDateInterval placeholder1="Дата окончания, от" placeholder2="Дата окончания, до" placeholderMobile1="От" placeholderMobile2="До" }}
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="mb-5">
                    {{> ../common/ui/RangeSliderTwoValue displayPostfix=" ₽" start=200000 end=300000 min=100000 max=1000000 labelStart="Цена начальная, от:" labelEnd="Цена начальная, до:" labelStartMicro="От" labelEndMicro="До" }}
                </div>

                <div class="mb-5">
                    {{> ../common/ui/RangeSliderTwoValue displayPostfix=" ₽" start=200000 end=300000 min=100000 max=1000000 labelStart="Цена текущая, от:" labelEnd="Цена текущая, до:" labelStartMicro="От" labelEndMicro="До" }}
                </div>

                <div class="row mb-5">
                    <div class="col-6">
                        {{> ../common/ui/RangeSliderOneValue displayPostfix="%" start=49 min=0 max=100 labelStart="Текущая скидка:" labelStartMicro="%" }}
                    </div>

                    <div class="col-6">
                        {{> ../common/ui/RangeSliderOneValue displayPostfix="%" start=49 min=0 max=100 labelStart="Возможная скидка:" labelStartMicro="%" }}
                    </div>
                </div>

                <div class="checksBlock">
                    <div class="gridArea1">
                        {{> ../common/ui/InputCheckbox id="check1" label="Активные"}}
                    </div>

                    <div class="gridArea2">
                        {{> ../common/ui/InputCheckbox id="check4" label="Есть фотографии лотов в объявлении"}}
                    </div>

                    <div class="gridArea3">
                        {{> ../common/ui/InputCheckbox id="check2" label="Завершенные" checked=true}}
                    </div>

                    <div class="gridArea4">
                        {{> ../common/ui/InputCheckbox id="check5" label="Есть отчёт независимого оценщика" checked=true}}
                    </div>

                    <div class="gridArea5">
                        {{> ../common/ui/InputCheckbox id="check3" label="Анонс продажи"}}
                    </div>

                    <div class="gridArea6">
                        {{> ../common/ui/InputCheckbox id="check6" label="Скрывать ранее просмотренные объявления"}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="buttonsGrid">
                    <div class="gridArea1 d-none d-lg-flex justify-content-end">
                        {{> ../common/catalog-toggle-view/CatalogToggleView tiles=true}}
                    </div>

                    <button class="gridArea2 baseButton baseButton_theme_darkGray baseButton_size_medium">
                        {{> ../common/icons/excel/Excel class="icon" }}
                        <span>Выгрузить результаты</span>
                    </button>

                    <button class="gridArea3 baseButton baseButton_theme_darkGray baseButton_size_medium">
                        {{> ../common/icons/trash/Trash class="icon" }}
                        <span>Очистить</span>
                    </button>

                    <button class="gridArea4 baseButton baseButton_theme_darkGray baseButton_size_medium">
                        {{> ../common/icons/download/Download class="icon" }}
                        <span>Сохранить</span>
                    </button>

                    <button class="gridArea5 baseButton baseButton_size_medium baseButton_theme_blue">
                        <span>Найти</span>
                    </button>

                    <button class="gridArea6 baseButton baseButton_size_medium">
                        {{> ../common/icons/map-marker/MapMarker class="icon" }}
                        <span>На карте</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background searchMenuBackground"></div>
