<div class="sidebarMenu">
    <ul class="list-unstyled m-0 fw-semibold">
        <li>
            <a href="#" class="text-decoration-none">
                <div class="item">
                    <span class="icon">{{> ../common/icons/map-marker/MapMarker}}</span>
                    <span>Киров</span>
                </div>
            </a>
        </li>

        <li>
            <a href="#" class="text-decoration-none">
                <div class="item">
                    <span class="icon">{{> ../common/icons/user/User}}</span>
                    <span>Партнерам</span>
                </div>
            </a>
        </li>

        <li>
            <a href="#" class="text-decoration-none">
                <div class="item">
                    <span class="icon">{{> ../common/icons/smartphone/Smartphone}}</span>
                    <span class="fw-bold">Скачать приложение</span>
                </div>
            </a>
        </li>

        <li>
            <a href="#" class="text-decoration-none">
                <div class="item">
                    <span class="icon">{{> ../common/icons/menu/Menu}}</span>
                    <span class="fw-bold text-uppercase">Каталог</span>
                </div>
            </a>
        </li>
    </ul>

    <div class="dividerContainer">
        <div class="baseHorizontalDivider"></div>
    </div>

    <div class="closeButton">
        {{> ../common/icons/times/Times class="icon" }}
    </div>
</div>