<div class="location">
    <div class="d-flex fs-12px">
        <div class="offerFooterIcon me-2">
            <span class="iconWrapper d-flex justify-content-center align-items-center">{{> ../../../common/icons/hammer/Hammer class="icon"}}</span>
        </div>

        <span class="d-none d-lg-inline">в Кирове:</span> 5009
    </div>
</div>