<div class="location">
    <div class="d-flex">
        <div class="offerFooterIcon me-2">
            <span class="iconWrapper d-flex justify-content-center align-items-center">{{> ../../../common/icons/hammer/Hammer class="icon"}}</span>
        </div>
        в Кирове: 5009
    </div>
</div>