<div class="baseInputCheckbox baseInputCheckbox_theme_account">
    <label class="checkContainer c-pointer" {{#if id}}for="{{id}}" {{/if}}>
        <input
            type="checkbox"
            {{#if value}}value="{{value}}" {{/if}}
            {{#if id}}id="{{id}}" {{/if}}
            {{#if name}}name="{{name}}" {{/if}}
            {{#if checked}}checked{{/if}}
        />
        {{> ../../../common/icons/check-mark-2/CheckMark2 class="icon"}}
    </label>
</div>