{{> ../../layout/Hat}}

<div class="page">
    <div class="container-lg">
        {{> ../../common/breadcrumbs/Breadcrumbs}}

        <h1 class="header1 page__block">Проверка конкурента на торгах</h1>

        <div class="mb-3">
            <form action="">
                <div class="d-flex">
                    {{> ../../common/forms/InputSearch placeholder="Введите ИНН, наименование или ФИО участника"}}
                    <div class="baseButton baseButton_theme_blue baseButton_size_medium ms-3">Найти</div>
                </div>
            </form>
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/member/Member }}
        </div>

        <div class="d-flex justify-content-center mt-4">
            {{> ../../common/pagination/Pagination }}
        </div>
    </div>
</div>

{{> ../../layout/Footer}}