<form class="formFindMember" action="">
    <div class="d-flex">
        <div class="inputSearch flex-grow-1">{{> ../../common/ui/InputSearch placeholder="Введите ИНН, наименование или ФИО участника"}}</div>
        <div class="baseButton baseButton_theme_blue baseButton_size_medium ms-3 w-auto">Найти</div>
    </div>
</form>
