<div class="companyStats d-flex justify-content-between">
    {{> properties/Basic }}
    {{> properties/Bad }}
    {{> properties/Bad }}
    {{> properties/Bad }}
    {{> properties/Good }}
    {{> properties/Good }}
</div>
