<div class="top10">
    <div class="row">
        <div class="col-6">
            <img src="/images/dummyMapTop10.jpg" alt="map"/>
        </div>

        <div class="col-6 d-flex flex-column justify-content-between">
            <div class="text-center fw-semibold fs20px mb-2">Топ 10 регионов</div>

            {{> ../tables/top10/Top10 }}
        </div>
    </div>
</div>