<div class="item">
    <div class="item__header">
        {{> OptionHat key=key title=title checked=checked}}
    </div>

    <div class="d-flex justify-content-md-between flex-column flex-xxl-row options">
        <div class="d-flex align-items-xxl-center mb-3 mb-xxl-0 flex-column flex-md-row">
            <div class="me-3 fs-16px fs-md-18px mb-2 mb-md-0">Стоимость подачи заявки:</div>

            <div class="d-flex align-items-center">
                <div class="orderCostWrapper item__input">
                    {{> ../../ui/InputText placeholder="2000"}}
                </div>

                <span class="rouble fs-18px"></span>
            </div>
        </div>

        <div class="d-flex align-items-md-center mb-3 mb-xxl-0 flex-column flex-md-row">
            <div class="me-3 fs-16px fs-md-18px mb-2 mb-md-0">Вознаграждение за победу:</div>

            <div class="d-flex align-items-center">
                <div class="awardForWinWrapper item__input">
                    {{> ../../ui/InputText placeholder="2 000 000"}}
                </div>

                {{> ../../ui/account/Switch offLabel="₽" onLabel="%"}}
            </div>
        </div>

        <div class="d-flex align-items-md-center flex-column flex-md-row">
            <div class="me-3 fs-16px fs-md-18px mb-2 mb-md-0">Срок:</div>

            <div class="d-flex align-items-center">
                <div class="winTermWrapper item__input">
                    {{> ../../ui/InputText placeholder="12"}}
                </div>

                {{> ../../ui/account/Switch offLabel="Часы" onLabel="Дни"}}
            </div>
        </div>
    </div>
</div>
