.arbitratorPage {
  &__mapHeader1 {
    margin: 0 0 pxToRem(46);
  }

  &__map1 {
    margin: 0 0 pxToRem(60);
  }

  &__mapHeader2 {
    margin: 0 pxToRem(46);
  }

  &__map2 {
    margin: 0 0 pxToRem(35);
  }

  &__ratePanelsDivider {
    margin: pxToRem(12) 0;
  }

  &__addOpinionButton {
    margin: pxToRem(32) 0 0;
  }

  .personalDataPanelWrapper {
    max-width: pxToRem(370);

    @include breakpoint(xl) {
      max-width: initial;
    }
  }
}