<h2 class="header2 mb-4 text-center">{{header}}</h2>

<div class="row">
    <div class="col-6">
        <div class="auctionBlockChart1" style="width: 800px;height: 370px"></div>
    </div>

    <div class="col-6">
        <div class="auctionBlockChart2" style="width: 800px;height: 370px"></div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="auctionBlockChart3" style="width: 800px;height: 370px"></div>
    </div>

    <div class="col-6">
        <div class="auctionBlockChart4" style="width: 800px;height: 370px"></div>
    </div>
</div>