<div
    class="pieChart pieChart_size_110"
    data-inner-label="15%"
    data-inner-label-caption="Побед"
    data-inner-label-center-y="20"
    data-inner-radius="80"
    data-inner-label-caption-center-y="-5"
    data-colors='["0x8CCEEF", "0x434343"]'
    data-values='[21, 7]'
    data-categories='["A", "B", "C"]'
    data-font-size="1.8"
></div>