<div class="lotTileCompleted lot lot_bordered">
    <div class="hat fs-12px">
        <div class="d-flex justify-content-between">
            <span class="fw-semibold">Лот: 18-24-5186972</span>

            {{> ../../location/Location}}
        </div>

        <div class="my-2">Имущество должников (банкротство)</div>

        <div class="d-flex justify-content-between">
            <span>Опубликовано: 21.03.2022</span>

            <span class="color_f6002c fw-semibold">Завершено: 25.06.2023</span>
        </div>
    </div>

    <div class="imageContainer interactiveImage" data-active="0">
        <div class="imageWrapper" data-item-id="1">
            <img class="image" src="/images/lot/dummy1.jpg" alt="lot dummy"/>
        </div>

        <div class="imageWrapper" data-item-id="2">
            <img class="image" src="/images/lot/dummy2.jpg" alt="lot dummy"/>
        </div>

        <div class="imageWrapper" data-item-id="3">
            <img class="image" src="/images/lot/dummy3.jpg" alt="lot dummy"/>
        </div>

        <div class="imageWrapper" data-item-id="4">
            <img class="image" src="/images/lot/dummy4.jpg" alt="lot dummy"/>
        </div>

        <div class="pagination">
            <div class="leftBorder h-100"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="rightBorder h-100"></div>
        </div>
    </div>
</div>
