<div class="lotTileCompleted lot lot_bordered">
    <div class="hat fs-12px">
        <div class="d-flex justify-content-between">
            <span class="fw-semibold">Лот: 18-24-5186972</span>

            <span class="fw-semibold">{{> ../../location/Location}}</span>
        </div>

        <div class="my-2">Имущество должников (банкротство)</div>

        <div class="d-flex justify-content-between">
            <span>Опубликовано: 21.03.2022</span>

            <span class="color_f6002c fw-semibold">Завершено: 25.06.2023</span>
        </div>
    </div>

    {{> ../InteractiveImage }}

    <div class="body">
        <p class="textEllipsis textEllipsis_rows_5 m-0">Сведения по лоту №1: Жилое помещение в общей долевой собственности,
            земельный участок в общедолевой собственности
            под жилым помещением Жилое помещение в общей долевой </p>

        <div class="baseHorizontalDivider lotTileCompleted__divider"></div>

        <div class="nameValuePair d-flex justify-content-between fs-14px">
            <div class="name fw-normal">Начальная цена:</div>
            <div class="value rouble">208 278 000</div>
        </div>

        <div class="nameValuePair d-flex justify-content-between fs-14px">
            <div class="name fw-normal">Итоговая цена:</div>
            <div class="value rouble">208 278 000</div>
        </div>

        <div class="baseHorizontalDivider lotTileCompleted__divider"></div>

        <div class="nameValuePair fs-14px">
            <div class="name fw-normal">Должник:</div>
            <div class="value fs-16px ws-nowrap">ООО Ромашка</div>
        </div>

        <div class="nameValuePair fs-14px d-flex flex-column align-items-start">
            <div class="name fw-normal">Арбитражный управляющий:</div>
            <div class="value fs-16px ws-nowrap">Сидоров Олег Иванович</div>
        </div>

        {{> ../../link-phone/LinkPhone class="mb-2 lotTileCompleted__contactsLink fs-14"}}
        {{> ../../link-email/LinkEmail class="lotTileCompleted__contactsLink fs-14"}}

        <div class="nameValuePair fs-14px">
            <div class="name fw-normal">Организатор торгов:</div>
            <div class="value fs-16px">ООО Инвест</div>
        </div>

        <div class="baseHorizontalDivider lotTileCompleted__divider"></div>

        <div class="nameValuePair fs-14px">
            <div class="name fw-normal">Статус:</div>
            <div class="value">Состоялись</div>
        </div>
        <div class="nameValuePair fs-14px">
            <div class="name fw-normal">Площадка:</div>
            <div class="value">ООО МЭТС</div>
        </div>
        <div class="nameValuePair fs-14px">
            <div class="name fw-normal">№ торгов:</div>
            <div class="value">1572-ОТПП</div>
        </div>
        <div class="nameValuePair fs-14px">
            <div class="name fw-normal">Участников:</div>
            <div class="value">7</div>
        </div>
        <div class="nameValuePair fs-14px">
            <div class="name fw-normal">Победитель:</div>
            <div class="value">Иванов И. И.</div>
        </div>
    </div>
</div>
