<div class="lotHat">
    <div class="d-flex justify-content-between fw-semibold">
        <span class="number">Лот: 18-24-5186972</span>
        <div>{{> ../../location/Location }}</div>
    </div>

    <div>
        <span>Имущество должников (банкротство)</span>
    </div>
</div>
