<div class="lot lot_tile {{class}}">
    {{> Hat}}

    {{> ../InteractiveImage }}

    <div class="lotBody">
        <p class="textEllipsis textEllipsis_rows_5">
            Сведения по лоту №1: Жилое помещение в общей долевой собственности, земельный участок в общедолевой
            собственности
            под жилым помещением Жилое помещение в общей долевой
        </p>

        <div class="deadline mb-3">
            <span>Завершение интервала: 1 д. 12 ч.</span>
        </div>

        <div class="divider mb-2"></div>

        {{> ../Stats }}
    </div>

    <div class="lotFooter">
        <div class="row">
            <div class="col-6">
                <span class="baseButton baseButton_theme_blue baseButton_size_medium">Участвовать</span>
            </div>

            <div class="col-6 align-items-center d-flex">
                <div class="flex-grow-1">{{> ../Icons}}</div>
            </div>
        </div>
    </div>
</div>