<div class="lot lot_tile {{class}}">
    <div class="lotHat">
        <div class="d-flex justify-content-between fw-semibold">
            <span class="number">Лот: 18-24-5186972</span>
            <div>{{> ../../location/Location }}</div>
        </div>

        <div>
            <span>Имущество должников (банкротство)</span>
        </div>
    </div>

    <div class="lotImage position-relative">
        <div class="lotImage__label label label_theme_auction">
            {{> ../../icons/hammer/Hammer class="icon me-1"}}
            Аукцион
        </div>

        <img class="image" src="/images/home/top100/dummy.png"/>
    </div>

    <div class="lotBody">
        <p class="description">
            Сведения по лоту №1: Жилое помещение в общей долевой собственности, земельный участок в общедолевой
            собственности
            под жилым помещением Жилое помещение в общей долевой
        </p>

        <div class="deadline mb-3">
            <span>Завершение интервала: 1 д. 12 ч.</span>
        </div>

        <div class="divider mb-2"></div>

        {{> ../Stats }}
    </div>

    <div class="lotFooter">
        <div class="row">
            <div class="col-6">
                <span class="baseButton baseButton_theme_blue baseButton_size_medium">Участвовать</span>
            </div>

            <div class="col-6 align-items-center d-flex">
                <div class="flex-grow-1">{{> ../Icons}}</div>
            </div>
        </div>
    </div>
</div>