<div class="lot lot_tile d-flex flex-column {{class}}">
    {{> Hat}}

    <div class="imageWrapper">
        {{> ../InteractiveImage }}
    </div>

    <div class="lotBody flex-grow-1 d-flex flex-column justify-content-between">
        <p class="textEllipsis textEllipsis_rows_5">
            Сведения по лоту №1: Жилое помещение в общей долевой собственности, земельный участок в общедолевой
            собственности
            под жилым помещением Жилое помещение в общей долевой
        </p>

        <div>
            <div class="endTime mb-3">
                <span>Завершение интервала: 1 д. 12 ч.</span>
            </div>

            <div class="divider mb-2"></div>

            {{> ../Stats }}
        </div>
    </div>

    <div class="lotFooter">
        <span class="baseButton baseButton_theme_blue baseButton_size_medium p-0">Участвовать</span>

        <div class="d-flex align-items-center">
            <div class="flex-grow-1">{{> ../Icons}}</div>
        </div>
    </div>
</div>