<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 ps-4">
                <div class="navigationLink"><a href="#" class="link">О проекте</a></div>
                <div class="navigationLink"><a href="#" class="link">Документы и лицензии</a></div>
                <div class="navigationLink"><a href="#" class="link">Договор оферта</a></div>
            </div>

            <div class="col-12 col-md-3">
                <div class="navigationLink"><a href="#" class="link">Услуги</a></div>
                <div class="navigationLink"><a href="#" class="link">Партнеры</a></div>
                <div class="navigationLink"><a href="#" class="link">Стать партнером</a></div>
            </div>

            <div class="col-12 col-md-2">
                <div class="navigationLink"><a href="#" class="link">Передача сведений API</a></div>
                <div class="navigationLink"><a href="#" class="link">Предложить идею</a></div>
                <div class="navigationLink"><a href="#" class="link">Реквизиты</a></div>
            </div>

            <div class="col-12 col-md-3 d-flex flex-column align-items-center align-items-md-end">
                <a href="#" class="appLink">
                    <img width="134" height="41" src="/images/layout/google-play.svg"/>
                </a>

                <a href="#" class="appLink">
                    <img width="134" height="41" src="/images/layout/app-store.svg"/>
                </a>

                <a href="#" class="appLink">
                    <img width="134" height="41" src="/images/layout/ru-store.svg"/>
                </a>
            </div>
        </div>

        <div class="divider"></div>

        {{> contacts/Mobile}}
        {{> contacts/Tablet}}
        {{> contacts/Desktop}}
    </div>
</div>