<div class="item">
    <div class="item__header">
        {{> OptionHat key=key title=title}}
    </div>

    <div class="d-flex options">
        <div class="d-flex align-items-center options__item">
            <div class="me-3 fs-16px fs-md-18px">Стоимость:</div>

            <div class="costWrapper item__input">
                {{> ../../../common/ui/InputText placeholder="2000"}}
            </div>

            <span class="rouble fs-18px"></span>
        </div>

        <div class="d-flex align-items-center options__item">
            <div class="me-3 fs-16px fs-md-18px">Срок:</div>

            <div class="winTermWrapper item__input">
                {{> ../../../common/ui/InputText placeholder="12"}}
            </div>

            {{> ../../../common/ui/account/Switch offLabel="Часы" onLabel="Дни"}}
        </div>
    </div>
</div>