<div class="itemAdvancedServices">
    <div class="itemAdvancedServices__header">
        {{> OptionHat key=key title=title}}
    </div>

    <div class="d-flex align-items-center options">
        <div class="me-3 fs-16px fs-md-18px">Стоимость:</div>

        <div class="costWrapper itemParticipationCost__input">
            {{> ../../../common/ui/InputText placeholder="2000"}}
        </div>

        <span class="rouble fs-18px"></span>
    </div>
</div>