<div class="item">
    <div class="itemAdvancedServices__header">
        {{> OptionHat key=key title=title}}
    </div>

    <div class="d-flex align-items-center options">
        <div class="me-3 fs-16px fs-md-18px">Стоимость:</div>

        {{> InputWithSwitch }}
    </div>
</div>