<div class="itemParticipationCost">
    <div class="d-flex align-items-xxl-center itemParticipationCost__header">
        <div class="checkboxWrapper">
            {{> ../../../common/ui/account/InputCheckbox id=key name="foo" value="foo" checked=checked}}
        </div>

        <label for={{key}} class="fw-semibold fs-16px fs-md-18px">{{title}}</label>
    </div>

    <div class="d-flex justify-content-between options">
        <div class="d-flex align-items-center">
            <div class="me-3 fs-16px fs-md-18px">Стоимость подачи заявки:</div>

            <div class="orderCostWrapper itemParticipationCost__input">
                {{> ../../../common/ui/InputText placeholder="2000"}}
            </div>

            <span class="rouble fs-18px"></span>
        </div>

        <div class="d-flex align-items-center">
            <div class="me-3 fs-16px fs-md-18px">Вознаграждение за победу:</div>

            <div class="awardForWinWrapper itemParticipationCost__input">
                {{> ../../../common/ui/InputText placeholder="2 000 000"}}
            </div>

            {{> ../../../common/ui/account/Switch offLabel="₽" onLabel="%"}}
        </div>

        <div class="d-flex align-items-center">
            <div class="me-3 fs-16px fs-md-18px">Срок:</div>

            <div class="winTermWrapper itemParticipationCost__input">
                {{> ../../../common/ui/InputText placeholder="12"}}
            </div>

            {{> ../../../common/ui/account/Switch offLabel="Часы" onLabel="Дни"}}
        </div>
    </div>
</div>
