{{> ../../../layout/Hat withBorder=true}}

<div class="myServicesPage">
    <div class="container">
        {{> ../../../common/breadcrumbs/Breadcrumbs}}

        <div class="accountPageLayoutGrid">
            {{> ../../../layout/account/sidebar/Sidebar }}

            <div>
                <div class="fs-18px fs-md-20px fw-bold">Стоимость участия:</div>
                {{> ItemParticipationCost title="Подача заявки в торгах по Банкротству без аккредитации на ЭТП, по агентскому договору или доверенности." checked=true}}
            </div>
        </div>
    </div>
</div>

{{> ../../../layout/footer/Footer withBorder=true}}
