<div class="d-flex align-items-xxl-center">
    <div class="checkboxWrapper">
        {{> ../../../common/ui/account/InputCheckbox id=key name="foo" value="foo" checked=checked}}
    </div>

    <label for="{{key}}" class="fw-semibold fs-16px fs-md-18px c-pointer">{{title}}</label>
</div>
