@import "@styles/utils/utils";

.offerPage {
  padding: 0 0 pxToRem(50);
  .crumbsWrapper {
    padding: pxToRem(25) 0;
  }

  .lotMainInfo {
    padding: pxToRem(10) 0;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
  }

  .infoLinks {
    .item {
      text-decoration: none;

      &:not(:last-child) {
        margin: 0 pxToRem(40) 0 0;
      }

      .icon {
        color: #8cceef;
      }

      .text {
        color: #9b9b9b;
        font-size: pxToRem(16);
        font-weight: bold;
      }
    }
  }

  .imageWrapper {
    width: pxToRem(580);
    height: pxToRem(580);
  }

  .requisites {
    border-radius: 5px;
    background-color: #f5f5f5;
    padding: pxToRem(12) pxToRem(110) pxToRem(12) pxToRem(12);
  }

  .companyName {
    font-size: pxToRem(18);
  }

  .allLots {
    text-decoration: none;

    .icon {
      color: #8cceef;
      width: pxToRem(18);
    }
  }

  .pricesWrapper {
    flex-shrink: 0;
    border-left: 1px solid #d4d4d4;
    margin: 0 0 0 pxToRem(24);
    padding: 0 0 0 pxToRem(24);
    width: pxToRem(310);

    .panel {
      border-radius: 5px;
      padding: pxToRem(12);

      &_blue {
        background-color: #e4f6ff;
      }

      &_grey {
        background-color: #f5f5f5;
      }
    }
  }

  .infoColumn {
    padding: 0 0 pxToRem(16);
    border-bottom: 1px solid #d4d4d4;
  }

  .contacts {
    .item {
      &:not(:last-child) {
        margin: 0 0 pxToRem(16);
        padding: 0 0 pxToRem(30) 0;
        border-bottom: 1px solid #d4d4d4;
      }

      .link{
        text-decoration: none;
        display: flex;
        align-items: center;

        &_phone {
          .icon {
            color: #5fa85e;
          }
        }

        &_email {
          .icon {
            color: #eac338;
          }
        }

        &_request {
          .icon {
            color: #8cceef;
          }
        }
      }

      .grid {
        display: grid;
        grid-template-areas: "item-1 item-2"
                       "item-3 item-4";
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 1fr auto;
        grid-gap: pxToRem(4) pxToRem(25);

        .item1{
          grid-area: item-1;
        }

        .item2{
          grid-area: item-2;
          display: flex;
          justify-content: center;
        }

        .item3{
          grid-area: item-3;
        }

        .item4{
          grid-area: item-4;
        }
      }
    }
  }

  .dividerDescription {
    border-bottom: 1px solid #d4d4d4;
    margin: pxToRem(28) 0;
  }

  .paragraph {
    font-size: pxToRem(18);
  }

  .documents {
    .icon {
      color: #8cceef;
    }

    .link {
      text-decoration: none;
      color: #434343;
      font-weight: 600;
    }

    .itemRow:not(:last-child) {
      margin-bottom: pxToRem(16);
    }
  }
}