@import "bid-info/mobile";
@import "bid-info/desktop";
@import "prices-column";

.offerPage {
  padding: 0 0 pxToRem(50);

  .lotMainInfo {
    padding: pxToRem(10) 0;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;

    @include breakpoint(xl) {
      font-size: pxToRem(12);
    }

    @include breakpoint(xxl) {
      font-size: pxToRem(16);
    }
  }

  .infoLinks {
    display: flex;
    flex-direction: column;

    @include breakpoint(lg) {
      display: block;
    }

    .item {
      text-decoration: none;
      &:not(:last-child) {
        margin: 0 0 pxToRem(24);
      }
      .icon {
        color: #8cceef;
      }

      .text {
        color: #9b9b9b;
        font-size: pxToRem(16);
        font-weight: bold;
      }

      @include breakpoint(lg) {
        &:not(:last-child) {
          margin: 0 pxToRem(40) 0 0;
        }
      }
    }
  }

  .imageWrapper {
    width: pxToRem(300);
    height: pxToRem(300);
    flex-shrink: 0;

    @include breakpoint(xxl) {
      width: pxToRem(580);
      height: pxToRem(580);
    }
  }

  .debtor {
    border-radius: 5px;
    background-color: #f5f5f5;
    padding: pxToRem(12) pxToRem(110) pxToRem(12) pxToRem(12);
    font-size: pxToRem(14);

    @include breakpoint(xxl) {
      font-size: pxToRem(16);
    }
  }

  .companyName {
    font-size: pxToRem(18);
  }

  .allLots {
    text-decoration: none;

    .icon {
      color: #8cceef;
      width: pxToRem(18);
    }
  }

  .infoColumn {
    padding: 0 0 pxToRem(16);
    border-bottom: 1px solid #d4d4d4;
  }

  .contacts {
    .item {
      padding: 0 0 pxToRem(30);

      &:not(:last-child) {
        margin: 0 0 pxToRem(16);
        border-bottom: 1px solid #d4d4d4;
      }

      .link {
        text-decoration: none;
        display: flex;
        align-items: center;

        &_phone {
          .icon {
            color: #5fa85e;
          }
        }

        &_email {
          .icon {
            color: #eac338;
          }
        }

        &_request {
          .icon {
            color: #8cceef;
          }
        }
      }

      .grid {
        display: grid;
        grid-template-areas: "item-1 item-2"
                       "item-3 item-4";
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 1fr auto;
        grid-gap: pxToRem(4) pxToRem(25);

        .item1 {
          grid-area: item-1;
        }

        .item2 {
          grid-area: item-2;
          display: flex;
          justify-content: center;
        }

        .item3 {
          grid-area: item-3;
        }

        .item4 {
          grid-area: item-4;
        }
      }

      @include breakpoint(xl) {
        padding: 0 0 pxToRem(16);
      }

      @include breakpoint(xxl) {
        padding: 0 0 pxToRem(30);
      }
    }

    @include breakpoint(xl) {
      font-size: pxToRem(14);
    }

    @include breakpoint(xxl) {
      font-size: pxToRem(16);
    }
  }

  .dividerDescription {
    border-bottom: 1px solid #d4d4d4;
    margin: pxToRem(28) 0;
  }

  .paragraph {
    font-size: pxToRem(18);
  }

  .documents {
    .icon {
      color: #8cceef;
    }

    .link {
      text-decoration: none;
      color: #434343;
      font-weight: 600;
    }

    .itemRow:not(:last-child) {
      margin-bottom: pxToRem(16);
    }
  }

  .contactItem:not(:last-child) {
    border-bottom: 1px solid #d4d4d4;
  }

  .orderPayment {
    .paragraph {
      line-clamp: 4;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;

      @include breakpoint(lg) {
        overflow: visible;
        text-overflow: initial;
        display: block;
        line-clamp: none;
        -webkit-line-clamp: none;
      }
    }

    .moreInfo {

    }
  }

  .documents {
    .link {
      font-size: pxToRem(16);

      @include breakpoint(md) {
        font-style: pxToRem(18);
      }
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: pxToRem(18) pxToRem(26);

      @include breakpoint(lg) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}