.ratingPanel {
  .ratingHeader {
    margin: 0 0 pxToRem(8);
    color: #0F0F0F;
    font-size: pxToRem(16);

    @include breakpoint(md) {
      font-size: pxToRem(20);
      margin: 0 0 pxToRem(20);
    }
  }

  .statProgress:not(:last-child) {
    margin: 0 0 pxToRem(41);
  }

  .groupRatingProgress {
    .progressComment {
      font-size: pxToRem(16);
      position: absolute;
      right: 0;
      top: 20px;
      color: #434343;
    }
  }
}
