.nameValuePair {
  display: flex;
  align-items: center;
  font-size: pxToRem(14);
  font-weight: 600;

  @include breakpoint(md) {
    font-size: pxToRem(16);
  }

  .name {
    color: #9b9b9b;
    margin: 0 pxToRem(8) 0 0;
  }

  .value {
    color: #161616;

    &_strong {
      font-size: pxToRem(16);

      @include breakpoint(md) {
        font-size: pxToRem(20);
      }
    }
  }

  &_stretch {
    justify-content: space-between;

    .name {
      margin: 0;
    }
  }
}