

.lotLine {
  padding: 0 36px 0 0;
  overflow: hidden;

  .footerInfo {

    .name{
      &:after {
        content: ":";
      }
    }

    .value {
      font-weight: bold;
    }
  }

  .button {
    height: pxToRem(50) !important;
  }

  .lotImage {
    margin: 0 pxToRem(38) 0 0;
    overflow: hidden;

    .image {
      min-height: 300px;
      min-width: 100%;
    }
  }

  .iconsWrapper {
    width: pxToRem(180);
  }
}