

.lot_tile {
  background: #ffffff;
  font-size: pxToRem(14);

  .imageWrapper {
    height: pxToRem(220);
  }

  .lotHat {
    padding: pxToRem(12) pxToRem(24) pxToRem(8);
  }

  .lotBody {
    padding: pxToRem(12) pxToRem(24) 0;
  }

  .lotFooter {
    padding: pxToRem(20) pxToRem(24);
  }

  .lotImage {
    height: 222px;

    .image {
      width: 100%;
    }
  }
}
