.lotLine {
  padding: 0 36px 0 0;
  overflow: hidden;

  .gridLayout {
    display: grid;
    grid-gap: pxToRem(40);
    grid-template-columns: pxToRem(260) 1fr;

    @include breakpoint(xl) {
      grid-template-columns: pxToRem(260) 1fr;
      grid-gap: pxToRem(16);
    }

    @include breakpoint(xxl) {
      grid-template-columns: pxToRem(360) 1fr;
      grid-gap: pxToRem(40);
    }
  }

  .imageWrapper {
    height: 100%;
  }

  .contentWrapper {
    padding: pxToRem(8) 0;
  }

  .footerInfo {
    .name {
      &:after {
        content: ":";
      }
    }

    .value {
      font-weight: bold;
    }
  }

  .iconsWrapper {
    width: pxToRem(180);
  }

  .hatStats {
    display: grid;
    grid-gap: pxToRem(16);
    grid-template-columns: repeat(5, auto);

    @include breakpoint(xl) {
      font-size: pxToRem(12);
    }

    @include breakpoint(xxl) {
      font-size: pxToRem(16);
    }
  }

  .footerStats {
    grid-gap: pxToRem(16);

    @include breakpoint(xl) {
      font-size: pxToRem(12);
    }

    @include breakpoint(xxl) {
      font-size: pxToRem(16);
    }
  }
}

.lotLine  {
  .description {
    font-size: pxToRem(14);

    @include breakpoint(xxl) {
      font-size: pxToRem(16);
    }
  }
}