@import "@styles/utils/utils";

.lot_tile {
  background: #ffffff;
  font-size: pxToRem(14);

  .description {
    line-clamp: 5;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
  }

  .lotHat {
    padding: pxToRem(12) pxToRem(24) pxToRem(8);
  }

  .lotBody {
    padding: pxToRem(12) pxToRem(24) 0;
  }

  .lotFooter {
    padding: pxToRem(20) pxToRem(24);
  }

  .lotImage {
    height: 222px;

    .image {
      width: 100%;
    }
  }
}
