.lotLine {
  padding: 0 36px 0 0;
  overflow: hidden;

  .gridLayout {
    display: grid;
    grid-gap: pxToRem(40);
    grid-template-columns: pxToRem(360) 1fr;
  }

  .imageWrapper {
    height: 100%;
  }

  .contentWrapper {
    padding: pxToRem(8) 0;
  }

  .footerInfo {
    .name {
      &:after {
        content: ":";
      }
    }

    .value {
      font-weight: bold;
    }
  }

  .button {
    height: pxToRem(50) !important;
  }

  .iconsWrapper {
    width: pxToRem(180);
  }
}