@import "lot-line";
@import "lot-tile";
@import "lot-tile-completed";
@import "interactive-image";

.lot {
  @import "prices-forecast";
  border-radius: 10px;

  .lotContainer {
    padding: pxToRem(12) pxToRem(24);
  }

  .priceOffer {
    font-size: pxToRem(15);

    .priceWrapper {
      padding: pxToRem(4);
      border: 1px solid #d4d4d4;
      border-radius: 3px;

      .rouble {
        color: #ef7f1a;
      }
    }
  }

  &_bordered {
    border: 1px solid #d4d4d4;
  }

  .divider {
    border-bottom: 1px solid #d5d5d5;
  }

  .deadline {
    color: #f2994a;
    font-weight: bold;
    font-size: 12px;
  }

  .stats {
    display: grid;
    grid-gap: pxToRem(2);
  }

  .description {
    font-size: pxToRem(16);
    line-height: 1.1;
  }

  .lotImage {
    overflow: hidden;

    &__label {
      position: absolute;
      left: 0;
      top: pxToRem(18)
    }

    .label {
      height: pxToRem(30);
      color: #ffffff;
      font-size: pxToRem(14);
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      padding: pxToRem(6) pxToRem(12);
      background: #000000;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      font-weight: 600;

      &_theme_auction {
        background: #00d422;
      }

      &_theme_discount {
        background: #f6002c;
      }
    }
  }
}

.lotIcons {
  .icon {
    color: #434343;

    &_heart {
      width: 24px;
      height: 24px;
    }

    &_doubleHeart {
      width: 24px;
      height: 24px;
    }

    &_handshake {
      width: 28px;
      height: 18px;
    }

    &_community {
      width: 19px;
      height: 20px;
    }
  }

  .iconContainer {
    .badge {
      top: pxToRem(-8);
      right: pxToRem(-5);
    }
  }
}