@import "lot-line";
@import "lot-tile";
@import "lot-tile-completed";
@import "interactive-image";

.lot {
  @import "prices-forecast";
  border-radius: 10px;

  .lotContainer {
    padding: pxToRem(12) pxToRem(24);

    &_p_12 {
      padding: pxToRem(12);
    }
  }

  .priceOffer {
    font-size: pxToRem(15);

    .priceWrapper {
      padding: pxToRem(4);
      border: 1px solid #d4d4d4;
      border-radius: 3px;

      .rouble {
        color: #ef7f1a;
      }
    }
  }

  &_bordered {
    border: 1px solid #d4d4d4;
  }

  .divider {
    border-bottom: 1px solid #d5d5d5;
  }

  .deadline {
    color: #f2994a;
    font-weight: bold;
    font-size: 12px;
  }

  .stats {
    display: grid;
    grid-gap: pxToRem(2);
  }

  .description {
    font-size: pxToRem(16);
    line-height: 1.1;
  }

  .lotImage {
    overflow: hidden;

    &__label {
      position: absolute;
      left: 0;
      top: pxToRem(18)
    }

    .label {
      height: pxToRem(30);
      color: #ffffff;
      font-size: pxToRem(14);
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      padding: pxToRem(6) pxToRem(12);
      background: #000000;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      font-weight: 600;

      &_theme_auction {
        background: #00d422;
      }

      &_theme_discount {
        background: #f6002c;
      }
    }
  }

  .infoPanel {
    padding: pxToRem(32) pxToRem(14) pxToRem(28);
    border-radius: 5px;

    &__hat {
      margin: 0 0 pxToRem(20) 0;
    }

    &__icon {
      margin: 0 pxToRem(14) 0 0;
    }

    .hat {
      font-size: pxToRem(15);
      color: #434343;
    }

    .icon {
      width: pxToRem(28);
      height: pxToRem(28);
    }

    &_theme {
      &_primary {
        background-color: #e4f6ff;
        .icon {
          color: #8CCEEF;
        }
      }

      &_error {
        background-color: #ffe1e1;
        .icon {
          color: #FC2C2C;
        }
      }

      &_success {
        background-color: #e4fddb;
        .icon {
          color: #2FAD03;
        }
      }
    }
  }

  .isMakeOffer {
    .item {
      .icon {
        width: pxToRem(15);
        height: pxToRem(15);
      }

      &:not(:last-child) {
        margin: 0 0 pxToRem(8);
      }
    }
  }

  .isBiddingEnds {
    &__status {
      margin: pxToRem(24) 0 0;
    }

    .links {
      .buttonText:not(:last-child) {
        margin: 0 0 pxToRem(12);
      }
    }

    .status {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: pxToRem(20);
      font-weight: 600;

      .icon {
        width: pxToRem(32);
        height: auto;
      }

      &_type {
        &_win {
          color: #2fad03;
        }

        &_loose {
          color: #fc2c2c;
        }
      }
    }
  }
}

.lotIcons {
  .icon {
    color: #434343;

    &_heart {
      width: 24px;
      height: 24px;
    }

    &_doubleHeart {
      width: 24px;
      height: 24px;
    }

    &_handshake {
      width: 28px;
      height: 18px;
    }

    &_community {
      width: 19px;
      height: 20px;
    }
  }

  .iconContainer {
    .badge {
      top: pxToRem(-8);
      right: pxToRem(-5);
    }
  }
}