<div class="item fw-semibold">
    <div class="fs-18px color_9b9b9b">Баланс, ₽</div>

    <div class="d-flex align-items-end sum1 ws-nowrap">
        <span class="number">92,58 млн</span>
        <span class="caption color_9b9b9b">(2019 г.)</span>
    </div>

    <div class="d-flex align-items-end sum2 ws-nowrap">
        <span class="number color_fc2c2c fs-20px">-2,95 млн</span>
        <span class="caption color_9b9b9b">(67,95%)</span>
    </div>
</div>