.inputSearch {
  height: pxToRem(50);

  .input-group-text {
    background: #ffffff;
    border-right: none;
    border-color: #9A9A9A;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .form-control {
    border-left: none;
    color: #434343;
    border-color: #9A9A9A;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none !important;
    box-shadow: none !important;
  }

  @include breakpoint(xl) {
    height: pxToRem(40);
  }

  @include breakpoint(xxl) {
    height: pxToRem(50);
  }
}