<form class="payOffer grayPanel" action="">
    <div class="row">
        <div class="col-12 col-xxl-6 fw-bold fs-16px fs-md-18px">
            <div class="d-flex justify-content-between payOrder__item">
                <span>Стоимость подачи заявки</span>
                <span class="rouble">2 700</span>
            </div>

            <div class="d-flex justify-content-between payOrder__item">
                <span>Агентское вознаграждение</span>
                <span class="rouble">30 000</span>
            </div>

            <div class="d-flex justify-content-between payOrder__item">
                <span>Дополнительных услуг 3 на сумму</span>
                <span class="rouble">5 000</span>
            </div>
        </div>

        <div class="col-12 col-xxl-6 d-flex justify-content-xxl-end align-items-xxl-end">
            <button class="baseButton baseButton_theme_blue baseButton_size_medium w-auto">Оплатить 8 700 ₽</button>
        </div>
    </div>
</form>