.settings {
  padding: pxToRem(32) 0 0;

  .header2 {
    white-space: nowrap;
    text-align: center;
    margin: 0 0 pxToRem(24) 0;

    @include breakpoint(lg) {
      margin: 0 pxToRem(25) 0 0;
      text-align: left;
    }
  }

  .tags {
    color: #434343;
    font-size: pxToRem(16);

    &__item {
      &:not(:last-child) {
        margin: 0 pxToRem(40) 0  0;
      }
    }

    .itemWrapper {
      display: inline-block;
    }

    .item {
      .icon {
        width: 30px;
        height: 30px;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}