{{> ../../layout/Hat}}

<div>
    <div class="container-lg">
        {{> ../../common/breadcrumbs/Breadcrumbs}}

        <h1>Реестр организаторов</h1>

        <div class="page__block">
            {{> ../../common/forms/SearchForm}}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/bidding-initiator-registry/BiddingInitiatorRegistry }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/bidding-initiator-registry/BiddingInitiatorRegistry }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/bidding-initiator-registry/BiddingInitiatorRegistry }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/bidding-initiator-registry/BiddingInitiatorRegistry }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/bidding-initiator-registry/BiddingInitiatorRegistry }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/bidding-initiator-registry/BiddingInitiatorRegistry }}
        </div>

        <div class="d-flex justify-content-center">
            {{> ../../common/pagination/Pagination}}
        </div>
    </div>
</div>

{{> ../../layout/Footer}}