{{> ../../layout/Hat}}

<div class="memberPage page overflow-hidden">
    <div class="container-lg">
        {{> ../../common/breadcrumbs/Breadcrumbs}}

        <h1 class="header1">Организатор торгов: ООО Ромашка</h1>
    </div>
</div>

{{> ../../layout/Footer}}
