{{> ../../../layout/Hat withBorder=true endpoint=true}}

<div class="myOffersPage page">
    <div class="container">
        {{> ../../../common/breadcrumbs/Breadcrumbs}}

        <div class="accountPageLayoutGrid">
            <div class="d-none d-md-block">
                {{> ../../../layout/account/sidebar/Sidebar }}
            </div>

            <div>
                <div class="page__block d-flex justify-content-center d-xxl-block">
                    <div class="containerFrame">
                        {{> ../../../common/personal-data-panel/broker/Broker2 }}
                    </div>
                </div>

                <div class="containerFrame">
                    {{> ../../../common/account/offer-settings/OfferSettings }}
                </div>

                <div class="myServicesPage__payOffer">
                    {{> ../../../common/account/pay-offer/PayOffer }}
                </div>
            </div>
        </div>
    </div>
</div>

{{> ../../../layout/footer/Footer withBorder=true}}
