<div class="registriesDesktop">
    <div class="container">
        <h2 class="header2 mb-4">Реестры</h2>

        <div class="grid">
            <a href="#" class="item item-1 text-decoration-none">
                <span class="text">Реестр участников торгов</span>
            </a>

            <a href="#" class="item item-2 blueAnglePanel text-decoration-none">
                <span class="text">Реестр должников</span>
            </a>

            <a href="#" class="item item-3 blueAnglePanel text-decoration-none">
                <span class="text">Реестр Арбитражных управляющих</span>
            </a>

            <a href="#" class="item item-4 blueAnglePanel text-decoration-none">
                <span class="text">Реестр Организаторов торгов</span>
            </a>

            <a href="#" class="item item-5 blueAnglePanel text-decoration-none">
                <span class="text">Реестр СРО</span>
            </a>

            <a href="#" class="item item-6 text-decoration-none">
                <span class="text">Реестр электронных площадок</span>
            </a>
        </div>
    </div>
</div>
