<div class="registriesDesktop">
    <div class="container-lg">
        <h2 class="header2 mb-4">Реестры</h2>

        <div class="grid">
            <div class="item item-1">
                <span class="text">Реестр участников торгов</span>
            </div>

            <div class="item item-2 blueAnglePanel">
                <span class="text">Реестр должников</span>
            </div>

            <div class="item item-3 blueAnglePanel">
                <span class="text">Реестр Арбитражных управляющих</span>
            </div>

            <div class="item item-4 blueAnglePanel">
                <span class="text">Реестр Организаторов торгов</span>
            </div>

            <div class="item item-5 blueAnglePanel">
                <span class="text">Реестр СРО</span>
            </div>

            <div class="item item-6">
                <span class="text">Реестр электронных площадок</span>
            </div>
        </div>
    </div>
</div>
