<div class="registriesMobile">
    <div class="container-lg">
        <h2 class="header2 registriesMobile__header">Реестры</h2>

        <ul class="list-unstyled m-0">
            <li class="registriesMobile__link">
                <a href="#" class="buttonText text-decoration-none">Реестр участников торгов</a>
            </li>
            <li class="registriesMobile__link">
                <a href="#" class="buttonText text-decoration-none">Реестр Организаторов торгов</a>
            </li>
            <li class="registriesMobile__link">
                <a href="#" class="buttonText text-decoration-none">Реестр СРО</a>
            </li>
            <li class="registriesMobile__link">
                <a href="#" class="buttonText text-decoration-none">Реестр должников</a>
            </li>
            <li class="registriesMobile__link">
                <a href="#" class="buttonText text-decoration-none">Реестр Арбитражных управляющих</a>
            </li>
            <li class="registriesMobile__link">
                <a href="#" class="buttonText text-decoration-none">Реестр электронных площадок</a>
            </li>
        </ul>
    </div>
</div>
