<div class="ws-nowrap">
    <div class="color_9b9b9b mb-2 mb-lg-3 fw-semibold">Возраст</div>

    <div class="d-flex d-xl-block">
        <div>11 лет</div>
        <div class="ms-3 ms-xl-0">2 месяца</div>
    </div>
</div>