<div class="baseGridCircleChart baseGridCircleChart_age">
    <div class="gridArea1 headerArea">Возраст</div>

    <div class="gridArea2 d-flex align-items-xl-center align-items-xxl-start">
        <div class="d-flex d-xl-block">
            <div>11 лет</div>
            <div class="ms-3 ms-xl-0">2 месяца</div>
        </div>
    </div>

    <div class="gridArea3"></div>
</div>
