<div class="d-xl-flex align-items-stretch justify-content-between">
    <div class="flex-grow-1 w-100">
        {{> NamePanel}}
    </div>

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> Age}}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> Direction }}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> Statistics}}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> ../common/ChartRelizedObjects }}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> ../common/ChartAuction }}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> ../common/ChartPublicOffers }}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> ../common/ChartUserRate }}
</div>
