<div class="d-flex align-items-stretch justify-content-between">
    {{> NamePanel}}

    <div class="baseVerticalDivider"></div>

    {{> Age}}

    <div class="baseVerticalDivider"></div>

    {{> Direction }}

    <div class="baseVerticalDivider"></div>

    {{> Statistics}}

    <div class="baseVerticalDivider"></div>

    {{> ../common/ChartRelizedObjects }}

    <div class="baseVerticalDivider"></div>

    {{> ../common/ChartAuction }}

    <div class="baseVerticalDivider"></div>

    {{> ../common/ChartPublicOffers }}

    <div class="baseVerticalDivider"></div>

    {{> ../common/ChartUserRate }}
</div>
