<div class="d-xl-flex flex-column justify-content-between namePanel h-100">
    <div class="mb-2 mb-md-3 mb-xl-0">
        <div class="color_8cceef fs-16px fs-xl-18px fw-semibold">ООО МЭТС</div>
        <div class="color_9b9b9b fs-14px">(ИНН:000000000000)</div>
    </div>

    <div class="mb-2 mb-md-3 mb-xl-0">
        <a class="color_8cceef fw-semibold fs-14px text-decoration-none" href="#">Перейти на площадку</a>
    </div>

    <div class="nameValuePair nameValuePair_stretch fs-14px">
        <div class="name color_161616 fs-14px">Место в рейтинге:</div>
        <div class="value fs-16px">45/87</div>
    </div>

    <div class="fs-14px">{{> ../../../common/location/Location }}</div>
</div>