<div class="baseGridCircleChart baseGridCircleChart_singleColumn">
    <div class="gridArea1 headerArea">Статистика</div>

    <div class="gridArea2 ws-nowrap">
        <div class="nameValuePair fs-xl-10px fs-xl-16px">
            <div class="name fs-14px color_161616 fw-normal">Участников:</div>
            <div class="value fw-semibold">25000</div>
        </div>

        <div class="nameValuePair fs-xl-10px fs-xl-16px">
            <div class="name fs-14px color_161616 fw-normal">Организаторов:</div>
            <div class="value fw-semibold">275</div>
        </div>

        <div class="nameValuePair fs-xl-10px fs-xl-16px">
            <div class="name fs-14px color_161616 fw-normal">Должников/Продавцов:</div>
            <div class="value fw-semibold">12770</div>
        </div>

        <div class="nameValuePair fs-xl-10px fs-xl-16px">
            <div class="name fs-14px color_161616 fw-normal">Лотов:</div>
            <div class="value fw-semibold">13000</div>
        </div>
    </div>
</div>
