<div class="container-lg p-5 page">
    <div class="page__block">
        {{> ../../common/forms/InputText placeholder="First name"}}
    </div>

    <div class="page__block">
        <div class="d-flex">
            <button class="baseButton baseButton_theme_gray baseButton_size_medium">button</button>
            <span class="me-2"></span>
            <button class="baseButton baseButton_theme_blue baseButton_size_medium">button</button>
            <span class="me-2"></span>
            <button class="baseButton baseButton_theme_darkGray baseButton_size_medium">
                {{> ../../common/icons/excel/Excel class="icon" }}
                <span>Выгрузить результаты</span>
            </button>
            <span class="me-2"></span>
            <button class="baseButton baseButton_theme_darkGray baseButton_size_medium">
                {{> ../../common/icons/trash/Trash class="icon" }}
                <span>Очистить</span>
            </button>
            <span class="me-2"></span>
            <button class="baseButton baseButton_theme_darkGray baseButton_size_medium">
                {{> ../../common/icons/download/Download class="icon" }}
                <span>Сохранить</span>
            </button>
            <span class="me-2"></span>
            <button class="baseButton baseButton_size_medium">
                {{> ../../common/icons/map-marker/MapMarker class="icon" }}
                <span>На карте</span>
            </button>
        </div>
    </div>

    <div class="page__block d-flex">
        {{> ../../common/forms/InputCheckbox id="check1" label="One" checked=true}}
        <span class="me-2"></span>
        {{> ../../common/forms/InputCheckbox id="check2" label="Two"}}
        <span class="me-2"></span>
        {{> ../../common/forms/InputCheckbox id="check3" label="Three" checked=false}}
    </div>

    <div class="page__block">
        {{> ../../common/forms/RangeSliderTwoValue displayPostfix=" ₽" start=200000 end=300000 min=100000 max=1000000 labelStart="Цена начальная, от:" labelEnd="Цена начальная, до:" }}
    </div>

    <div class="page__block">
        {{> ../../common/forms/RangeSliderTwoValue displayPostfix="%" start=20 end=80 min=0 max=100 labelStart="Текущая скидка:" labelEnd="Возможная скидка:" }}
    </div>

    <div class="page__block">
        {{> ../../common/forms/RangeSliderOneValue displayPostfix="%" start=50 min=0 max=100 labelStart="Текущая скидка:" labelEnd="Возможная скидка:" }}
    </div>

    <div class="page__block">
        {{> ../../common/forms/Select default="Категория" }}
    </div>
</div>