<span class="color_ef7f1a d-flex align-items-center text-decoration-none baseLocation">
    <span class="d-flex">{{> ../icons/map-marker/MapMarker class="icon"}}</span>
    <span class="text ms-2">Киров</span>
</span>