<span class="color_ef7f1a d-flex align-items-center text-decoration-none baseLocation" title="Хабаровский край">
    <span class="d-flex">{{> ../icons/map-marker/MapMarker class="icon"}}</span>
    <span class="text ms-2">Хабаровский край</span>
</span>