{{> ../../layout/Hat}}

<div>
    <div class="container-lg">
        {{> ../../common/breadcrumbs/Breadcrumbs}}

        <h2 class="header2">Реестр электронных площадок</h2>

        <div class="page__block">
            {{> ../../common/forms/SearchForm}}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/registry-members/RegistryMembers }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/registry-members/RegistryMembers }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/registry-members/RegistryMembers }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/registry-members/RegistryMembers }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/registry-members/RegistryMembers }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/registry-members/RegistryMembers }}
        </div>

        <div class="d-flex justify-content-center">
            {{> ../../common/pagination/Pagination}}
        </div>
    </div>
</div>

{{> ../../layout/Footer}}