<div
    class="pieChart pieChart_size_130"
    data-inner-label="{{label}}"
    data-inner-label-color="{{labelColor}}"
    data-inner-label-center-y="20"
    data-inner-radius="75"
    data-inner-label-caption-center-y="-5"
    data-colors='{{colors}}'
    data-values='{{values}}'
    data-categories='["A", "B", "C"]'
    data-font-size="1.8"
></div>