<div
    class="pieChart pieChart_size_50"
    data-inner-label="{{label}}"
    data-inner-label-color="{{labelColor}}"
    data-inner-radius="70"
    data-inner-label-center-y="20"
    data-colors='{{colors}}'
    data-values='{{values}}'
    data-categories='["A", "B"]'
    data-font-size="0.8"
></div>