.lotsList {
  &__header {
    margin: pxToRem(40) 0 pxToRem(32);
  }
  &__searchForm {
    margin: 0 0 pxToRem(25);
  }

  .list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: pxToRem(20);

    @include breakpoint(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(xxl) {
      grid-template-columns: 1fr;
    }
  }
}
