<div class="catalog catalog_mode_tile {{#if isLineMode}}d-xxl-none{{/if}}">
    {{> ../../common/lot-card/tile/Open class="lot_bordered"}}
    {{> ../../common/lot-card/tile/Open class="lot_bordered"}}
    {{> ../../common/lot-card/tile/Open class="lot_bordered"}}
    {{> ../../common/lot-card/tile/Open class="lot_bordered"}}
    {{> ../../common/lot-card/tile/Open class="lot_bordered"}}
    {{> ../../common/lot-card/tile/Open class="lot_bordered"}}
</div>

{{#if isLineMode}}
    <div class="d-none d-xxl-block">
        <div class="grid_lines catalog catalog_mode_line">
            {{> ../../common/lot-card/line/Open class="lot_bordered"}}
            {{> ../../common/lot-card/line/Open class="lot_bordered"}}
            {{> ../../common/lot-card/line/Open class="lot_bordered"}}
            {{> ../../common/lot-card/line/Open class="lot_bordered"}}
            {{> ../../common/lot-card/line/Open class="lot_bordered"}}
            {{> ../../common/lot-card/line/Open class="lot_bordered"}}
        </div>
    </div>
{{/if}}
