{{> ../../layout/Hat withBorder=true}}

<div class="searchResults">
    <div class="searchResults__settings settings d-none d-xxl-block">
        <div class="container">
            <div class="row d-none d-lg-block">
                <div class="col d-flex">
                    <h1 class="header2">Результаты поиска</h1>

                    <div class="flex-grow-1">
                        {{> tags/Tags}}
                    </div>

                    <div>{{> ../../common/catalog-toggle-view/CatalogToggleView tiles=true}}</div>
                </div>
            </div>

            <h1 class="header2 d-lg-none">Результаты поиска</h1>
        </div>
    </div>

    <h1 class="header1 d-xxl-none text-center">Результаты поиска</h1>

    <div class="offers">
        <div class="container">
            {{> Catalog}}
        </div>
    </div>

    <div class="d-flex justify-content-center">
        {{> ../../common/pagination/Pagination}}
    </div>
</div>

{{> ../../layout/footer/Footer withBorder=true}}