{{> ../../layout/Hat endpoint=true withBorder=true}}

<div class="arbitratorPage page">
    <div class="container">
        {{> ../../common/breadcrumbs/Breadcrumbs }}

        <h1 class="header1">Арбитражный управляющий Константинов Константин Константинович</h1>

        <div class="page__block d-flex justify-content-center d-xxl-block">
            <div class="container containerFrame personalDataPanelWrapper">
                {{> ../../common/personal-data-panel/arbitrator/Arbitrator }}
            </div>
        </div>

        <div class="containerFrame d-xxl-flex justify-content-between page__block">
            <div class="nameValuePair mb-3 mb-xxl-0">
                <div class="name">Средняя сумма договора:</div>
                <div class="value">6 000 ₽</div>
            </div>

            <div class="nameValuePair mb-3 mb-xxl-0">
                <div class="name">Максимальная сумма сделки:</div>
                <div class="value">50 000 000 000 ₽</div>
            </div>

            <div class="nameValuePair mb-3 mb-xxl-0">
                <div class="name">Количество площадок:</div>
                <div class="value">22</div>
            </div>

            <div class="nameValuePair mb-3 mb-xxl-0">
                <div class="name">Выступал организатором:</div>
                <div class="value">56</div>
            </div>

            <div class="nameValuePair">
                <div class="name">Привлекал организаторов:</div>
                <div class="value">17</div>
            </div>
        </div>

        <div class="containerFrame page__block">
            <div class="row">
                <div class="col-12 col-xxl-6">
                    <div class="debtorsChart chartContainer"></div>
                </div>
                <div class="col-12 col-xxl-6">
                    <div class="averagePriceChart chartContainer"></div>
                </div>
            </div>
        </div>

        <div class="containerFrame page__block">
            {{> ../../common/charts/AuctionGroup header="Аукцион"}}
        </div>

        <div class="containerFrame page__block">
            {{> ../../common/charts/AuctionGroup header="Публичное предложение"}}
        </div>

        <div class="containerFrame page__block">
            <h2 class="header2 mb-4 text-center arbitratorPage__mapHeader1">География должников</h2>

            <div class="arbitratorPage__map1">{{> ../../common/top10/Top10}}</div>

            <h2 class="header2 mb-4 text-center arbitratorPage__mapHeader2">География участников торгов</h2>

            <div class="arbitratorPage__map2">{{> ../../common/top10/Top10}}</div>
        </div>

        <div class="containerFrame-xxl page__block">
            {{> ../../common/violations/Violations}}
        </div>

        {{> ../../common/user-rate/UserRate}}

        <div class="page__block">
            {{> ../../common/lots-list/LotsList}}
        </div>
    </div>
</div>

{{> ../../layout/footer/Footer withBorder=true}}
