<div class="item d-flex flex-column">
    <div class="hat fs-14px">
        <div class="hat__task">
            <span>Задание:</span>
            <span class="fw-semibold">Представительство в Арбитражном суде</span>
        </div>

        <div>
            <span>Заказчик:</span>
            <span class="fw-semibold">Физическое лицо Сидоров А. А.</span>
        </div>
    </div>

    <form class="body d-flex flex-column justify-content-between flex-grow-1">
        <div>
            <div class="cost d-flex justify-content-between align-items-center">
                <div class="fs-15px fw-semibold">Стоимость:</div>
                <div class="price rouble fw-semibold text-center">12 000</div>
            </div>

            <div class="baseHorizontalDivider body__divider"></div>

            <div class="fs-14px">
                <div class="color_9b9b9b">Комментарии:</div>
                <div>Хочу быстро дешево выйиграть суд</div>
            </div>
        </div>

        <div class="item__footer">
            <button class="baseButton baseButton_theme_blue d-flex flex-column baseButton_size_medium mb-1">
                <span>Подтвердить задания</span>
                <span class="fs-12px">58 мин. 35 сек</span>
            </button>

            <div class="buttonText fs-16px text-center mt-4">Отказаться от задания</div>
        </div>
    </form>
</div>