{{> ../../../layout/Hat withBorder=true endpoint=true}}

<div class="servicesPage">
    <div class="container">
        {{> ../../../common/breadcrumbs/Breadcrumbs}}

        <div class="accountPageLayoutGrid">
            <div class="d-none d-md-block">
                {{> ../../../layout/account/sidebar/SidebarServices }}
            </div>

            <div class="servicesList">
                <div class="accountLotsGrid">
                    {{> Item }}
                    {{> Item }}
                    {{> Item }}
                    {{> Item }}
                    {{> Item }}
                    {{> Item }}
                    {{> Item }}
                    {{> Item }}
                    {{> Item }}
                    {{> Item }}
                    {{> Item }}
                    {{> Item }}
                </div>
            </div>
        </div>
    </div>
</div>

{{> ../../../layout/footer/Footer withBorder=true}}
