.ratingsPage {
  &__header {
    margin: pxToRem(20) 0 pxToRem(37);

    @include breakpoint(md) {
      margin: pxToRem(20) 0 pxToRem(16);
    }
  }
  .ratingItems {
    > .item {
      padding: pxToRem(25);
      border: 1px solid #d4d4d4;
      border-radius: 10px;
      height: 210px;

      &:not(:first-child) {
        margin: pxToRem(20) 0 0;
      }

      .segment {
        flex-grow: 0;
        &1 {
          width: 300px;
        }
        &2 {
          width: 70px;
        }
        &3 {
          width: 240px;
        }
        &4 {
          width: 160px;

          .stackedChart {
            max-width: pxToRem(135);
            white-space: nowrap;
          }
        }
        &5, &6 {
          width: 215px;
        }
        &7 {
          width: 210px;
        }
      }
    }
  }

  .ratingsList {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: pxToRem(24);

    @include breakpoint(md) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: pxToRem(28);
    }
    @include breakpoint(lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(xl) {
      grid-template-columns: 1fr;
      grid-gap: pxToRem(20);
    }
  }
}
