<div class="baseGridCircleChart">
    <div class="gridArea1 headerArea">Участие</div>

    <div class="gridArea2 chartArea">
        <div class="pieChartParticipation"></div>
    </div>

    <div class="gridArea3 legendArea">
        <div>
            {{> ../common/ChartLegendColumn icon="color_ef7f1a" name="Участий:" value="117"}}
            {{> ../common/ChartLegendColumn icon="color_434343" name="Побед:" value="72"}}
        </div>
    </div>
</div>
