<div class="baseGridCircleChart">
    <div class="gridArea1 headerArea">Оценка пользователей</div>

    <div class="gridArea2 chartArea">
        <div class="pieUserRate"></div>
    </div>

    <div class="gridArea3"></div>
</div>