<div class="d-flex">
    <div style="{{iconStyle}}">{{> ../../../common/icons/circle/Circle class=icon}}</div>

    <div class="ms-2 d-flex align-items-center fs-12px fs-lg-16px">
        <div>{{name}}</div>
        <div class="fw-semibold ms-1">{{value}}</div>
    </div>
</div>