<div class="baseGridCircleChart">
    <div class="gridArea1 headerArea">Аукцион</div>

    <div class="gridArea2 chartArea">
        <div class="pieChartUp"></div>
    </div>

    <div class="gridArea3 legendArea">
        <div>
            {{> ../common/ChartLegendColumn icon="opacity-0" name="Объявлено:" value="120"}}
            {{> ../common/ChartLegendColumn icon="color_ef7f1a" name="Завершено:" value="80"}}
            {{> ../common/ChartLegendColumn icon="color_8cceef" name="Не состоялось:" value="10"}}
        </div>
    </div>
</div>