<div>
    <div class="color_9b9b9b mb-2 mb-lg-3 fw-semibold">Аукцион</div>

    <div class="d-flex flex-xl-column flex-xxl-row">
        <div class="pieChartUp"></div>

        <div class="d-flex flex-column ms-3 ms-xl-0 ms-xxl-3">
            {{> ../common/ChartLegendColumn icon="opacity-0" name="Объявлено:" value="120"}}
            {{> ../common/ChartLegendColumn icon="color_ef7f1a" name="Завершено:" value="80"}}
            {{> ../common/ChartLegendColumn icon="color_8cceef" name="Не состоялось:" value="10"}}
        </div>
    </div>
</div>