<div class="baseGridCircleChart">
    <div class="gridArea1 headerArea">Сфера интересов</div>

    <div class="gridArea2 chartArea">
        <div class="pieCharCategories"></div>
    </div>

    <div class="gridArea3 legendArea">
        <div>
            {{> ../common/ChartLegendRow icon="color_8cceef" name="Техника:" value="55%"}}
            {{> ../common/ChartLegendRow icon="color_ef7f1a" name="Оборудование:" value="30%"}}
            {{> ../common/ChartLegendRow icon="color_434343" name="Жилая недвижимость:" value="12%"}}
        </div>
    </div>
</div>
