<div class="baseGridCircleChart baseGridCircleChart_stickChart">
    <div class="gridArea1 headerArea">Сумма</div>

    <div class="gridArea2">
        <div class="stackedChartLine">
            <div class="part" style="width: 37%; background-color: #8cceef"></div>
            <div class="part" style="width: 67%; background-color: #434343"></div>
        </div>
    </div>

    <div class="gridArea3 legendArea">
        <div>
            <div class="item d-flex align-items-center fs-12px fs-xxl-16px">
                <div>{{> ../../icons/circle/Circle class="color_8cceef"}}</div>
                <div class="ms-2 ws-nowrap">Участвовал: <span class="fw-semibold rouble">53 млн</span></div>
            </div>

            <div class="item d-flex align-items-center fs-12px fs-xxl-16px">
                <div>{{> ../../icons/circle/Circle class="color_434343"}}</div>
                <div class="ms-2 ws-nowrap">Победил: <span class="fw-semibold rouble">12 млн</span></div>
            </div>
        </div>
    </div>
</div>