<div class="d-flex align-items-center align-items-xxl-start">
    <div style="{{iconStyle}}">{{> ../../../common/icons/circle/Circle class=icon}}</div>

    <div class="ms-2 fs-12px fs-xxl-16px d-flex flex-xxl-column">
        <div>{{name}}</div>
        <div class="fw-semibold ms-2 ms-xxl-0">{{value}}</div>
    </div>
</div>