<div class="d-flex">
    <div>{{> ../../../common/icons/circle/Circle class=icon}}</div>

    <div class="ms-2">
        <div class="fs14px">{{name}}</div>
        <div class="fw-semibold">{{value}}</div>
    </div>
</div>