<div class="d-flex flex-column flex-xxl-row align-items-xxl-stretch justify-content-xxl-between">
    {{> ../arbitrator/NamePanel}}

    <div class="baseVerticalDivider d-none d-xxl-block"></div>
    <div class="baseHorizontalDivider d-xxl-none my-3"></div>

    {{> ../common/Experience}}

    <div class="baseVerticalDivider d-none d-xxl-block"></div>
    <div class="baseHorizontalDivider d-xxl-none my-3"></div>

    {{> IsBiddingManager}}

    <div class="baseVerticalDivider d-none d-xxl-block"></div>
    <div class="baseHorizontalDivider d-xxl-none my-3"></div>

    {{> RelizedObjects }}

    <div class="baseVerticalDivider d-none d-xxl-block"></div>
    <div class="baseHorizontalDivider d-xxl-none my-3"></div>

    {{> ../common/ChartSum }}

    <div class="baseVerticalDivider d-none d-xxl-block"></div>
    <div class="baseHorizontalDivider d-xxl-none my-3"></div>

    {{> ../common/ChartAuction }}

    <div class="baseVerticalDivider d-none d-xxl-block"></div>
    <div class="baseHorizontalDivider d-xxl-none my-3"></div>

    {{> ../common/ChartPublicOffers }}

    <div class="baseVerticalDivider d-none d-xxl-block"></div>
    <div class="baseHorizontalDivider d-xxl-none my-3"></div>

    {{> ../common/ChartUserRate }}
</div>
