<div class="d-flex align-items-stretch justify-content-between">
    {{> ../arbitrator/NamePanel}}

    <div class="baseVerticalDivider"></div>

    {{> ../common/Experience}}

    <div class="baseVerticalDivider"></div>

    {{> IsBiddingManager}}

    <div class="baseVerticalDivider"></div>

    {{> RelizedObjects }}

    <div class="baseVerticalDivider"></div>

    {{> ../common/ChartSum }}

    <div class="baseVerticalDivider"></div>

    {{> ../common/ChartAuction }}

    <div class="baseVerticalDivider"></div>

    {{> ../common/ChartPublicOffers }}

    <div class="baseVerticalDivider"></div>

    {{> ../common/ChartUserRate }}
</div>
