<div class="d-flex flex-column flex-xl-row align-items-xl-stretch justify-content-xl-between">
    {{> ../arbitrator/NamePanel}}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> ../common/Experience}}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> IsBiddingManager}}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> RelizedObjects }}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> ../common/ChartSum }}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> ../common/ChartAuction }}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> ../common/ChartPublicOffers }}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> ../common/ChartUserRate }}
</div>
