<div class="baseGridCircleChart baseGridCircleChart_singleColumn">
    <div class="gridArea1 headerArea">Арбитражный управляющий</div>

    <div class="gridArea2 text-xl-center">
        Да
    </div>
</div>
