<div class="ws-nowrap d-flex flex-column">
    <div class="color_9b9b9b fw-semibold">Арбитражный <br> управляющий</div>

    <div class="flex-grow-1 d-flex align-items-center justify-content-center">Да</div>
</div>