<div class="ws-nowrap d-flex flex-column">
    <div class="color_9b9b9b fw-semibold d-none d-xl-block">Арбитражный <br> управляющий</div>
    <div class="color_9b9b9b fw-semibold d-xl-none">Арбитражный управляющий</div>

    <div class="flex-grow-1 d-flex align-items-xxl-center justify-content-xxl-center">Да</div>
</div>