$sizes: 10, 12, 13, 14, 16, 18, 20;

@each $size in $sizes {
  .fs-#{$size}px {
    font-size: pxToRem($size) !important;
  }
}

@each $bp in ('sm', 'md', 'lg', 'xl', 'xxl') {
  @each $size in $sizes {
    @media (min-width: map-get($breakpoints, $bp)) {
      .fs-#{$bp}-#{$size}px {
        font-size: pxToRem($size) !important;
      }
    }
  }
}