@import "./fonts/fonts";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "pages/home/home";
@import "pages/search-results/search-results";
@import "@styles/utils/utils";
@import "@styles/common/common";
@import "@styles/layout/layout";

html {
  color: #161616;
}

.header1 {
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
}

.header2 {
  font-size: 30px;
  font-weight: bold;
}

.container-lg {
  max-width: 1824px;
}

.baseButton {
  white-space: nowrap;
  padding: 0 pxToRem(28);
  color: #ef7f1a;
  background: #ffe7d3;
  font-size: pxToRem(16);
  font-weight: bold;
  height: pxToRem(60);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  &_theme_blue {
    color: #ffffff;
    background: #8cceef;
  }

  &:hover {
    cursor: pointer;
  }
}

.rouble {
  &:after {
    content: " ₽";
  }
}

.badge {
  background-color: #ef7f1a;
  color: #ffffff;
  min-width: pxToRem(15);
  height: pxToRem(15);
  font-size: pxToRem(9);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0 3px;
}

.link {
  color: #ef7f1a;
  text-decoration: none;
}

.lightBlue {
  color: #8cceef;
}
