@import "./fonts/fonts";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "pages/pages";
@import "@styles/utils/utils";
@import "@styles/common/common";
@import "@styles/layout/layout";

html {
  color: #161616;
}

.header1 {
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
}

.header2 {
  font-size: 30px;
  font-weight: bold;
}

.header3 {
  font-size: 24px;
  font-weight: bold;
}

.container-lg {
  max-width: 1824px;
}

.baseButton {
  white-space: nowrap;
  padding: 0 pxToRem(28);
  color: #ef7f1a;
  background: #ffe7d3;
  font-size: pxToRem(16);
  font-weight: bold;
  height: pxToRem(60);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  &_theme{
    &_blue {
      color: #ffffff;
      background: #8cceef;
    }

    &_gray {
      color: #9b9b9b;
      background: #ffffff;
      height: pxToRem(46);
      border: 2px solid currentColor;
    }
  }

  &_size_medium {
    height: pxToRem(50);
  }

  &:hover {
    cursor: pointer;
  }
}

.rouble {
  &:after {
    content: " ₽";
  }
}

.badge {
  background-color: #ef7f1a;
  color: #ffffff;
  min-width: pxToRem(15);
  height: pxToRem(15);
  font-size: pxToRem(9);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0 3px;
}

.baseLink {
  color: #ef7f1a;
  text-decoration: none;
}

.lightBlue {
  color: #8cceef;
}

.color_9b9b9b {
  color: #9b9b9b;
}
.color_0f0f0f {
  color: #0F0F0F;
}

.baseLocation {
  display: flex;
  align-items: center;
  color: #f2994a;
  font-weight: bold;

  .icon {
    width: pxToRem(12);
    margin: 0 pxToRem(8) 0 0;
  }
}

.baseVerticalDivider {
  height: 100%;
  border-right: 1px solid #d4d4d4;
}

.baseHorizontalDivider {
  border-right: 1px solid #d4d4d4;
}

.ws-nowrap {
  white-space: nowrap;
}
