<table class="interestsSphere table m-0">
    <thead>
    <tr>
        <th scope="col">№</th>
        <th scope="col">Категория</th>
        <th scope="col">Участий</th>
        <th scope="col">Побед</th>
        <th scope="col">Средний чек, ₽</th>
        <th scope="col">Понижение, %</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <th>1</th>
        <td>Дебеторская задолженность</td>
        <td>89</td>
        <td>14 (32%)</td>
        <td>1 865</td>
        <td class="color_fc2c2c">-89%</td>
    </tr>
    <tr>
        <th>2</th>
        <td>Оборудование</td>
        <td>56</td>
        <td>9 (12%)</td>
        <td>345</td>
        <td class="color_fc2c2c">-56%</td>
    </tr>
    <tr>
        <th>3</th>
        <td>Оборудование</td>
        <td>5</td>
        <td>1 (50%)</td>
        <td>3 456</td>
        <td class="color_fc2c2c">-5%</td>
    </tr>
    <tr>
        <th>4</th>
        <td>Оборудование</td>
        <td>8</td>
        <td>1 (50%)</td>
        <td>456 456</td>
        <td class="color_fc2c2c">-8%</td>
    </tr>
    </tbody>
</table>
