.biddingNumbersPage {
  .biddingResultsHeader {
    color: #5C5C5C;
    font-size: pxToRem(26);
    text-align: center;
  }

  .bigHeader {
    font-size: pxToRem(32);
    text-align: center;
    margin: pxToRem(40) 0 pxToRem(20);
  }
}
