<div class="item">
    <div class="d-flex align-items-center justify-content-between mb-2">
        <span class="fw-bold fs-20px">№ А65-21477/2022</span>
        <span>от 04.08.2022</span>
        <span>Экономические споры по гражданским правоотношениям</span>
        <span>Истец: ООО «Транспортная Компания Юл», г. Казань</span>
        <span>Ответчик: ООО «ЮВС-Волга», г. Казань</span>
    </div>
    <div class="d-flex align-items-center justify-content-between">
        <span class="fs-20px color_fc2c2c fw-semibold">Открыто</span>
        <div class="sum">
            <span>Сумма:</span>
            <span class="value rouble">112 024</span>
        </div>
    </div>
</div>
