{{> ../../layout/Hat}}

<div class="analyzeCompany page">
    <div class="container-lg">
        {{> ../../common/breadcrumbs/Breadcrumbs }}

        <h1 class="header1 d-flex align-items-center justify-content-between mb-4">
            <span>Анализ юридического лица ООО «Ювс»</span>
            {{> status/Good }}
        </h1>

        <div class="analyzeCompanyStats d-flex justify-content-between page__block">
            {{> stats/Basic }}
            {{> stats/Bad }}
            {{> stats/Bad }}
            {{> stats/Bad }}
            {{> stats/Good }}
            {{> stats/Good }}
        </div>

        <div class="page__block">
            {{> contacts/Contacts }}
        </div>

        <div class="page__block">
            {{> charts/Charts }}
        </div>

        <div class="courtCases">
            <h2 class="header2 header text-center">Судебные дела</h2>

            {{> CourtCaseItem}}
            {{> CourtCaseItem}}
            {{> CourtCaseItem}}
            {{> CourtCaseItem}}
        </div>

        <div class="courtCases">
            <h2 class="header2 header text-center">Исполнительные производства</h2>

            {{> CourtCaseItem}}
        </div>
    </div>
</div>

{{> ../../layout/Footer}}