{{> ../../layout/Hat}}

<div class="analyzeCompany">
    <div class="container-lg">
        {{> ../../common/breadcrumbs/Breadcrumbs }}

        <h1 class="header1 d-flex align-items-center justify-content-between">
            <span>Анализ юридического лица ООО «Ювс»</span>
            {{> status/Good }}
        </h1>

        <div class="stats d-flex justify-content-between">
            {{> stats/Basic }}
            {{> stats/Bad }}
            {{> stats/Bad }}
            {{> stats/Bad }}
            {{> stats/Good }}
            {{> stats/Good }}
        </div>
    </div>
</div>

{{> ../../layout/Footer}}