{{> ../../layout/Hat}}

<div class="analyzeCompany">
    <div class="container-lg">
        {{> ../../common/breadcrumbs/Breadcrumbs }}

        <h1 class="header1 d-flex align-items-center justify-content-between mb-4">
            <span>Анализ юридического лица ООО «Ювс»</span>
            {{> status/Good }}
        </h1>

        <div class="stats d-flex justify-content-between">
            {{> stats/Basic }}
            {{> stats/Bad }}
            {{> stats/Bad }}
            {{> stats/Bad }}
            {{> stats/Good }}
            {{> stats/Good }}
        </div>

        <div class="contacts">
            <div class="row">
                <div class="col-4">
                    <div class="d-flex align-items-center">
                        <span class="me-1 fw-semibold color_9b9b9b">Организация:</span>
                        <span class="ms-2">ООО «ЮВС-ВОЛГА»</span>
                    </div>

                    <div class="d-flex align-items-center">
                        <span class="me-1 fw-semibold color_9b9b9b">Директор:</span>
                        <span class="ms-2">Косынкин Александр Александрович</span>
                    </div>

                    <div class="d-flex align-items-center my-2">
                        <div class="d-flex align-items-center me-4">
                            <span class="me-1">{{> ../../common/icons/phone/Phone class="color_5fa85e"}}</span>
                            <span class="ms-2">8-358-589-11-11</span>
                        </div>

                        <div class="d-flex align-items-center">
                            <span class="me-1">{{> ../../common/icons/email2/Email2 class="color_eac338"}}</span>
                            <span class="ms-2">aaa@mail.ru</span>
                        </div>
                    </div>

                    <div class="d-flex align-items-center">
                        <span class="me-1 fw-semibold color_9b9b9b">Основной вид деятельности:</span>
                        <span class="ms-2">Торговля оптовая напитками (46.34)</span>
                    </div>
                </div>

                <div class="col-2">
                    <div class="d-flex align-items-center">
                        <span class="me-1 fw-semibold color_9b9b9b">ИНН:</span>
                        <span class="ms-2">1659120485</span>
                    </div>

                    <div class="d-flex align-items-center">
                        <span class="me-1 fw-semibold color_9b9b9b">КПП:</span>
                        <span class="ms-2">165901001</span>
                    </div>

                    <div class="d-flex align-items-center">
                        <span class="me-1 fw-semibold color_9b9b9b">ОГРН:</span>
                        <span class="ms-2">1121690037040</span>
                    </div>
                </div>

                <div class="col-6">
                    <div class="d-flex">
                        <div class="me-1 fw-semibold color_9b9b9b me-1">Адрес:</div>
                        <div class="ms-2">
                            <div>420110, республика Татарстан, г. Казань,</div>
                            <div>ул. Братьев касимовых, д.38</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="graphics">
            <div class="row">
                <div class="col-6">
                    <div class="chartRevenue" style="width: 800px;height: 370px"></div>
                </div>

                <div class="col-6">
                    <div class="chartProfit" style="width: 800px;height: 370px"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="chartTaxes" style="width: 800px;height: 370px"></div>
                </div>

                <div class="col-6 d-flex flex-column justify-content-between">
                    <div class="employeesNumber" style="width: 800px;height: 181px"></div>
                    <div class="averageSalary" style="width: 800px;height: 181px"></div>
                </div>
            </div>
        </div>

        <div class="courtCases">
            <h2 class="header2 header text-center">Судебные дела</h2>

            {{> CourtCaseItem}}
            {{> CourtCaseItem}}
            {{> CourtCaseItem}}
            {{> CourtCaseItem}}
        </div>

        <div class="courtCases">
            <h2 class="header2 header text-center">Исполнительные производства</h2>

            {{> CourtCaseItem}}
        </div>
    </div>
</div>

{{> ../../layout/Footer}}