{{> ../../layout/Hat}}

<div class="analyzeCompany page">
    <div class="container">
        {{> ../../common/breadcrumbs/Breadcrumbs }}

        <h1 class="header1 d-flex align-items-end justify-content-between mb-4">
            <span>Анализ юридического лица ООО «Ювс»</span>
            {{> status/Good }}
        </h1>

        <div class="page__block">
            {{> ../analyze-company/stats/Stats }}
        </div>

        <div class="page__block containerFrame">
            {{> ../analyze-company/contacts/Contacts }}
        </div>

        <div class="page__block">
            {{> charts/Charts }}
        </div>

        <div class="page__block">
            {{> ../analyze-company/court-cases/CourtCases}}
        </div>

        <div class="page__block">
            {{> ../analyze-company/court-cases/CourtExecutions}}
        </div>
    </div>
</div>

{{> ../../layout/footer/Footer}}