{{> ../../layout/Hat}}

<div class="analyzeCompany">
    <div class="container-lg">
        {{> ../../common/breadcrumbs/Breadcrumbs }}

        <h1 class="header1 d-flex align-items-center justify-content-between">
            <span>Анализ юридического лица ООО «Ювс»</span>
            {{> status/Good }}
        </h1>
    </div>
</div>

{{> ../../layout/Footer}}