{{> ../../layout/Hat endpoint=true withBorder=true}}

<div class="analyzeCompany page">
    <div class="container">
        {{> ../../common/breadcrumbs/Breadcrumbs }}

        <h1 class="header1 headerWithStatus mb-4">
            <div>Анализ юридического лица ООО «Ювс»</div>

            <div class="headerWithStatus__status">
                {{> status/Bad }}
            </div>
        </h1>

        <div class="page__block containerFrame d-xxl-none">
            {{> ../analyze-company/contacts/Contacts }}
        </div>

        <div class="page__block">
            {{> ../analyze-company/stats/Stats }}
        </div>

        <div class="page__block containerFrame d-none d-xxl-block">
            {{> ../analyze-company/contacts/Contacts }}
        </div>


        <div class="page__block">
            {{> charts/Charts }}
        </div>

        <div class="page__block">
            {{> ../analyze-company/court-cases/CourtCases}}
        </div>

        <div class="page__block">
            {{> ../analyze-company/court-cases/CourtExecutions}}
        </div>
    </div>
</div>

{{> ../../layout/footer/Footer withBorder=trueF}}