{{> ../../layout/Hat}}

<div class="ratingsPage">
    <div class="container-lg">
        {{> ../../common/breadcrumbs/Breadcrumbs }}

        <div class="page__block">
            <h2 class="header2">Реестр арбитражный управляющих</h2>

            <div class="page__block">
                {{> ../../common/forms/SearchForm}}
            </div>

            <div class="containerFrame page__block">
                {{> ../../common/personal-data-panel/sro/Sro inSRO=true}}
            </div>

            <div class="containerFrame page__block">
                {{> ../../common/personal-data-panel/sro/Sro}}
            </div>

            <div class="containerFrame page__block">
                {{> ../../common/personal-data-panel/sro/Sro inSRO=true}}
            </div>

            <div class="containerFrame page__block">
                {{> ../../common/personal-data-panel/sro/Sro inSRO=true}}
            </div>

            <div class="containerFrame page__block">
                {{> ../../common/personal-data-panel/sro/Sro inSRO=true}}
            </div>

            <div class="containerFrame page__block">
                {{> ../../common/personal-data-panel/sro/Sro inSRO=true}}
            </div>

            <div class="d-flex justify-content-center">
                {{> ../../common/pagination/Pagination}}
            </div>
        </div>
    </div>
</div>

{{> ../../layout/footer/Footer}}
