{{> ../../../layout/Hat withBorder=true endpoint=true}}

<div class="selectServicesPage">
    <div class="container">
        {{> ../../../common/breadcrumbs/Breadcrumbs}}

        <div class="accountPageLayoutGrid">
            <div class="d-none d-md-block">
                {{> ../../../layout/account/sidebar/Sidebar }}
            </div>

            <div>
                <div class="selectServicesPage__header fs-16px fs-md-20px fw-semibold servicesPage__selectCaption">
                    Выберите нужные Вам услуги, а мы подберем лучших специалистов.
                </div>

                <div class="selectServicesPage__item">{{> ../../../common/ui/account/InputRadioWithLabel label="Подать заявку с электронной подписью Аукционного брокера." name="service" id="service1" value="service1"}}</div>
                <div class="selectServicesPage__item">{{> ../../../common/ui/account/InputRadioWithLabel label="У Вас есть электронная подпись. Требуется все настроить, помочь с аккредитацией и документами." name="service" id="service2" checked=true value="service2"}}</div>
                <div>{{> ../../../common/ui/account/InputRadioWithLabel label="Вы ничего не знаете о торгах. Необходимо полное сопровождение. Анализ юридической чистоты, подготовка и участие в торгах, снятие ограничений, регистрация прав, защита интересов с случае нарушений." name="service" id="service3" value="service3"}}</div>
            </div>
        </div>
    </div>
</div>

{{> ../../../layout/footer/Footer withBorder=true}}
