{{> ../../layout/Hat}}

<div class="page">
    <div class="container-lg">
        {{> ../../common/breadcrumbs/Breadcrumbs}}

        <div class="page__block">
            <h1 class="header1 d-flex justify-content-between">
                <div>Должник ООО «Ромашка»</div>

                {{> ../analyze-company/status/Bad}}
            </h1>

            <div class="fw-bold fs20px">Дело о банкротстве А24-435/16 от 23.12.2016 г.</div>
        </div>

        <div class="page__block">
            {{> ../analyze-company/stats/Stats}}
        </div>

        <div class="page__block containerFrame">
            {{> ../analyze-company/contacts/Contacts biddings=true}}
        </div>

        <div class="page__block">
            {{> ../analyze-company/charts/Charts}}
        </div>

        <div class="page__block">
            {{> ../analyze-company/court-cases/CourtCases}}
        </div>

        <div class="page__block">
            {{> ../analyze-company/court-cases/CourtExecutions}}
        </div>

        <div class="page__block">
            {{> ../../common/lots-list/LotsList}}
        </div>
    </div>
</div>

{{> ../../layout/Footer}}