<div class="personalDataPanelSro">
    {{> NamePanel}}

    <div>
        <div class="nameValuePair">
            <div class="name">Оператор:</div>
            <div class="value fw-normal">ООО Аукционы Сибири</div>
        </div>

        <div class="nameValuePair">
            <div class="name">ИНН:</div>
            <div class="value fw-normal">000000000000</div>
        </div>

        <div class="nameValuePair">
            <div class="name">ОРГН:</div>
            <div class="value fw-normal">5855444785452</div>
        </div>
    </div>

    <div class="nameValuePair align-items-start">
        <div class="name">Адрес:</div>
        <div class="value fw-normal">105066, г Москва, Муниципальный округ Басманный, Нижняя Красносльская, 35, 64, 1/321</div>
    </div>

    <div>
        <div class="nameValuePair">
            <div class="name">Объявлено торгов:</div>
            <div class="value fs20px">123 (25 млн ₽)</div>
        </div>

        <div class="nameValuePair">
            <div class="name">Завершено торгов:</div>
            <div class="value fs20px">97 (14 млн ₽)</div>
        </div>

        <div class="nameValuePair">
            <div class="name">Активные торги:</div>
            <div class="value color_8cceef fs20px">3 (12 млн ₽)</div>
        </div>
    </div>

    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="pieSroRate" style="width: 50px; height: 50px"></div>
        <a href="#" class="text-decoration-none fw-bold color_9b9b9b">Оценить</a>
    </div>
</div>
