<div class="personalDataPanelSro">
    <div class="gridArea1">{{> NamePanel}}</div>

    <div class="gridArea2">
        <div class="nameValuePair mb-2">
            <div class="name">Оператор:</div>
            <div class="value fw-normal">ООО Аукционы Сибири</div>
        </div>

        <div class="nameValuePair mb-2">
            <div class="name">ИНН:</div>
            <div class="value fw-normal">000000000000</div>
        </div>

        <div class="nameValuePair mb-2 mb-xxl-0">
            <div class="name">ОГРН:</div>
            <div class="value fw-normal">5855444785452</div>
        </div>
    </div>

    <div class="gridArea3 nameValuePair align-items-start mb-2 mb-xxl-0">
        <div class="name">Адрес:</div>
        <div class="value fw-normal">105066, г Москва, Муниципальный округ Басманный, Нижняя Красносльская, 35, 64, 1/321</div>
    </div>

    <div class="gridArea4">
        <div class="nameValuePair mb-2">
            <div class="name">Объявлено торгов:</div>
            <div class="value value_strong fs-xl-14px fs-xxl-20px">123 (25 млн ₽)</div>
        </div>

        <div class="nameValuePair mb-2">
            <div class="name">Завершено торгов:</div>
            <div class="value value_strong fs-xl-14px fs-xxl-20px">97 (14 млн ₽)</div>
        </div>

        <div class="nameValuePair mb-2 mb-xxl-0">
            <div class="name">Активные торги:</div>
            <div class="value color_8cceef value_strong fs-xl-14px fs-xxl-20px">3 (12 млн ₽)</div>
        </div>
    </div>

    <div class="gridArea5 d-flex flex-column align-items-center justify-content-center">
        <div class="pieSroRate" style="width: 50px; height: 50px"></div>
        <a href="#" class="text-decoration-none fw-bold color_9b9b9b">Оценить</a>
    </div>
</div>
