<div>
    <div class="fs-20px fw-semibold">№ 771800053658</div>
    <div class="nameValuePair">
        <div class="name">Период проведения:</div>
        <div class="value fw-normal">с 05.02.2018 по 08.02.2018</div>
    </div>

    <div class="nameValuePair my-1">
        <div class="name">Адрес:</div>
        <div class="value fw-normal">420110, республика Татарстан, г. Казань, ул. Братьев касимовых, д.38</div>
    </div>

    <p class="mb-1">
        <span class="fw-semibold color_9b9b9b me-1">Цель:</span>
        Проверка проводится с целью выявления наличия или отсутствия нарушений указанных в жалобах Компании Вестфляйш еГ
        от 12122017 36 послуживших основанием для принятия решения о проведении проверки НП СРО СГАУ по соблюдению
        требований п 2 ст 22 Федерального закона от 26102002 127ФЗ «О несостоятельности банкротстве» далее Федеральный
        закон о банкротстве и п 310 Федерального стандарта деятельности саморегулируемых организаций арбитражных
        управляющих «Правила проведения саморегулируемой организацией арбитражных управляющих проверок профессиональной
        деятельности членов саморегулируемой организации в части соблюдения требований Федерального закона «О
        несостоятельности банкротстве» других федеральных законов иных нормативных правовых актов Российской Федерации
        федеральных стандартов стандартов и правил профессиональной деятельности» утвержденного приказом Министерства
        экономического развития Российской Федерации от 03072015 432 далее Федеральный стандарт Задачами проверки
        является осуществление контроля надзора за соблюдением Субъектом проверки требований Федерального закона о
        банкротстве и иных нормативных правовых актов Российской Федерации регулирующих деятельности саморегулируемых
        организаций арбитражных управляющих Предметом внеплановой проверки является соблюдение Партнерством требований п
        2 ст 22 Федерального закона о банкротстве и п 310 Федерального стандарта в части своевременного направления
        ответов на жалобы Компании Вестфляйш еГ на действия бездействие временного управляющего ОАО «Арсеньевский
        мясокомбинат» Рупчева АВ вх 1770 от 31032017 и вх 4892 от 22082017
    </p>

    <div class="nameValuePair my-1">
        <div class="name">Орган контроля:</div>
        <div class="value fw-normal">Управление Федеральной службы государственной регистрации кадастра и картографии по Москве
        </div>
    </div>

    <div class="nameValuePair">
        <div class="name">Результат:</div>
        <div class="value fw-normal">Нарушения не выявлены</div>
    </div>
</div>