<div>
    <div class="row">
        <div class="col-12 col-xxl-5">
            <div class="nameValuePair align-items-start fs-14px fs-md-16px mb-2 mb-xxl-4">
                <div class="name fs-16px">Организация:</div>
                <div class="value fw-normal">
                    ОСамолет Самолет Самолет Самолет Самолет Самолет Самолет Самолет Самолет Самолет Самолет Самолет Самолет Самолет
                </div>
            </div>

            <div class="nameValuePair fs-14px fs-md-16px mb-2 mb-xxl-0">
                <div class="name fs-16px">Президент:</div>
                <div class="value fw-normal">
                    Косынкин Александр Александрович
                </div>
            </div>

            <div class="d-md-flex my-md-2 fs-14px">
                <div class="my-2 my-md-0 me-md-4">{{> ../../common/link-phone/LinkPhone}}</div>
                <div class="my-2 my-md-0">{{> ../../common/link-email/LinkEmail}}</div>
            </div>
        </div>

        <div class="col-12 col-xxl-3">
            <div class="nameValuePair fs-14px fs-md-16px mb-2 mb-xxl-0">
                <div class="name fs-16px">ИНН:</div>
                <div class="value fw-normal">
                    1659120485
                </div>
            </div>

            <div class="nameValuePair fs-14px fs-md-16px mb-2 mb-xxl-0">
                <div class="name fs-16px">КПП:</div>
                <div class="value fw-normal">
                    1659120485
                </div>
            </div>

            <div class="nameValuePair fs-14px fs-md-16px mb-2 mb-xxl-0">
                <div class="name fs-16px">ОГРН:</div>
                <div class="value fw-normal">
                    1121690037040
                </div>
            </div>
        </div>

        <div class="col-12 col-xxl-4">
            <div class="nameValuePair fs-14px fs-md-16px mb-2 mb-xxl-0 align-items-start">
                <div class="name fs-16px">Адрес:</div>
                <div class="value fw-normal">
                    <div>420110, республика Татарстан, г. Казань,</div>
                    <div>ул. Братьев касимовых, д.38</div>
                </div>
            </div>
        </div>
    </div>
</div>