

.inputPassword {
  position: relative;

  .baseInputText {
    padding-right: 40px;
  }

  .iconWrapper {
    top: 0;
    right: 0;
    height: 100%;
    position: absolute;
    padding: 0 pxToRem(18);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d4d4d4;

    &:hover {
      color: #9d9d9d;
      cursor: pointer;
    }
  }

  .form-control:invalid {
    background-position: right calc(.375em + 2.1875rem) center;
  }
}