

.baseInputCheckbox {
  .icon {
    display: none;
    color: #4da7d3;
  }

  input {
    display: none;

    &:checked + .icon {
      display: block;
    }
  }

  .checkContainer {
    width: pxToRem(32);
    height: pxToRem(32);
    border: 1px solid #9a9a9a;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    &_checked {
      border-color: #4da7d3;
    }
  }

  .label {
    padding: 0 0 0 pxToRem(12);
    color: #9b9b9b;
  }

  &_size {
    &_small {
      .checkContainer {
        width: pxToRem(20);
        height: pxToRem(20);
      }

      .label {
        font-size: pxToRem(14);
      }

      .icon {
        width: pxToRem(14);
      }
    }
  }

  &_theme {
    &_disabled {
      .checkContainer {
        border: none;
        background-color: #d4d4d4;
      }

      .label {
        color: #9b9b9b;
      }
    }

    &_account {
      .checkContainer {
        width: pxToRem(20);
        height: pxToRem(20);
        border-color: #D9D9D9;

        &_checked {
          border-color: #8CCEEF;
          background-color: #8CCEEF;
        }
      }

      .icon {
        width: pxToRem(14);
        color: #ffffff;
      }

      .label {
        color: #161616;
      }
    }
  }
}
