{{> ../../layout/Hat endpoint=true withBorder=true}}

<div class="page">
    <div class="container">
        {{> ../../common/breadcrumbs/Breadcrumbs}}

        <div class="page__block">
            <h1 class="header1 d-flex justify-content-between">
                Должник Сидоров Иван Иванович
            </h1>

            <div class="fw-bold fs-20px">Дело о банкротстве А24-435/16 от 23.12.2016 г.</div>
        </div>

        <div class="containerFrame page__block">
            <div class="row">
                <div class="col-12 col-xl-4">
                    <div class="nameValuePair mb-2 fs-14px fs-md-16px fs-xl-14px fs-xxl-16px">
                        <div class="name">ФИО:</div>
                        <div class="value fw-normal">Сидоров Иван Иванович</div>
                    </div>

                    <div class="nameValuePair flex-column flex-md-row flex-xl-column flex-xxl-row mb-2 mb-xxl-0 align-items-start fs-14px fs-md-16px fs-xl-14px fs-xxl-16px">
                        <div class="name mb-2 mb-md-0">Финансовый управляющий:</div>
                        <div class="value fw-normal">Косынкин Александр Александрович</div>
                    </div>
                </div>

                <div class="col-12 col-xl-2">
                    <div class="d-flex align-items-center mb-2 fs-14px fs-md-16px fs-xl-14px fs-xxl-16px">
                        <span class="me-1 fw-semibold color_9b9b9b">ИНН:</span>
                        <span class="ms-2">1659120485</span>
                    </div>

                    <div class="d-flex align-items-center mb-2 fs-14px fs-md-16px fs-xl-14px fs-xxl-16px">
                        <span class="me-1 fw-semibold color_9b9b9b">КПП:</span>
                        <span class="ms-2">165901001</span>
                    </div>

                    <div class="d-flex align-items-center mb-2 mb-xxl-0 fs-14px fs-md-16px fs-xl-14px fs-xxl-16px">
                        <span class="me-1 fw-semibold color_9b9b9b">ОГРН:</span>
                        <span class="ms-2">1121690037040</span>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="nameValuePair fs-14px fs-md-16px fs-xl-14px fs-xxl-16px mb-2 mb-xxl-0 align-items-start">
                        <div class="name">Адрес:</div>
                        <div class="value fw-normal">
                            <div>420110, республика Татарстан, г. Казань,</div>
                            <div>ул. Братьев касимовых, д.38</div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="nameValuePair fs-14px fs-md-16px fs-xl-14px fs-xxl-16px mb-2">
                        <div class="name">Объявлено торгов:</div>
                        <div class="value fs-16px fs-md-20px fs-xl-16px fs-xxl-20px">123 (12 млн ₽)</div>
                    </div>

                    <div class="nameValuePair fs-14px fs-md-16px fs-xl-14px fs-xxl-16px mb-2">
                        <div class="name">Объявлено торгов:</div>
                        <div class="value fs-16px fs-md-20px fs-xl-16px fs-xxl-20px">97 (14 млн ₽)</div>
                    </div>

                    <div class="nameValuePair fs-14px fs-md-16px fs-xl-14px fs-xxl-16px">
                        <div class="name">Активные торги:</div>
                        <div class="value fs-16px fs-md-20px fs-xl-16px fs-xxl-20px color_8cceef">3 (12 млн ₽)</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page__block">
            {{> ../../common/lots-list/LotsList}}
        </div>
    </div>
</div>

{{> ../../layout/footer/Footer withBorder=true}}