<div class="modal" tabindex="-1" id="modalAwardInfo">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <span class="closeButton">
                {{> ../../common/icons/times/Times class="icon"}}
            </span>

            <div class="modal-body">
            </div>
        </div>
    </div>
</div>