{{> ../../layout/Hat}}

<div class="page">
    <div class="container-lg">
        {{> ../../common/breadcrumbs/Breadcrumbs}}

        <h1 class="header1 d-flex justify-content-between">
            Электронная площадка: ООО МЭТС
        </h1>

        <div class="containerFrame page__block">
            {{> ../../common/personal-data-panel/etp/Etp}}
        </div>

        <div class="containerFrame page__block d-flex justify-content-between">
            <div class="nameValuePair">
                <div class="name">Средняя сумма договора:</div>
                <div class="value">6 000 ₽</div>
            </div>

            <div class="nameValuePair">
                <div class="name">Максимальная сумма сделки:</div>
                <div class="value">50 000 000 000 ₽</div>
            </div>

            <div class="nameValuePair">
                <div class="name">Количество площадок:</div>
                <div class="value">22</div>
            </div>
        </div>

        <div class="page__block containerFrame">
            <div class="row">
                <div class="col-6">
                    <div class="etpChartBidsMember" style="width: 800px; height: 370px"></div>
                </div>

                <div class="col-6">
                    <div class="etpChartBidsInitiator" style="width: 800px; height: 370px"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="debtorsChart" style="width: 800px;height: 370px"></div>
                </div>

                <div class="col-6">
                    <div class="etpChartAverageDebtorsSum" style="width: 800px; height: 370px"></div>
                </div>
            </div>
        </div>

        <div class="containerFrame page__block">
            {{> ../../common/charts/AuctionGroup header="Аукцион"}}
        </div>

        <div class="containerFrame page__block">
            {{> ../../common/charts/AuctionGroup header="Публичное предложение"}}
        </div>

        <div class="containerFrame page__block">
            <h2 class="header2 mb-4 text-center arbitratorPage__mapHeader1">География должников</h2>

            <div class="arbitratorPage__map1">{{> ../../common/top10/Top10}}</div>

            <h2 class="header2 mb-4 text-center arbitratorPage__mapHeader2">География арбитражных управляющих /
                организаторов торгов</h2>

            <div class="arbitratorPage__map2">{{> ../../common/top10/Top10}}</div>

            <h2 class="header2 mb-4 text-center arbitratorPage__mapHeader2">География участников торгов</h2>

            <div class="arbitratorPage__map2">{{> ../../common/top10/Top10}}</div>
        </div>

        <div class="mt-5">
            {{> ../../common/user-rate/UserRate}}
        </div>

        <h3 class="header2 page__block text-center">Анализ юридического лица ООО «Ювс»</h3>

        <div class="page__block">
            <div class="page__block">
                {{> ../analyze-company/stats/Stats }}
            </div>

            <div class="page__block containerFrame">
                {{> ../analyze-company/contacts/Contacts }}
            </div>

            <div class="page__block">
                {{> ../analyze-company/charts/Charts }}
            </div>

            <div class="page__block">
                {{> ../analyze-company/court-cases/CourtCases}}
            </div>

            <div class="page__block">
                {{> ../analyze-company/court-cases/CourtExecutions}}
            </div>

            <div class="page__block">
                {{> ../../common/lots-list/LotsList}}
            </div>
        </div>
    </div>
</div>

{{> ../../layout/Footer}}
