<div class="lot">
    <div class="lotHat">
        <div class="d-flex justify-content-between">
            <span class="number">Лот: 18-24-5186972</span>
            <span class="location">Московская обл.</span>
        </div>

        <div>
            <span>Имущество должников (банкротство)</span>
        </div>
    </div>

    <div class="lotImage position-relative">
        <div class="lotImage__label label label_theme_auction">
            {{> ../icons/hammer/Hammer class="icon me-1"}}
            Аукцион
        </div>

        <img class="image" src="/images/home/top100/dummy.png"/>
    </div>

    <div class="lotBody">
        <p class="description">
            Сведения по лоту №1: Жилое помещение в общей долевой собственности, земельный участок в общедолевой
            собственности
            под жилым помещением Жилое помещение в общей долевой
        </p>

        <div class="deadline mb-3">
            <span>Завершение интервала: 1 д. 12 ч.</span>
        </div>

        <div class="divider mb-2"></div>

        <div class="stats">
            <div class="item mb-1">
                <span class="name">Начальная цена</span>

                <span class="value">
                    <span class="rouble">208278000</span>
                </span>
            </div>

            <div class="item mb-1">
                <span class="name">Текущая цена</span>

                <span class="value">
                    <span class="rouble">208278000</span>
                </span>
            </div>

            <div class="item mb-1">
                <span class="name">Минимальная цена</span>

                <span class="value">
                    <span class="rouble">208278000</span>
                </span>
            </div>

            <div class="item mb-1">
                <span class="name">Шаг понижения</span>

                <span class="value">
                    <span class="rouble">12000</span>
                    <span>(7 дн)</span>
                </span>
            </div>
        </div>
    </div>

    <div class="lotFooter">
        <div class="row">
            <div class="col-6">
                <span class="baseButton baseButton_theme_blue">Участвовать</span>
            </div>
            <div class="col-6">
                <div class="d-flex justify-content-between align-items-center h-100">
                    {{> ../icons/heart/Heart class="icon icon_heart"}}
                    {{> ../icons/double-heart/DoubleHeart class="icon icon_doubleHeart"}}

                    <div class="iconContainer position-relative">
                        <div class="badge position-absolute">1</div>
                        {{> ../icons/handshake/Handshake class="icon icon_handshake"}}
                    </div>

                    {{> ../icons/community/Community class="icon icon_community"}}
                </div>
            </div>
        </div>
    </div>
</div>