<div class="item contactItem_desktop">
    <div class="grid">
        <div class="item1">
            <div class="nameValuePair d-block">
                <div class="name">Арбитражный управляющий:</div>
                <div class="value companyName">Ибрагимов Ильнур Ильсурович</div>
            </div>
        </div>

        <div class="item2">
            <div class="pieSroRate" style="width: 50px; height: 50px"></div>
        </div>

        <div class="item3">
            <div class="d-flex justify-content-between">
                <div class="nameValuePair fs-12px fs-xxl-16px">
                    <div class="name">ИНН:</div>
                    <div class="value fw-normal">456151225467</div>
                </div>

                {{> ../../../../common/link-phone/LinkPhone}}
                {{> ../../../../common/link-email/LinkEmail}}

                <a class="link link_request linkRequest" href="#">
                    {{> ../../../../common/icons/search-document/SearchDocument class="icon"}}
                    <span class="color_9b9b9b fw-bold ms-2">Отправить запрос</span>
                </a>
            </div>
        </div>

        <div class="item4">
            <a href="#" class="link color_9b9b9b fw-bold">Оценить</a>
        </div>
    </div>
</div>