<div class="lotsList" id="lotsList">
    <h2 class="header2 lotsList__header text-center">Список лотов</h2>

    <div class="lotsList__searchForm">
        {{> ../../common/forms/SearchForm}}
    </div>

    <div class="memberPage__lotItem">
        {{> ../../common/lot-card/tile/CompletedMobile }}
    </div>

    <div class="d-flex justify-content-center mt-4">
        {{> ../../common/pagination/Pagination }}
    </div>
</div>