<div class="lot lot_tile h-100 d-flex flex-column">
    <div>
        {{> ../Hat}}

        {{> ../../InteractiveImage }}

        <div class="lotContainer">
            <p class="textEllipsis textEllipsis_rows_2 m-0">
                Сведения по лоту №1: Жилое помещение в общей долевой собственности, земельный участок в общедолевой
                собственности под жилым помещением Жилое помещение в общей долевой
            </p>

            {{#if isbiddingEnds}}
                <div class="lotContainer px-0">
                    <div class="baseHorizontalDivider m-0"></div>
                </div>

                <div class="fw-semibold fs-18px color_fc2c2c text-center">Торги завершены</div>
            {{else}}
                <div class="deadline mt-2">
                    <span>Завершение интервала: 1 д. 12 ч.</span>
                </div>
            {{/if}}
        </div>

        <div class="lotContainer py-0">
            <div class="baseHorizontalDivider m-0"></div>
        </div>

        <div class="lotContainer">
            {{> ../../Prices
                startPrice=startPrice
                currentPrice=currentPrice
                minimalPrice=minimalPrice
                yourPrice=yourPrice
            }}
        </div>

        {{> ../../PricesForecast
            chancesToWin=chancesToWin
            probablityPrice=probablityPrice
            interestedUsers=interestedUsers
        }}
        {{#if executor}}
            <div class="lotContainer">
                <div class="fs-15px fw-semibold">
                    <span class="me-1">Исполнитель:</span>
                    <span>{{executor}}</span>
                </div>
                {{> ../../PricesService
                    offerCost=offerCost
                    reward=reward
                    advancedFeatures=advancedFeatures
                }}
            </div>

            <div class="lotContainer py-0">
                <div class="baseHorizontalDivider m-0"></div>
            </div>
        {{/if}}

        {{#if makeOrderWith}}
            <div class="lotContainer">
                <div class="fs-15px fw-semibold">
                    <span class="me-2">Подать заявку с HEVEYA.RU:</span>
                </div>
                {{> ../../PricesService
                    offerCost=offerCost
                    reward=reward
                    advancedFeatures=advancedFeatures
                }}
            </div>

            <div class="lotContainer py-0">
                <div class="baseHorizontalDivider m-0"></div>
            </div>
        {{/if}}
    </div>

    <div class="flex-grow-1 d-flex flex-column justify-content-between">
        {{#if isMakeOfferType }}
            <div class="lotContainer pb-0">
                {{> ../../PriceOffer price=priceOffer }}
            </div>

            <div class="lotContainer pb-0">
                <div
                    class="mb-2">{{> ../../../ui/account/InputCheckboxPrice id="needHelp" label="Помощь специалиста" price="300"}}</div>
                <div
                    class="mb-2">{{> ../../../ui/account/InputCheckboxPrice id="arrangeTime" label="Подача звявки ко времени" price="1 700" checked=true}}</div>
                <div
                    class="mb-3">{{> ../../../ui/account/InputCheckboxPrice id="remoteConnection" label="Удаленное подключение" price="1 200" checked=true}}</div>
                <div class="baseButton baseButton_size_medium baseButton_theme_blue mb-3">Участвовать с HEVEYA.RU</div>
                <div class="fw-bold text-center color_8cceef fs-16px">Выбрать другого исполнителя (Агента)</div>
            </div>
        {{/if}}

        {{#if isDocumentsPreparing}}
            <div class="lotContainer pb-0">
                {{> ../../PriceOffer price=priceOffer }}
            </div>

            <div class="lotContainer lotContainer_p_12 pb-0">
                {{> Alert isPrimaryTheme=true title="Выполняется подготовка документов." text="Уведомление о готовности поступит в течение 10-40 минут. Обновите страницу, скачайте, подпишите и загрузите документы"}}
            </div>
        {{/if}}

        {{#if isMakeOffer}}
            <div class="lotContainer isMakeOffer pb-0">
                {{> IsMakeOfferItem title="Заявка на участие"}}
                {{> IsMakeOfferItem title="Агентский договор"}}
                {{> IsMakeOfferItem title="Договор задатка"}}
                {{> IsMakeOfferItem title="Платежное поручение"}}

                <div class="baseButton baseButton_theme_blue baseButton_size_medium">Подать заявку</div>
            </div>
        {{/if}}

        {{#if isOfferRegistered}}
            <div class="lotContainer pb-0">
                {{> ../../PriceOffer price=priceOffer }}
            </div>

            <div class="lotContainer lotContainer_p_12 pb-0">
                {{> Alert isSuccessTheme=true title="Ваша заявка зарегистрирована" text="Уведомление о готовности поступит в течение 10-40 минут. Обновите страницу, скачайте, подпишите и загрузите документы"}}
            </div>
        {{/if}}

        {{#if isbiddingEnds}}
            <div class="lotContainer pb-0">
                <div class="isBiddingEnds">
                    <div class="links">
                        <div class="buttonText fs-18px">Итоговый протокол торгов</div>
                        <div class="buttonText fs-18px">Ссылка на торги</div>
                        <div class="buttonText fs-18px">Приложенные документы</div>
                        <div class="buttonText fs-18px">Счет на оплату</div>
                    </div>
                </div>
            </div>

            <div class="lotContainer pb-0">
                <div class="isBiddingEnds">
                    {{#if isWin}}
                        <div class="isBiddingEnds__status status status_type_win">
                            {{> ../../../icons/check-mark/CheckMark class="icon me-3"}}
                            <span>Вы победили</span>
                        </div>
                    {{else}}
                        <div class="isBiddingEnds__status status status_type_loose">
                            {{> ../../../icons/exclamation-mark/ExclamationMark class="icon me-3"}}
                            <span>Вы не победили</span>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/if}}

        {{#if isRequestSent}}
            <div class="lotContainer pb-0">
                {{> ../../PriceOffer price=priceOffer }}
            </div>

            <div class="lotContainer lotContainer_p_12 pb-0">
                {{> Alert isPrimaryTheme=true title="Аукционному брокеру Сидорову А.А. направлен Ваш запрос" text="Ожидайте подтверждения в течение 60 минут.  Уведомление поступит на электронную почту"}}
            </div>
        {{/if}}

        {{#if isBrokerDismissedOrder}}
            <div class="lotContainer lotContainer_p_12 pb-0">
                {{> Alert isErrorTheme=true title="Аукционный брокер Сидоров А.А. отказался от выполнения задания"}}
            </div>

            <div class="lotContainer py-0">
                <div class="baseHorizontalDivider m-0"></div>
            </div>

            <div class="lotContainer pt-0">
                <div class="baseButton baseButton_theme_blue baseButton_size_medium mb-3">Участвовать с HEVEYA.RU
                </div>
                <div class="buttonText text-center fs-16px">Выбрать другого исполнителя (Агента)</div>
            </div>
        {{/if}}

        {{#if isBrokerAcceptedOrder}}
            <div class="lotContainer lotContainer_p_12 pb-0">
                {{> Alert isSuccessTheme=true title="Аукционный брокер Сидоров А.А. подтвердил задание"}}
            </div>

            <div class="lotContainer">
                <div class="baseHorizontalDivider m-0"></div>
            </div>

            <div class="lotContainer py-0">
                <div class="baseButton baseButton_theme_blue baseButton_size_medium">
                    Оплатить 4 200 ₽
                </div>
            </div>
        {{/if}}

        {{#if isConfirmExecution}}
            <div class="lotContainer pb-0">
                <div class="fs-15px fw-semibold mb-2">
                    <div>Аукционный брокер:</div>
                    <div>Сидоров Александр Алексеевич</div>
                </div>

                <div class="mb-2">{{> ../../../link-phone/LinkPhone}}</div>

                <div>{{> ../../../link-email/LinkEmail}}</div>
            </div>

            <div class="lotContainer">
                <div class="baseHorizontalDivider m-0"></div>
            </div>

            <div class="lotContainer py-0">
                <div class="baseButton baseButton_theme_blue baseButton_size_medium">
                    Подтвердить выполнение
                </div>
            </div>
        {{/if}}
    </div>
</div>