<div class="infoPanel {{#if isPrimaryTheme}}infoPanel_theme_primary{{/if}} {{#if isErrorTheme}}infoPanel_theme_error{{/if}} {{#if isSuccessTheme}}infoPanel_theme_success{{/if}}">
    <div class="d-flex {{#if text}}infoPanel__hat{{/if}} hat align-items-center">
        <div class="infoPanel__icon">
            {{#if isPrimaryTheme}}
                {{> ../../../icons/exclamation-mark-2/ExclamationMark2 class="icon"}}
            {{/if}}

            {{#if isErrorTheme}}
                {{> ../../../icons/exclamation-mark-2/ExclamationMark2 class="icon"}}
            {{/if}}

            {{#if isSuccessTheme}}
                {{> ../../../icons/check-mark-3/CheckMark3 class="icon"}}
            {{/if}}
        </div>

        <div class="fw-semibold">{{title}}</div>
    </div>

    {{#if text}}<p class="m-0 fs-14px color_9b9b9b">{{text}}</p>{{/if}}
</div>