@font-face {
  font-family: "Open Sans";
  src: url("./fonts/open-sans/OpenSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/open-sans/OpenSans-Light.ttf") format("ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/open-sans/OpenSans-Bold.ttf") format("ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/open-sans/OpenSans-Italic.ttf") format("ttf");
  font-style: italic;
}