<div class="personalDataPanelDebtor">
    {{> NamePanel}}

    <div>
        <div class="nameValuePair">
            <div class="name">ИНН:</div>
            <div class="value fw-normal">000000000000</div>
        </div>

        <div class="nameValuePair">
            <div class="name">ОГРН:</div>
            <div class="value fw-normal">458569895635665</div>
        </div>
    </div>

    <div class="nameValuePair align-items-start">
        <div class="name">Адрес:</div>
        <div class="value">119019, г. Москва, Нащокинский переулок, д.12, строение 1, каб.4</div>
    </div>

    <div>
        <div class="nameValuePair">
            <div class="name">Объявлено торгов:</div>
            <div class="value fs-20px">123 (12 млн ₽)</div>
        </div>

        <div class="nameValuePair">
            <div class="name">Завершено торгов:</div>
            <div class="value fs-20px">97 (14 млн ₽)</div>
        </div>

        <div class="nameValuePair">
            <div class="name">Активные торги:</div>
            <div class="value color_8cceef fs-20px">3 (12 млн ₽)</div>
        </div>
    </div>
</div>
