<div class="d-flex flex-column justify-content-between">
    <div class="color_8cceef fs-16px fs-md-18px fw-semibold">Константинов Константин Константинович</div>

    <div class="nameValuePair mb-2">
        <div class="name">АУ:</div>
        <div class="value fw-normal">Сидоров Иван Иванович</div>
    </div>

    <div class="nameValuePair mb-2">
        <div class="name">Дело о банкротстве:</div>
        <div class="value fw-normal">А28-765/23 от 12.05.2021г.</div>
    </div>

    {{> ../../../common/location/Location }}
</div>