.interestsSphere {
  thead {
    vertical-align: top;
  }

  tbody {
    vertical-align: middle;
  }

  tr {
    height: pxToRem(40);
  }

  th, td {
    border-bottom: 1px solid #d4d4d4;
    font-weight: 600;
    font-size: pxToRem(18);
    line-height: 1;
  }
}