

.regionsSummary {
  .header {
    font-size: pxToRem(26);
    color: #5c5c5c;
    font-weight: bold;
    text-align: center;
  }

  .table {
    tr {
      > *:nth-child(1) {
        width: pxToRem(350);
      }

      > *:nth-child(6) {
        width: pxToRem(180);
      }
    }

    thead {
      vertical-align: middle;
    }

    tbody {
      vertical-align: middle;

      tr {
        height: pxToRem(55);
      }
    }

    th, td {
      font-weight: 600;
      font-size: pxToRem(18);
      padding: 0 pxToRem(20);
    }

    th {
      background-color: #f3f3f3;
      border: none;
      height: pxToRem(68);
      box-sizing: border-box;
    }

    td {

      border-bottom: 1px solid #d4d4d4;
    }
  }
}