{{> ../../layout/Hat}}

<div class="ratingsPage">
    <div class="container-lg">
        {{> ../../common/breadcrumbs/Breadcrumbs }}

        <h1 class="header1">Рейтинг участников торгов</h1>

        <div class="row">
            <div class="col-12">
                {{> ../../common/forms/SearchForm}}
            </div>
        </div>

        <div class="ratingItems">
            {{> Item }}
            {{> Item }}
            {{> Item }}
            {{> Item }}
            {{> Item }}
        </div>

        <div class="d-flex justify-content-center mt-4">
            {{> ../../common/pagination/Pagination }}
        </div>
    </div>
</div>

{{> ../../layout/Footer}}
