<div class="inputDateInterval">
    <div>
        {{> InputDate placeholder=placeholder1 placeholderXS=placeholderMobile1 placeholderMD=placeholder1 }}
    </div>
    <div class="d-flex align-items-center justify-content-center">-</div>
    <div>
        {{> InputDate placeholder=placeholder2 placeholderXS=placeholderMobile2 placeholderMD=placeholder1 }}
    </div>
</div>