<div class="inputPassword">
    <input type="password" class="form-control baseInputText" {{#if required}}required{{/if}} {{#if id}}id="{{id}}"{{/if}} name="{{name}}" minlength="6" />

    <div class="icon_type_password iconWrapper">{{> ../icons/eye/Eye class="icon"}}</div>
    <div class="icon_type_text iconWrapper">{{> ../icons/eye-split/EyeSplit class="icon"}}</div>
</div>