<div class="inputPassword">
    <input type="password" class="form-control baseInputText" />

    <div class="icon_type_password iconWrapper">{{> ../icons/eye/Eye class="icon"}}</div>
    <div class="icon_type_text iconWrapper">{{> ../icons/eye-split/EyeSplit class="icon"}}</div>
</div>