<select class="baseSelect" id="{{id}}" name="{{name}}">
    <option value="">{{default}}</option>
    <option value="1">Awosome</option>
    <option value="2">Beast</option>
    <option value="3">Compatible</option>
    <option value="4">Thomas Edison</option>
    <option value="5">Nikola</option>
    <option value="6">Selectize</option>
    <option value="7">Javascript</option>
</select>
