.payOffer  {
  padding: pxToRem(30) pxToRem(12);

  @include breakpoint(md) {
    padding: pxToRem(30) pxToRem(24);
  }

  @include breakpoint(xxl) {
    padding: pxToRem(30);
  }

  &__item:not(:last-child) {
    margin: 0 0 pxToRem(12);
  }
}