<div class="contacts">
    <div class="item">{{> ../contacts/item/Item subjectName="Арбитражный управляющий:" subjectValue="Ибрагимов Ильнур Ильсурович" }}</div>

    <div class="item">{{> ../contacts/item/Item subjectName="Организатор торгов:" subjectValue="ООО Инвест" }}</div>

    <div class="item">{{> ../contacts/item/Item subjectName="Площадка:" subjectValue="ООО МЭТС" isPlatform=true }}</div>
</div>
