<div class="contacts">
    <div class="item">{{> ../contacts/item/Item }}</div>

    <div class="item">{{> ../contacts/item/Item }}</div>

    <div class="item">{{> ../contacts/item/Item }}</div>
</div>
