<div class="item">
    <div class="grid">
        <div class="item1">
            <div>
                <div class="color_9b9b9b fw-bold me-2">Арбитражный управляющий:</div>
                <div class="color_0f0f0f fw-bold companyName">Ибрагимов Ильнур Ильсурович
                </div>
            </div>
        </div>

        <div class="item2">
            {{> ../../../common/charts/pie/Pie50 values='[68, 34]' colors='["0xEF7F1A", "0x434343"]' label="68%"}}
        </div>

        <div class="item3">
            <div class="d-flex justify-content-between">
                <span>
                    <span class="color_9b9b9b fw-bold me-2">ИНН:</span>
                    <span class="color_0f0f0f">456151225467</span>
                </span>

                <a class="link link_phone" href="#">
                    {{> ../../../common/icons/phone/Phone class="icon"}}
                    <span class="color_0f0f0f ms-2">7 (927) 4006456</span>
                </a>

                <a class="link link_email" href="#">
                    {{> ../../../common/icons/email2/Email2 class="icon"}}
                    <span class="color_0f0f0f ms-2">ilnur_i82@mail.ru</span>
                </a>

                <a class="link link_request" href="#">
                    {{> ../../../common/icons/search-document/SearchDocument class="icon"}}
                    <span class="color_9b9b9b fw-bold ms-2">Отправить запрос</span>
                </a>
            </div>
        </div>
        <div class="item4">
            <a href="#" class="link color_9b9b9b fw-bold">Оценить</a>
        </div>
    </div>
</div>