.top10 {
  &__tableHeader {
    margin: pxToRem(20) 0 0;

    @include breakpoint(md) {
      margin: pxToRem(24) 0 0;
    }

    @include breakpoint(xl) {
      margin: 0;
    }
  }

  .mapContainer {
    min-height: pxToRem(210);

    @include breakpoint(md) {
      min-height: pxToRem(380);
    }
  }

  .map {
    width: 100%;
    height: pxToRem(210);

    @include breakpoint(md) {
      height: pxToRem(380);
    }

    @include breakpoint(xxl) {
      height: pxToRem(660);
    }
  }

  .tableWrapper {
    overflow-x: scroll;

    @include breakpoint(xxl) {
      overflow: visible;
    }
  }
}