<div class="stackedChart">
    <div class="line mb-2">
        <div class="part" style="width: 37%; background-color: #8cceef"></div>
        <div class="part" style="width: 67%; background-color: #434343"></div>
    </div>

    <div class="legend">
        <div class="item d-flex align-items-center fs-12px fs-lg-16px">
            <div>{{> ../../icons/circle/Circle class="color_8cceef"}}</div>
            <div class="ms-2">Участвовал: <span class="fw-semibold rouble">53 млн</span></div>
        </div>

        <div class="item d-flex align-items-center fs-12px fs-lg-16px">
            <div>{{> ../../icons/circle/Circle class="color_434343"}}</div>
            <div class="ms-2">Победил: <span class="fw-semibold rouble">12 млн</span></div>
        </div>
    </div>
</div>