{{> ../../layout/Hat}}

<div class="ratePage">
    <div class="container">
        {{> ../../common/breadcrumbs/Breadcrumbs }}
    </div>

    <div class="container">
        <h1 class="mb-4">Оценка работы</h1>

        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <span class="color_9b9b9b fw-bold fs-18px me-2">Электронная площадка:</span>
                    <span class="color_0f0f0f fs-18px fw-semibold">Центр реализации</span>
                </div>

                <div class="mb-3">
                    <div class="d-flex">
                        <span class="me-4">
                            <span class="color_9b9b9b fw-bold fs-18px me-2">ИНН:</span>
                            <span class="color_0f0f0f fs-18px">456151225467</span>
                        </span>

                        {{> ../../common/link-phone/LinkPhone class="me-4"}}
                        {{> ../../common/link-email/LinkEmail}}
                    </div>
                </div>

                <div>
                    <span class="color_9b9b9b fw-bold fs-18px me-2">Стаж:</span>
                    <span class="color_0f0f0f fs-18px">5 лет</span>
                </div>
            </div>

            <div class="col-3">
                <div class="color_9b9b9b fw-bold mb-3">Рейтинг HEVEYA.RU:</div>
                <div class="d-flex align-items-center">
                    <div class="d-flex pieWithLogo">
                        <div class="d-flex">
                            <div class="pieSiteRate" style="width: 130px; height: 130px;"></div>
                        </div>
                        {{> ../../common/icons/logo-2/Logo2 class="icon"}}
                    </div>

                    <span class="header3 fw-semibold ms-4">19/76</span>
                </div>
            </div>

            <div class="col-3">
                <div>
                    <div class="color_9b9b9b mb-3 fw-semibold">Оценка пользователей</div>

                    <div class="d-flex">
                        <div class="pieUserRate" data-size="large" style="width: 130px; height: 130px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="baseHorizontalDivider"></div>


        <div class="quizBlock">
            <div class="row">
                <div class="col-6">
                    <h3 class="header3 quizHeader">Оценка Электронной площадки пользователями</h3>
                </div>

                <div class="col-6"></div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="fw-bold fs-20px title">
                        <span class="me-2">1.</span>
                        <span class="ms-1">Удобство использования</span>
                    </div>

                    <div class="fs-20px fw-semibold">Интерфейс площадки интуитивно понятен?</div>
                    {{> ../../common/ui/Switch class="switchElement" name="" checked=false }}

                    <div class="fs-20px fw-semibold">Вам понравился поиск лотов на площадке?</div>
                    {{> ../../common/ui/Switch class="switchElement" name="" checked=false }}

                    <div class="fs-20px fw-semibold">Техническая поддержка отвечает на звонки и запросы по емайл?</div>
                    {{> ../../common/ui/Switch class="switchElement" name="" checked=true }}

                    <div class="fs-20px fw-semibold">Техническая поддержка оказывает содействие?</div>
                    {{> ../../common/ui/Switch class="switchElement" name="" checked=true }}

                    <div class="fs-20px fw-semibold">Регистрация была простой для Вас?</div>
                    {{> ../../common/ui/Switch class="switchElement" name="" checked=false }}

                    <div class="fs-20px fw-semibold">Сколько дней заняла аккредитация на площадке?</div>

                    <div class="form-check radioElement baseRadio">
                        <input class="form-check-input" type="radio" name="accreditation" id="accreditation_1_day"
                               value="1_day"/>
                        <label class="form-check-label" for="accreditation_1_day">
                            1 день
                        </label>
                    </div>

                    <div class="form-check radioElement baseRadio">
                        <input class="form-check-input" type="radio" name="accreditation" id="accreditation_2_day"
                               value="2_day" checked/>
                        <label class="form-check-label" for="accreditation_2_day">
                            2 дня
                        </label>
                    </div>

                    <div class="form-check radioElement baseRadio">
                        <input class="form-check-input" type="radio" name="accreditation" id="accreditation_3_day"
                               value="3_day"/>
                        <label class="form-check-label" for="accreditation_3_day">
                            3 дня
                        </label>
                    </div>

                    <div class="form-check radioElement baseRadio">
                        <input class="form-check-input" type="radio" name="accreditation" id="accreditation_4_day"
                               value="4_day"/>
                        <label class="form-check-label" for="accreditation_4_day">
                            4 дня
                        </label>
                    </div>

                    <div class="form-check radioElement baseRadio">
                        <input class="form-check-input" type="radio" name="accreditation" id="accreditation_5_day"
                               value="5_day"/>
                        <label class="form-check-label" for="accreditation_5_day">
                            5 дней
                        </label>
                    </div>

                    <div class="form-check radioElement baseRadio">
                        <input class="form-check-input" type="radio" name="accreditation" id="accreditation_5_10_day"
                               value="5_10_day"/>
                        <label class="form-check-label" for="accreditation_5_10_day">
                            5-10 дней
                        </label>
                    </div>

                    <div class="form-check radioElement baseRadio mb-4">
                        <input class="form-check-input" type="radio" name="accreditation" id="accreditation_more_10_day"
                               value="more_10_day"/>
                        <label class="form-check-label" for="accreditation_more_10_day">
                            10 дней и более
                        </label>
                    </div>
                </div>

                <div class="col-6">
                    <div class="grayPanel ratingPanel">
                        <div class="fs-20px fw-semibold ratingHeader">Удобный интерфейс</div>
                        <div class="progress baseProgress statProgress">
                            <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <div class="fs-20px fw-semibold ratingHeader">Понравился поиск лотов</div>
                        <div class="progress baseProgress statProgress">
                            <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <div class="fs-20px fw-semibold ratingHeader">Техническая поддержка на связи</div>
                        <div class="progress baseProgress statProgress">
                            <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <div class="fs-20px fw-semibold ratingHeader">Техническая поддержка помогает</div>
                        <div class="progress baseProgress statProgress">
                            <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <div class="fs-20px fw-semibold ratingHeader">Простая регистрация</div>
                        <div class="progress baseProgress statProgress">
                            <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <div class="fs-20px fw-semibold ratingHeader">Аккредитация в среднем занимает:</div>

                        <div class="groupRatingProgress">
                            <div class="progress baseProgress statProgress">
                                <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <span class="progressComment">1 день</span>
                            </div>

                            <div class="progress baseProgress statProgress">
                                <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <span class="progressComment">2 день</span>
                            </div>

                            <div class="progress baseProgress statProgress">
                                <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <span class="progressComment">3 день</span>
                            </div>

                            <div class="progress baseProgress statProgress">
                                <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <span class="progressComment">4 день</span>
                            </div>

                            <div class="progress baseProgress statProgress">
                                <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <span class="progressComment">5 день</span>
                            </div>

                            <div class="progress baseProgress statProgress">
                                <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <span class="progressComment">5-10 день</span>
                            </div>

                            <div class="progress baseProgress statProgress">
                                <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <span class="progressComment">10 дней и более</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="baseHorizontalDivider"></div>
                </div>

                <div class="col-6">
                    <div class="baseHorizontalDivider"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="fw-bold fs-20px title">
                        <span class="me-2">2.</span>
                        <span class="ms-1">Дополнительные расходы</span>
                    </div>

                    <div class="fs-20px fw-semibold">Регистрация была простой для Вас?</div>
                    {{> ../../common/ui/Switch class="switchElement" name="" checked=false }}

                    <div class="fs-20px fw-semibold">Площадка предлагает оплатить «Ускоренную аккредитацию»?</div>
                    {{> ../../common/ui/Switch class="switchElement" name="" checked=false }}

                    <div class="fs-20px fw-semibold">Площадка взимает комиссию с участника?</div>
                    {{> ../../common/ui/Switch class="switchElement" name="" checked=false }}
                </div>

                <div class="col-6">
                    <div class="grayPanel ratingPanel">
                        <div class="fs-20px fw-semibold ratingHeader">Необходимость оплачивать OID</div>
                        <div class="progress baseProgress statProgress">
                            <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <div class="fs-20px fw-semibold ratingHeader">Взимают плату за «ускоренную аккредитацию»</div>
                        <div class="progress baseProgress statProgress">
                            <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <div class="fs-20px fw-semibold ratingHeader">Дополнительные комиссии с участников</div>
                        <div class="progress baseProgress statProgress">
                            <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="baseHorizontalDivider"></div>
                </div>

                <div class="col-6">
                    <div class="baseHorizontalDivider"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="fw-bold fs-20px title">
                        <span class="me-2">3.</span>
                        <span class="ms-1">Технические особенности</span>
                    </div>

                    <div class="fs-20px fw-semibold">Вас устраивает быстродействие площадки?</div>
                    {{> ../../common/ui/Switch class="switchElement" name="" checked=false }}

                    <div class="fs-20px fw-semibold">Вы сталкивались с техническими сбоями?</div>
                    {{> ../../common/ui/Switch class="switchElement" name="" checked=false }}

                    <div class="fs-20px fw-semibold">Подать заявку было сложно?</div>
                    {{> ../../common/ui/Switch class="switchElement" name="" checked=false }}

                    <div class="fs-20px fw-semibold">Настройка рабочего места прошла легко?</div>
                    {{> ../../common/ui/Switch class="switchElement" name="" checked=false }}
                </div>

                <div class="col-6">
                    <div class="grayPanel ratingPanel">
                        <div class="fs-20px fw-semibold ratingHeader">Быстродействие площадки</div>
                        <div class="progress baseProgress statProgress">
                            <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <div class="fs-20px fw-semibold ratingHeader">Надежность работы площадки</div>
                        <div class="progress baseProgress statProgress">
                            <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <div class="fs-20px fw-semibold ratingHeader">Сложность подачи заявки</div>
                        <div class="progress baseProgress statProgress">
                            <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <div class="fs-20px fw-semibold ratingHeader">Технические сложности при подготовке к работе на площадке</div>
                        <div class="progress baseProgress statProgress">
                            <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="baseHorizontalDivider"></div>
                </div>

                <div class="col-6">
                    <div class="baseHorizontalDivider"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="fw-bold fs-20px title">
                        <span class="me-2">4.</span>
                        <span class="ms-1">Возврат задатка</span>
                    </div>

                    <div class="form-check radioElement baseRadio">
                        <input class="form-check-input" type="radio" name="return_money" id="return_money_no_deposit"
                               value="no_deposit"/>
                        <label class="form-check-label" for="return_money_no_deposit">
                            Не принимают задаток
                        </label>
                    </div>

                    <div class="form-check radioElement baseRadio">
                        <input class="form-check-input" type="radio" name="return_money" id="return_money_1_day"
                               value="1_day" checked/>
                        <label class="form-check-label" for="return_money_1_day">
                            На 1 день
                        </label>
                    </div>

                    <div class="form-check radioElement baseRadio">
                        <input class="form-check-input" type="radio" name="return_money" id="return_money_2_day"
                               value="2_day"/>
                        <label class="form-check-label" for="return_money_2_day">
                            На 2 день
                        </label>
                    </div>

                    <div class="form-check radioElement baseRadio">
                        <input class="form-check-input" type="radio" name="return_money" id="return_money_3_day"
                               value="3_day"/>
                        <label class="form-check-label" for="return_money_3_day">
                            На 3 день
                        </label>
                    </div>

                    <div class="form-check radioElement baseRadio">
                        <input class="form-check-input" type="radio" name="return_money" id="return_money_4_day"
                               value="4_day"/>
                        <label class="form-check-label" for="return_money_4_day">
                            На 4 день
                        </label>
                    </div>

                    <div class="form-check radioElement baseRadio">
                        <input class="form-check-input" type="radio" name="return_money" id="return_money_5_day"
                               value="5_day"/>
                        <label class="form-check-label" for="return_money_5_day">
                            На 5 день
                        </label>
                    </div>

                    <div class="form-check radioElement baseRadio">
                        <input class="form-check-input" type="radio" name="return_money" id="return_money_more_5_day"
                               value="more_5_day"/>
                        <label class="form-check-label" for="return_money_more_5_day">
                            Более 5 дней
                        </label>
                    </div>

                    <div class="form-check radioElement baseRadio">
                        <input class="form-check-input" type="radio" name="return_money" id="return_money_no_returned"
                               value="no_returned"/>
                        <label class="form-check-label" for="return_money_no_returned">
                            Не вернули
                        </label>
                    </div>
                </div>

                <div class="col-6">
                    <div class="grayPanel ratingPanel">
                        <div class="fs-20px fw-semibold ratingHeader">Сроки возврата задатка:</div>

                        <div class="groupRatingProgress">
                            <div class="progress baseProgress statProgress">
                                <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <span class="progressComment">Не принимают задаток</span>
                            </div>

                            <div class="progress baseProgress statProgress">
                                <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <span class="progressComment">На 1 день</span>
                            </div>

                            <div class="progress baseProgress statProgress">
                                <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <span class="progressComment">На 2 день</span>
                            </div>

                            <div class="progress baseProgress statProgress">
                                <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <span class="progressComment">На 3 день</span>
                            </div>

                            <div class="progress baseProgress statProgress">
                                <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <span class="progressComment">На 4  день</span>
                            </div>

                            <div class="progress baseProgress statProgress">
                                <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <span class="progressComment">На 5 день</span>
                            </div>

                            <div class="progress baseProgress statProgress">
                                <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <span class="progressComment">Более 5 дней</span>
                            </div>

                            <div class="progress baseProgress statProgress">
                                <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <span class="progressComment">Не вернули</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="baseHorizontalDivider"></div>
                </div>

                <div class="col-6">
                    <div class="baseHorizontalDivider"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="fw-bold fs-20px title">
                        <span class="me-2">5.</span>
                        <span class="ms-1">Вы доверяете этой площадке?</span>
                    </div>

                    <div class="fs-20px fw-semibold">Настройка рабочего места прошла легко?</div>
                    {{> ../../common/ui/Switch class="switchElement" name="" checked=false }}

                    <div class="baseHorizontalDivider"></div>

                    <div class="d-flex mt-4">
                        <div class="baseButton baseButton_theme_blue baseButton_size_medium">Добавить мнение</div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="grayPanel ratingPanel">
                        <div class="fs-20px fw-semibold ratingHeader">Доверие к площадке</div>
                        <div class="progress baseProgress statProgress">
                            <div class="progress-bar" role="progressbar" data-label="25%" style="width: 25%"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> ../../layout/footer/Footer}}