{{> ../../layout/Hat}}

<div>
    <div class="container">
        {{> ../../common/breadcrumbs/Breadcrumbs}}

        <h2 class="header2">Реестр СРО</h2>

        <div class="page__block">
            {{> ../../common/forms/SearchForm}}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/sro-registry/SroRegistry }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/sro-registry/SroRegistry }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/sro-registry/SroRegistry }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/sro-registry/SroRegistry }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/sro-registry/SroRegistry }}
        </div>

        <div class="page__block containerFrame">
            {{> ../../common/personal-data-panel/sro-registry/SroRegistry }}
        </div>

        <div class="d-flex justify-content-center">
            {{> ../../common/pagination/Pagination}}
        </div>
    </div>
</div>

{{> ../../layout/footer/Footer}}