<div class="personalDataPanelMember d-flex justify-content-between">
    <div class="namePanel">
        {{> NamePanel}}
    </div>

    <div class="baseVerticalDivider"></div>

    {{> ../common/Experience}}

    <div class="baseVerticalDivider"></div>

    {{> ../common/ChartCategories}}

    <div class="baseVerticalDivider"></div>

    <div>
        <div class="color_9b9b9b mb-3 fw-semibold">
            Сумма
        </div>

        {{> ../../charts/stacked/Stacked }}
    </div>

    <div class="baseVerticalDivider"></div>

    {{> ../common/ChartParticipation}}

    <div class="baseVerticalDivider"></div>

    {{> ../common/ChartAuction}}

    <div class="baseVerticalDivider"></div>

    {{> ../common/ChartPublicOffers }}
</div>
