<div class="personalDataPanelMember d-flex flex-column flex-xxl-row justify-content-xxl-between">
    <div class="namePanel">
        {{> NamePanel}}
    </div>

    <div class="baseVerticalDivider d-none d-xxl-block"></div>
    <div class="baseHorizontalDivider d-xxl-none my-3"></div>

    {{> ../common/Experience}}

    <div class="baseVerticalDivider d-none d-xxl-block"></div>
    <div class="baseHorizontalDivider d-xxl-none my-3"></div>

    {{> ../common/ChartCategories}}

    <div class="baseVerticalDivider d-none d-xxl-block"></div>
    <div class="baseHorizontalDivider d-xxl-none my-3"></div>

    <div>
        <div class="color_9b9b9b mb-2 mb-lg-3 fw-semibold">
            Сумма
        </div>

        {{> ../../charts/stacked/Stacked }}
    </div>

    <div class="baseVerticalDivider d-none d-xxl-block"></div>
    <div class="baseHorizontalDivider d-xxl-none my-3"></div>

    {{> ../common/ChartParticipation}}

    <div class="baseVerticalDivider d-none d-xxl-block"></div>
    <div class="baseHorizontalDivider d-xxl-none my-3"></div>

    {{> ../common/ChartAuction}}

    <div class="baseVerticalDivider d-none d-xxl-block"></div>
    <div class="baseHorizontalDivider d-xxl-none my-3"></div>

    {{> ../common/ChartPublicOffers }}
</div>
