<div class="personalDataPanelMember d-flex flex-column flex-xl-row justify-content-xl-between">
    <div class="namePanel">
        {{> NamePanel}}
    </div>

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> ../common/Experience}}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> ../common/ChartCategories}}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> ../common/ChartStackedSum }}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> ../common/ChartParticipation}}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> ../common/ChartAuction}}

    <div class="baseVerticalDivider d-none d-xl-block mx-2"></div>
    <div class="baseHorizontalDivider d-xl-none my-3"></div>

    {{> ../common/ChartPublicOffers }}
</div>
