<div class="segment segment1 d-flex flex-column justify-content-between">
    <div>
        <span class="color_8cceef fs18px fw-semibold">Константинов Константин Константинович</span><br>
        <span class="color_9b9b9b fs14px">(ИНН:000000000000)</span>
    </div>
    <div class="mb-1">
        <div class="d-flex fw-semibold justify-content-between align-items-center"><span class="fs14px">Место в рейтинге:</span><span>1209</span></div>
        <div class="d-flex fw-semibold justify-content-between align-items-center"><span class="fs14px">Брокер Heveya.ru:</span><span>Да</span></div>
    </div>
    <div>
        {{> ../../location/Location }}
    </div>
</div>
