.offersHeader {
  margin: 0 0 40px;
  font-weight: bold;
}

.offers {
  background: #f5f5f5;
  padding: 40px 0 68px;
}

.offerHeader {
  font-size: 22px;
  font-weight: bold;
  padding: 24px 24px 0;
}

.offer {
  position: relative;
  width: 235px;
  height: 284px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;

  &:after {
    width: 200px;
    height: 100px;
    background: #8cceef;
    content: "";
    position: absolute;
    transform: rotate(45deg);
    bottom: -82px;
    left: -100px;
  }
}

.offerFooter {
  height: 40px;
}

.offerImage {
  -webkit-user-drag: none;
  user-select: none;
}

.offerFooterIcon {
  width: 24px;
  display: flex;
  background: url("./assets/images/icons/hammer.svg") no-repeat;
}
