.market {
  color: #ffffff;
  background-color: black;
  background-image: url("@styles/assets/images/pages/home/market/bg.jpg");
  background-size: cover;
  background-position: center center;
  padding: pxToRem(36) 0 pxToRem(20);

  &__moreInfo {
    margin: pxToRem(24) 0 0;

    @include breakpoint(md) {
      margin: pxToRem(43) 0 0;
    }

    @include breakpoint(xxl) {
      margin: 0;
    }
  }

  &__header {
    margin: 0 0 pxToRem(16);

    @include breakpoint(md) {
      margin: 0 0 pxToRem(20);
    }

    @include breakpoint(lg) {
      margin: 0 0 pxToRem(32);
    }
  }

  .chartsDesktop {
    display: none;

    @include breakpoint(xxl) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: pxToRem(250);
    }
  }

  .chartsTable {
    display: none;

    @include breakpoint(md) {
      display: block;
    }

    @include breakpoint(xxl) {
      display: none;
    }
  }

  .stats {
    .item {
      .name {
        font-size: pxToRem(24);
      }

      .value {
        font-size: pxToRem(40);
        font-weight: bold;
      }

      &:not(:last-child):after {
        content: "";
        border-right: 1px solid #ffffff;
        height: pxToRem(54);
        margin: 0 pxToRem(22);
      }
    }
  }

  .moreInfo {
    text-align: center;

    .link {
      color: #ef7f1a;
      font-weight: bold;
      line-height: pxToRem(54);
      text-decoration: none;
    }
  }
}

.marketFooter {
  position: relative;
  margin: pxToRem(50) 0 0;

  &_mobile {
    .item {
      border-left: 1px solid #ffffff;
      padding: 0 0 0 pxToRem(24);

      .name {
        font-size: pxToRem(16);
      }

      .value {
        font-size: pxToRem(30);
      }
    }
    @include breakpoint(md) {
      display: none;
    }
  }

  &_tablet {
    display: none;

    @include breakpoint(md) {
      display: flex;
    }

    @include breakpoint(xxl) {
      display: none;
    }
  }

  &_desktop {
    display: none;
    height: pxToRem(54);

    @include breakpoint(xxl) {
      display: flex;
    }
  }

  &__stats {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}