.offers {
  .grid {
    display: grid;
    grid-template-areas: "item-1 item-1 item-2"
                         "item-3 item-4 item-5"
                         "item-6 item-7 item-8"
                         "item-9 item-10 item-11";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: pxToRem(12);

    @include breakpoint(md) {
      grid-template-areas: "item-1 item-1 item-2 item-3 item-4 item-5"
                           "item-6 item-7 item-8 item-9 item-10 item-11";
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(6, 1fr);
      gap: pxToRem(18);
    }

    @include breakpoint(xl) {
      grid-template-areas: "item-1 item-2 item-2 item-5 item-6 item-7 item-10"
                         "item-1 item-3 item-4 item-5 item-8 item-9 item-10";
      grid-template-rows: repeat(2, 130px);
      grid-template-columns: repeat(7, 1fr);
      gap: pxToRem(25);
    }

    .itemWrapper {
      .title {
        color: #161616;
      }

      .location {
        color: #434343;
        display: flex;
        align-items: center;
      }
    }

    .item {
      width: 100%;
      height: pxToRem(80);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 20px;
      color: #161616;

      @include breakpoint(xl) {
        height: 100%;
      }

      .location {
        display: none;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        color: #434343;
        font-size: pxToRem(12);

        @include breakpoint(xl) {
          display: flex;
        }
      }

      .title {
        margin: 0 0 pxToRem(10) 0;
        font-size: pxToRem(16);

        @include breakpoint(xxl) {
          font-size: pxToRem(18);
        }
      }

      .icon {
        color: #8ccdee;
        user-select: none;
        -webkit-user-drag: none;
      }
    }

    .item1 {
      grid-area: item-1;

      @include breakpoint(xl) {
        .title {
          margin: pxToRem(40) 0 pxToRem(10) 0;
        }

        .item {
          justify-content: start;
          padding-top: 50px;

          > .icon {
            width: pxToRem(75);
          }
        }
      }

      @include breakpoint(xxl) {
        .item {
          > .icon {
            width: pxToRem(90);
          }
        }
      }
    }

    .item2 {
      grid-area: item-2;

      @include breakpoint(xl) {
        .item {
          flex-direction: row;

          > .icon {
            margin: 0 pxToRem(45) 0 0;
            width: pxToRem(50);
          }
        }

        @include breakpoint(xxl) {
          .item {
            > .icon {
              width: pxToRem(60);
            }
          }
        }

        .location {
          justify-content: start;
        }
      }
    }

    .item3 {
      grid-area: item-3;
    }

    .item4 {
      grid-area: item-4;
    }

    .item5 {
      grid-area: item-5;

      @include breakpoint(xl) {
        .item {
          justify-content: start;
          padding-top: 30px;

          > .icon {
            width: pxToRem(65);
          }

          .title {
            margin: pxToRem(24) 0 pxToRem(10) 0;
          }
        }
      }

      @include breakpoint(xxl) {
        .item {
          > .icon {
            width: pxToRem(75);
          }
        }
      }
    }

    .item6 {
      grid-area: item-6;
    }

    .item7 {
      grid-area: item-7;
    }

    .item8 {
      grid-area: item-8;
    }

    .item9 {
      grid-area: item-9;
    }

    .item10 {
      grid-area: item-10;

      @include breakpoint(xl) {
        .item {
          padding-top: 30px;
          justify-content: start;

          > .icon {
            width: pxToRem(70);
          }

          .title {
            margin: pxToRem(24) 0 pxToRem(10) 0;
          }
        }
      }

      @include breakpoint(xxl) {
        .item {
          > .icon {
            width: pxToRem(85);
          }
        }
      }
    }
  }
}

.offersHeader {
  margin: 0 0 40px;
  font-weight: bold;
}

.offers {
  background: #f5f5f5;
  padding: 40px 0 25px;

  @include breakpoint(md) {
    padding: 40px 0 40px;
  }

  @include breakpoint(lg) {
    padding: 40px 0 0;
  }
}

.offerHeader {
  font-size: 22px;
  font-weight: bold;
  padding: 24px 24px 0;
}

.offer {
  position: relative;
  width: 235px;
  height: 284px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;

  &:after {
    width: 200px;
    height: 100px;
    background: #8cceef;
    content: "";
    position: absolute;
    transform: rotate(45deg);
    bottom: -82px;
    left: -100px;
  }
}

.offerFooter {
  height: 40px;
}

.offerImage {
  -webkit-user-drag: none;
  user-select: none;
}

.offerFooterIcon {
  display: flex;

  .iconWrapper {
    border-radius: 20px;
    background-color: #e4f6ff;
    width: pxToRem(16);
    height: pxToRem(16);

    .icon {
      color: #8cceef;
      width: pxToRem(10);
      height: pxToRem(10);
    }

    @include breakpoint(xl) {
      width: pxToRem(24);
      height: pxToRem(24);

      .icon {
        width: pxToRem(12);
        height: pxToRem(12);
      }
    }
  }
}

.show-all-offers {
  margin: pxToRem(28) 0 0 0;
}