<div class="debtor mb-3">
    <div class="mb-2">
        <span class="color_9b9b9b fw-bold">Должник:</span><br>
        <span class="color_0f0f0f fw-bold companyName">ООО «Ромашка»</span>
    </div>

    <div class="d-flex flex-column flex-md-row mb-md-2 flex-lg-column flex-xl-row">
        <span class="me-3 mb-2 mb-md-0">
            <span class="color_9b9b9b fw-bold me-2">ИНН:</span>
            <span class="color_0f0f0f">456151225467</span>
        </span>

        <span class="mb-2 mb-md-0 ms-md-3 ms-lg-0 flex-xxl-4">
            <span class="color_9b9b9b fw-bold me-2">Дело о банкротстве:</span>
            <span class="color_0f0f0f">А42-8731/2021</span>
        </span>
    </div>

    <div class="d-flex flex-column flex-xl-row">
        <div class="mb-2 mb-lg-0">
            <span class="color_9b9b9b fw-bold me-2">Адрес:</span>
            <span class="color_0f0f0f">Мурманская область, 172390, Тверская область, г. Ржев, ул. Ленина, д. 18, кв. 13</span>
        </div>

        <div class="ms-xxl-4">
            <a href="#" class="allLots color_9b9b9b fw-bold ws-nowrap">
                {{> ../../../common/icons/documents/Documents class="icon"}}
                <span class="ms-2">Все лоты должника</span>
            </a>
        </div>
    </div>
</div>
