<div class="bidInfoMobile">
    <div class="mb-2 grid">
        <span class="gridArea1 number fw-bold">Лот: 18-24-5186972</span>
        <span class="gridArea2 fw-bold">{{> ../../../common/location/Location }}</span>
        <span class="gridArea3">Имущество должников (банкротство)</span>
        <span class="gridArea4">Опубликовано: 21.03.2022</span>
        <span class="gridArea5">Завершение до: 25.12.2023</span>
    </div>

    {{> Slider id="sliderBidInfoMobile" }}

    <div class="bidInfoMobile__description">
        {{> ../Description }}
    </div>

    {{> ../PricesColumn }}

    <div class="bidInfoMobile__debtor mb-3">
        {{> Debtor }}
    </div>

    <div class="contacts">
        {{> ../contacts/item/Mobile }}
        {{> ../contacts/item/Mobile }}
        {{> ../contacts/item/Mobile }}
    </div>

    <div class="bidInfoMobile__supportBlock">
        {{> ../SupportBlock }}
    </div>
</div>