<div class="marketFooter marketFooter_tablet flex-column align-items-center">
    <div class="stats d-flex">
        <div class="item d-flex align-items-center">
            <div class="d-flex flex-column">
                <span class="name">Всего торгов</span>
                <span class="value">3 000 000</span>
            </div>
        </div>
        <div class="item d-flex align-items-center">
            <div class="d-flex flex-column">
                <span class="name">Состоялось</span>
                <span class="value">2 549 545</span>
            </div>
        </div>
        <div class="item d-flex align-items-center">
            <div class="d-flex flex-column">
                <span class="name">На сумму</span>
                <span class="value rouble">99 056 025</span>
            </div>
        </div>
    </div>

    {{> MoreInfo }}
</div>
