<div class="marketFooter marketFooter_mobile flex-column align-items-center">
    <div class="stats">
        <div class="item d-flex align-items-start">
            <div class="d-flex flex-column">
                <span class="name">Всего торгов</span>
                <span class="value">&gt; 3 000 000</span>
            </div>
        </div>
    </div>

    {{> MoreInfo }}
</div>
