<div class="market">
    <div class="container-lg">
        <h2 class="header2 market__header">Рынок торгов в цифрах</h2>

        <div class="d-flex justify-content-between">
            <div class="homeBiddingNumbers1Mobile d-md-none" style="width: 100%; height: 220px"></div>
            <div class="homeBiddingNumbers1 chartsTable" style="width: 100%; height: 250px"></div>

            <div class="chartsDesktop w-100">
                <div class="homeBiddingNumbers1 w-100 h-100"></div>
                <div class="homeBiddingNumbers2 w-100 h-100"></div>
                <div class="homeBiddingNumbers3 w-100 h-100"></div>
            </div>
        </div>

        {{> FooterMobile }}
        {{> FooterTablet }}
        {{> FooterDesktop }}
    </div>
</div>