<ul class="tags list-unstyled m-0 pt-2">
    <li class="tags__item itemWrapper">{{> Item text="Регион: Москва"}}</li>
    <li class="tags__item itemWrapper">{{> Item text="Направление: Банкротство"}}</li>
    <li class="tags__item itemWrapper">{{> Item text="Категория: Жилая недвижимость"}}</li>
    <li class="tags__item itemWrapper">{{> Item text="Форирование цены: Аукцион"}}</li>
    <li class="tags__item itemWrapper">{{> Item text="Сортировать по: Популярности"}}</li>
</ul>