

.selectBrokerPage {
  .profile {
    width: pxToRem(430);
  }

  .ordersCompleted {
    width: pxToRem(220);

    .number {
      font-size: pxToRem(32);
    }

    .baseHorizontalDivider {
      margin: pxToRem(20) 0;
    }
  }
}
