.selectBrokerPage {
  &__managersHeader {
    margin: pxToRem(20) 0 pxToRem(12);

    @include breakpoint(md) {
      margin: pxToRem(40) 0 pxToRem(20);
    }
  }

  .profile {
    @include breakpoint(xxl) {
      width: pxToRem(430);
    }
  }

  .ordersCompleted {
    @include breakpoint(xxl) {
      width: pxToRem(220);
    }

    .number {
      font-size: pxToRem(32);
    }

    .baseHorizontalDivider {
      margin: pxToRem(20) 0;
    }
  }

  .brokerContainer {
    padding: pxToRem(20) pxToRem(16);

    @include breakpoint(xxl) {
      padding: pxToRem(25);
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: pxToRem(20);

    @include breakpoint(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(xxl) {
      grid-template-columns: 1fr;
    }
  }
}
