.itemButton {
  border-radius: 5px;
  height: pxToRem(60);
  background-color: #f3f3f3;
  color: #434343;
  font-size: pxToRem(18);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: pxToRem(18) pxToRem(32);
  position: relative;

  &__pill, &__exclamation {
    position: absolute;
    top:50%;
    right: pxToRem(32);
    transform: translateY(-50%);
  }

  &:hover {
    background-color: #f5f5f5;
  }

  &_active {
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
    cursor: default;

    &:hover {
      background-color: #ffffff;
    }
  }

  .iconExclamation {
    color: #fc2c2c;
    width: pxToRem(25);
    height: pxToRem(25);
  }
}
