<div class="articles">
    <div class="container">
        <h2 class="header2 articles__header">Статьи</h2>

        <div class="d-lg-none wrapper">
            <div class="mobileBlock__article">
                {{> Article }}
            </div>

            <div class="mobileBlock__article">
                {{> Article }}
            </div>

            <div class="d-flex justify-content-center readAll">
                <div class="baseButton baseButton_theme_orange w-auto">Все статьи</div>
            </div>
        </div>

        <div class="wrapper d-none d-lg-block">
            <div class="row">
                <div class="itemColumn col-4">
                    {{> Article }}
                </div>

                <div class="itemColumn col-4">
                    {{> Article }}
                </div>

                <div class="itemColumn col-4">
                    {{> Article }}
                </div>
            </div>

            <div class="row">
                <div class="itemColumn col-4">
                    {{> Article }}
                </div>

                <div class="itemColumn col-4">
                    {{> Article }}
                </div>

                <div class="itemColumn col-4">
                    {{> Article }}
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-center readAll">
                        <div class="baseButton baseButton_theme_orange w-auto">Все статьи</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
