.ratePage {
  padding: 0 0 pxToRem(65);

  .quizBlock {
    .title {
      margin: 0 0 pxToRem(32);
    }

    .baseHorizontalDivider {
      margin: pxToRem(12) 0;
    }
  }

  .switchElement {
    margin: pxToRem(19) 0 pxToRem(32);
  }

  .radioElement {
    margin: pxToRem(30) 0 0;
  }

  .quizHeader {
    margin: 0 0 pxToRem(40);
  }

  .baseHorizontalDivider {
    margin: pxToRem(20) 0;
  }

  .pieWithLogo {
    position: relative;

    .icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .statHeader {
    margin: 0 0 pxToRem(20);
    color: #0F0F0F;
  }

  .statProgress:not(:last-child) {
    margin: 0 0 pxToRem(46);
  }

  .groupProgress {
    .progressComment {
      font-size: pxToRem(16);
      position: absolute;
      right: 0;
      top: 20px;
      color: #434343;
    }


    .statProgress:not(:last-child) {
      margin: 0 0 pxToRem(41);
    }
  }
}