<div class="accountSidebar">
    <div class="accountSidebar__item">
        {{> Item title="МОИ ЗАДАНИЯ" link="#" }}
    </div>

    <div class="accountSidebar__item">
        {{> Item title="МОИ ЗАЯВКИ" link="#" }}
    </div>

    <div class="accountSidebar__item">
        {{> Item title="ИЗБРАННОЕ" link="#" }}
    </div>

    <div class="accountSidebar__item">
        {{> Item title="МОЙ ПРОФИЛЬ" link="#" }}
    </div>

    <div class="accountSidebar__item">
        {{> Item title="МОИ УСЛУГИ И ТАРИФЫ" link="#" isActive=true }}
    </div>

    <div class="accountSidebar__item">
        {{> Item title="МОИ КЛИЕНТЫ" link="#" }}
    </div>

    <div class="accountSidebar__item">
        {{> Item title="НАСТРОИТЬ АВТОПОДБОР ЛОТОВ" link="#" }}
    </div>

    <div class="accountSidebar__item">
        {{> Item title="НАСТРОИТЬ УВЕДОМЛЕНИЯ" link="#" }}
    </div>

    <div class="accountSidebar__item">
        {{> Item title="ПОПОЛНИТЬ БАЛАНС" title2="230 ₽" link="#" }}
    </div>

    <div class="accountSidebar__item">
        {{> Item title="ИСТОРИЯ ПЛАТЕЖЕЙ" link="#" }}
    </div>

    <div class="accountSidebar__item">
        {{> Item title="МОИ ЗАВЕРШЕННЫЕ ТОРГИ" link="#"}}
    </div>

    <div class="accountSidebar__item">
        {{> Item title="МОИ ЗАВЕРШЕННЫЕ ЗАДАНИЯ" link="#" }}
    </div>
</div>
