<div class="accountSidebar">
    <div class="accountSidebar__item">
        {{> Item title="мои заявки" link="/" counter=12 isActive=true }}
    </div>

    <div class="accountSidebar__item">
        {{> Item title="избранное" link="/" }}
    </div>

    <div class="accountSidebar__item">
        {{> Item title="мой профиль" link="/" exclamation=true }}
    </div>

    <div class="accountSidebar__item">
        {{> Item title="СМЕНИТЬ ПРОФИЛЬ" link="/" }}
    </div>

    <div class="accountSidebar__item">
        {{> Item title="СОЗДАТЬ НОВЫЙ ПРОФИЛЬ" link="/" }}
    </div>

    <div class="accountSidebar__item">
        {{> Item title="НАСТРОИТЬ АВТОПОДБОР ЛОТОВ" link="/" }}
    </div>

    <div class="accountSidebar__item">
        {{> Item title="НАСТРОИТЬ УВЕДОМЛЕНИЯ" link="/" }}
    </div>

    <div class="accountSidebar__item">
        {{> Item title="ИСТОРИЯ ПЛАТЕЖЕЙ" link="/" }}
    </div>

    <div class="accountSidebar__item">
        {{> Item title="МОИ ЗАВЕРШЕННЫЕ ТОРГИ" link="/" }}
    </div>

    <div class="accountSidebar__item">
        {{> Item title="МОИ ПРЕДЛОЖЕНИЯ СОВМЕСТНОЙ ПОКУПКИ" link="/" }}
    </div>

    <div class="accountSidebar__item">
        {{> Item title="МОИ АУКЦИОННЫЕ БРОКЕРЫ" link="/" }}
    </div>
</div>
