<div class="breadcrumbs d-flex align-items-center">
    <span class="item"><a href="/" class="link">Главная</a></span>
    <span class="item"><a href="/" class="link">Имущество должников</a></span>
    <span class="item">Легковой транспорт</span>
</div>