<div class="catalogToggleView d-flex">
    <div class="mode mode_tiles {{#if tiles}}mode_active{{/if}}">
        {{> ../../common/icons/tiles/Tiles class="icon"}}
    </div>

    <div class="mode mode_lines {{#if lines}}mode_active{{/if}}">
        {{> ../../common/icons/lines/Lines class="icon"}}
    </div>
</div>
