{{> ../../layout/Hat}}

<div class="page">
    <div class="container-lg">
        {{> ../../common/breadcrumbs/Breadcrumbs}}

        <h1 class="header1 page__block">Имущественные торги в цифрах</h1>

        <div class="pieChartBiddingNumbers" style="width: 450px; height: 350px;"></div>
    </div>
</div>

{{> ../../layout/Footer}}