{{> ../../layout/Hat endpoint=true withBorder=true}}

<div class="page biddingNumbersPage">
    <div class="container">
        {{> ../../common/breadcrumbs/Breadcrumbs}}

        <h1 class="header1">Имущественные торги в цифрах</h1>

        <div class="containerFrame page__block">
            <div class="row">
                <div class="col-12 col-xl-6">
                    <h3 class="header3 text-center">Количество лотов 2022 г.</h3>

                    {{> PieChart}}
                </div>

                <div class="col-12 col-xl-6 mt-4 mt-xxl-0">
                    <h3 class="header3 text-center">Сумма ₽ 2022 г.</h3>

                    {{> PieChart}}
                </div>
            </div>
        </div>

        <div class="containerFrame align-items-stretch page__block d-xl-flex justify-content-between">
            <div class="d-flex mb-2 mb-xl-0">
                <div>Транспорт и техника</div>
                <div class="ms-2 fw-bold">17%</div>
            </div>

            <div class="baseVerticalDivider d-none d-xl-block"></div>

            <div class="d-flex mb-2 mb-xl-0">
                <div>Жилая недвижимость</div>
                <div class="ms-2 fw-bold">13%</div>
            </div>

            <div class="baseVerticalDivider d-none d-xl-block"></div>

            <div class="d-flex mb-2 mb-xl-0">
                <div>Коммерческая недвижимость</div>
                <div class="ms-2 fw-bold">11%</div>
            </div>

            <div class="baseVerticalDivider d-none d-xl-block"></div>

            <div class="d-flex mb-2 mb-xl-0">
                <div>Оборудование</div>
                <div class="ms-2 fw-bold">8%</div>
            </div>

            <div class="baseVerticalDivider d-none d-xl-block"></div>

            <div class="d-flex mb-2 mb-xl-0">
                <div>Права требования</div>
                <div class="ms-2 fw-bold">16%</div>
            </div>

            <div class="baseVerticalDivider d-none d-xl-block"></div>

            <div class="d-flex">
                <div>Прочее</div>
                <div class="ms-2 fw-bold">12%</div>
            </div>
        </div>

        <div class="containerFrame page__block">
            <div class="row">
                <div class="col-12 col-xl-6">
                    <h3 class="header3 text-center">Количество лотов 2022 г.</h3>

                    {{> PieChart}}
                </div>

                <div class="col-12 col-xl-6 mt-4 mt-xxl-0">
                    <h3 class="header3 text-center">Сумма ₽ 2022 г.</h3>

                    {{> PieChart}}
                </div>
            </div>
        </div>

        <h2 class="header2 text-center mt-5">
            Реализация имущества должников (127-ФЗ «О несостоятельностибанкротства»)
        </h2>

        <div class="containerFrame page__block">
            <div class="row">
                <div class="col-12 col-xl-6">
                    <div class="debtorsChart chartContainer chartContainer_mh_300"></div>
                </div>

                <div class="col-12 col-xl-6">
                    <div class="averageOfferSumChart chartContainer chartContainer_mh_300"></div>
                </div>
            </div>
        </div>

        <div class="containerFrame page__block mt-5">
            <div class="row">
                <div class="col-12 col-xl-6">
                    <div class="biddingNumbersChart3 chartContainer chartContainer_mh_300"></div>
                </div>

                <div class="col-12 col-xl-6">
                    <div class="biddingNumbersChart4 chartContainer chartContainer_mh_300"></div>
                </div>
            </div>
        </div>

        <div class="page__block mt-5">
            {{> ../../common/tables/regions-summary/RegionsSummary header="Сводка по регионам" }}
        </div>

        <div class="mb-3">
            {{ FormChartSettings }}
        </div>

        <div class="containerFrame page__block">
            {{> ../../common/charts/AuctionGroup header="Аукцион"}}
        </div>

        <div class="containerFrame page__block">
            {{> ../../common/charts/AuctionGroup header="Публичное предложение"}}
        </div>


        {{> Summary header="Торги Арестованным имуществом 229-ФЗ «Об исполнительном производстве»»"}}

        {{> Summary header="Приватизация 178-ФЗ «О приватизации государственного и муниципального имущества»"}}

        {{> Summary header="Муниципальная аренда"}}

        {{> Summary header="Имущество обращенное в собственность Государства"}}

        {{> Summary header="Торги по земельному кодексу"}}
    </div>
</div>

{{> ../../layout/footer/Footer withBorder=true}}