<div class="d-flex align-items-center flex-column flex-xxl-row">
    <div class="pieChartBiddingNumbers"></div>

    <div class="d-md-flex justify-content-center d-xxl-block mt-3 mt-xxl-0 ms-xxl-3">
        <div>
            <div class="mb-2">
                {{>../../common/personal-data-panel/common/ChartLegendRow name="Торги по банкротству" value="15%" iconStyle="color: #7cd1fb"}}
            </div>
            <div class="mb-2">
                {{>../../common/personal-data-panel/common/ChartLegendRow name="Арестованное имущество" value="20%" iconStyle="color: #1a2fef"}}
            </div>
            <div class="mb-2">
                {{>../../common/personal-data-panel/common/ChartLegendRow name="Арестованное имущество" value="10%" iconStyle="color: #ef1ac0"}}
            </div>
            <div class="mb-2">
                {{>../../common/personal-data-panel/common/ChartLegendRow name="Муниципальная аренда" value="12%" iconStyle="color: #ef1a27"}}
            </div>
            <div class="mb-2">
                {{>../../common/personal-data-panel/common/ChartLegendRow name="Обращение в собственное государства" value="14%" iconStyle="color: #ebef1a"}}
            </div>
            <div class="mb-2">
                {{>../../common/personal-data-panel/common/ChartLegendRow name="Земельный кодекс" value="19%" iconStyle="color: #27bd0f"}}
            </div>
            <div>
                {{>../../common/personal-data-panel/common/ChartLegendRow name="Прочее" value="10%" iconStyle="color: #434343"}}
            </div>
        </div>
    </div>
</div>
