<div class="page__block">
    <h2 class="header2 bigHeader">{{header}}</h2>
</div>

<div class="containerFrame page__block">
    <div class="row">
        <div class="col-12 col-xxl-6">
            <div class="biddingNumbersChart3 chartContainer chartContainer_mh_300"></div>
        </div>

        <div class="col-12 col-xxl-6">
            <div class="biddingNumbersChart4 chartContainer chartContainer_mh_300"></div>
        </div>
    </div>
</div>

<div class="page__block mt-5">
    {{> ../../common/tables/regions-summary/RegionsSummary header="Сводка по регионам" }}
</div>


<div class="page__block">
    <h2 class="header2 mb-4 biddingResultsHeader">Результаты торгов</h2>

    <div class="mb-3">
        {{ FormChartSettings }}
    </div>

    <div class="containerFrame">
        <div class="row">
            <div class="col-12 col-xxl-6">
                <div class="auctionBlockChart1 chartContainer chartContainer_mh_300"></div>
            </div>

            <div class="col-12 col-xxl-6">
                <div class="auctionBlockChart2 chartContainer chartContainer_mh_300"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xxl-6">
                <div class="auctionBlockChart3 chartContainer chartContainer_mh_300"></div>
            </div>

            <div class="col-12 col-xxl-6">
                <div class="auctionBlockChart4 chartContainer chartContainer_mh_300"></div>
            </div>
        </div>
    </div>
</div>