{{> ../../layout/Hat endpoint=true withBorder=true}}

<div class="memberPage page overflow-hidden">
    <div class="container">
        {{> ../../common/breadcrumbs/Breadcrumbs}}

        <h1 class="header1">Участник торгов Константинов Константин Константинович</h1>

        <div class="page__block d-flex justify-content-center d-xxl-block">
            <div class="containerFrame flex-xl-grow-1">
                {{> ../../common/personal-data-panel/member/Member }}
            </div>
        </div>

        <div
            class="d-flex align-items-xl-center justify-content-between containerFrame page__block flex-column flex-xl-row">
            <div class="nameValuePair">
                <span class="name">Максимальная сумма сделки:</span>
                <span class="value">5 000 ₽</span>
            </div>

            <div class="nameValuePair">
                <span class="name">Количество площадок:</span>
                <span class="value">22</span>
            </div>

            <div class="nameValuePair">
                <span class="name">Средняя сумма договора:</span>
                <span class="value">6 000 ₽</span>
            </div>
        </div>

        <div class="containerFrame page__block">
            <h3 class="header2 text-center mb-4">Аукцион</h3>
            <div class="row">
                <div class="col-12 cl-md-6">
                    <div class="biddingChart chartContainer"></div>
                </div>
                <div class="col-12 cl-md-6">
                    <div class="winsChart chartContainer"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 cl-md-6">
                    <div class="averagePriceChart chartContainer"></div>
                </div>
                <div class="col-12 cl-md-6">
                    <div class="averageDerivativePriceChart chartContainer"></div>
                </div>
            </div>
        </div>

        <div class="containerFrame page__block">
            {{> ../../common/charts/AuctionGroup header="Публичное предложение"}}
        </div>

        <div class="containerFrame page__block">
            <h2 class="tableHeader header2 text-center">Карта участий</h2>

            {{> ../../common/top10/Top10}}
        </div>

        <div class="charts containerFrame page__block">
            <h2 class="header header2 text-center">Сфера интересов</h2>

            <div class="d-flex align-items-center flex-column flex-xl-row overflow-hidden">
                <div>
                    <h3 class="header3 text-center">Аукцион</h3>
                    <div class="interestIncreaseChart" style="width: 400px; height: 300px"></div>
                </div>

                <div class="flex-grow-1 w-100 w-md-auto">
                    <div class="interestsTableWrapper">
                        {{> ../../common/tables/interests-sphere/Increase}}
                    </div>
                </div>
            </div>


            <div class="d-flex align-items-center flex-column flex-xl-row mt-4 mt-xl-0 overflow-hidden">
                <div>
                    <h3 class="header3 text-center">Публичное предложение</h3>
                    <div class="interestDecreaseChart" style="width: 400px; height: 300px"></div>
                </div>

                <div class="flex-grow-1 w-100 w-md-auto">
                    <div class="interestsTableWrapper">
                        {{> ../../common/tables/interests-sphere/Decrease}}
                    </div>
                </div>
            </div>
        </div>

        <h3 class="header2 page__block">Анализ юридического лица ООО «Ювс»</h3>

        <div class="analyzeCompany page__block">
            <div class="page__block">
                {{> ../analyze-company/stats/Stats }}
            </div>

            <div class="page__block containerFrame">
                {{> ../analyze-company/contacts/Contacts }}
            </div>

            <div class="page__block">
                {{> ../analyze-company/charts/Charts }}
            </div>

            <div class="page__block">
                {{> ../analyze-company/court-cases/CourtCases}}
            </div>

            <div class="page__block">
                {{> ../analyze-company/court-cases/CourtExecutions}}
            </div>

            <div class="page__block">
                {{> ../../common/lots-list/LotsList}}
            </div>
        </div>
    </div>
</div>

{{> ../../layout/footer/Footer withBorder=true }}