{{> ../../layout/Hat}}

<div class="mapPage overflow-hidden">
    <div class="container-lg">
        {{> ../../common/breadcrumbs/Breadcrumbs}}

        <h1 class="header1">Участник торгов Константинов Константин Константинович</h1>
    </div>
</div>

{{> ../../layout/Footer}}